@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.select-trending-music{

  .dropdown{
    background: $color-tundora;
    border-bottom: 1px solid #000;
    color: #fff;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
  }

  .dropdown__trigger{
    padding: 5px 0 5px 20px;
    position: relative;

    &:after{

      content: '';
      position: absolute;
      top: 10px;
      right: 8px;
      border: 4px solid transparent;
      border-top: 7px solid #fff;
      display: block;
      width: 0;
      height: 0;

      @include breakpoint('phone-max') {
        top: 15px;
      }
    }

    @include breakpoint('phone-max') {
      padding: 10px 0 10px 12px;
    }
  }

  &__left{
    margin-right: 10px;

    @include breakpoint('phone-max') {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  &__right,
  &__left{
    width: 188px;
    display: inline-block;
    vertical-align: middle;

    @include breakpoint('phone-max') {
      display: block;
      float: none;
      width: 264px;
    }
  }


}