@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.episodes{
  background: #fff;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #DEDEDE;

  @include breakpoint('phone-max') {
    margin-bottom: 9px;
    border-radius: 0px;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F3F3;
    padding: 20px 10px 18px 20px;

    @include breakpoint('phone-max') {
      margin-bottom: 0px;
    }
  }
  .edit_episode_btn {
    padding: 10px 5px;
  }
  &__title{
    font-size: 17px;
    line-height: 20px;
    color: #A4A6B6;
    letter-spacing: -0.7px;
    margin: 0;
    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 14px;
    }
  }

  &__add{
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    cursor: pointer;
    letter-spacing: -0.5px;
    margin-right: 20px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  &__list{
    // border: 1px solid $color-mercury-light;
  }

  &__item{
    border-bottom: 1px solid #F3F3F3;
    padding: 4px 0px 7px 0px;
    display: table;
    width: 100%;

    @include breakpoint('phone-max') {
      padding: 10px 0 10px 20px;
    }

    &:last-child{
      border: none;
    }

    &:hover {
      background-color: $color-wild-sand;
    }

    a{
      display: table;
      width: 100%;
      padding: 12px 0 9px 22px;

      @include breakpoint('phone-max') {
        padding: 12px 0 9px 0;
      }

      &:hover {
        color: $color-astral;
      }
      text-decoration: none !important;
    }
  }

  &__name{
    font-size: 16px;
    line-height: 19px;
    display: table-cell;
    width: 45%;
    text-align: left;
    vertical-align: middle;
    padding-right: 15px;
    letter-spacing: -0.7px;
    color: $brand-black;

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 12px;
      width: 40%;
    }
  }

  &__date{
    @include font-base-light;
    font-size: 14px;
    line-height: 17px;
    color: $color-dusty-gray;
    display: table-cell;
    width: 9%;
    vertical-align: middle;
    padding-right: 2%;
    letter-spacing: -0.7px;

    @include breakpoint('phone-max') {
      font-size: 8px;
      line-height: 10px;
      width: 23%;
    }
  }

  &__release-date {
    color: $color-grey;
    display: table-cell;
    width: 12%;
    letter-spacing: -0.7px;
    font-size: 12px;

  }
  &__songs,
  &__episodes{
    letter-spacing: -0.7px;
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    color: $color-purple-brand;
    font-size: 12px;

    a{
      @include font-base-light;
      font-size: 14px;
      line-height: 17px;

      &:hover{
        text-decoration: none;
      }

      @include breakpoint('phone-max') {
        font-size: 8px;
        line-height: 10px;
        display: block;
      }
    }

    @include breakpoint('phone-max') {
      width: 13%;
    }
  }

  &__episodes{
    letter-spacing: -0.7px;
    padding-right: 2%;
    font-size: 12px;
    width: 15%;
    display: none;

    @include breakpoint('phone-max') {
      width: 19%;
    }
  }

}
