@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.edit-page-btn{
  position: relative;
  margin-top: 14px;
  margin-bottom: 14px;

  .btn{
    display: block;
    width: 100%;
    height: 56px;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
  }
}
