@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.fixed-AD{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  height: 100px;
  overflow: hidden;
  .icon-font-close-player {
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    font-size: 30px;
    line-height: 32px;
    color: $color-dusty-gray;
    cursor: pointer;
  }
  & > ins {
    margin: 0 auto !important;
  }
}
