@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.contact-us{

  @include breakpoint('phone-max') {
    padding: 15px;
  }

  h1{
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
    @include font-base-semi-bold;
  }

  h2{
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 10px;
    @include font-base-semi-bold;
  }

  p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}