@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

$form-select: 'form-select';

.#{$form-select} {
  &-contents {
    &--persona,
    &--industry {
      height: 200px !important;
    }

    &--stage {
     height: 100px !important;
    }

    &--filter {
      &-persona,
      &-industry,
      &-stage {
        height: 70px !important;
      }
    }
  }
}
