@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

//.loader-wrapp:nth-child(2n-1){
//  background-color: rgba(0,0,0,0.05);
//}

.loader-wrapp{
  position: relative;
  text-align: center;
  margin:0 auto;
  max-width: 80px;

  &--type2{
    text-align: center;
    margin:0 auto;
    max-width: 80px;
  }

  &--type1{
    position: absolute;
    right:15px;
    top:4px;
    width: 20px;
    z-index:3;

    @include breakpoint('phone-max') {
      right:45px;
    }


    .loader{
      width: 14px;
      height: 14px;
      border-radius: 50px;
      background-color: rgba(255, 0, 0, .08);
      border-width: 14px;
      border-color: transparent $color-flamingo;
    }
  }

  &--type3{
    position: absolute;
    right:110px;
    top:13px;
    width: 20px;
    z-index:3;

    //@include breakpoint('phone-max') {
    //  right:45px;
    //}


    .loader{
      width: 14px;
      height: 14px;
      border-radius: 50px;
      background-color: rgba(255, 0, 0, .08);
      border-width: 14px;
      border-color: transparent $color-flamingo;
    }
  }

  &--type4{
    width: 20px;
    z-index:3;
    margin-right: 17px;

    @include breakpoint('phone-max') {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX (-50%);
    }




    .loader{
      width: 14px;
      height: 14px;
      border-radius: 50px;
      background-color: rgba(255, 0, 0, .08);
      border-width: 14px;
      border-color: transparent $color-flamingo;
    }
  }
}


/* -------------- loader8 -------------- */

.loader{
  position: relative;
  width: 80px;
  height: 80px;

  border-radius: 50px;
  background-color: rgba(255, 0, 0, .2);
  border-width: 40px;
  border-style: double;
  border-color:transparent $color-flamingo;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  -webkit-transform-origin:  50% 50%;
  transform-origin:  50% 50% ;
  -webkit-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;

}

@-webkit-keyframes loader{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

