@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.official-soundtrack{

  background: #fff;
  border-radius: 6px;
  padding: 17px 0 7px;
  margin-top: 16px;
  margin-bottom:16px;
  border: 1px solid #DEDEDE;
  letter-spacing: -0.7px;

  @include breakpoint('phone-max') {
    padding: 13px 0 3px;
    border-radius: 0px;
  }

  &__content{
    padding-top: 10px;
    border-bottom: 1px solid #F3F3F3;

    &:last-child{
      border: none;
    }

    @include breakpoint('phone-max') {
      padding-top: 10px;
    }
  }

  &__links{
    float: right;

    @include breakpoint('phone-max')  {
      float: left;
      padding-top: 10px;
    }

    @include breakpoint('phone-max') {
      .song__links{
        margin: 0;
      }
    }
  }

  &__expand{
    font-size: 17px;
    line-height: 20px;
    color: $color-dusty-gray;
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 13px;
      padding-top: 6px;
    }
  }

  h2,
  &__title{
    font-size: 16px;
    line-height: 20px;
    color: #A4A6B6;
    margin: 0 0 10px 0;
    padding: 5px 20px 20px;
    border-bottom: 1px solid $color-anti-flash-white;
    text-transform: capitalize;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 14px;
      padding-top: 10px;
    }
  }

  &__list{
    clear: both;
    padding-left: 20px;

    @media screen and (min-width: 1200px) {
      padding-left: 20px;
    }

    @include breakpoint('phone-max') {
      padding: 0;
    }
  }

  &__content{
    @include clearfix;

    li{
      @include clearfix;
    }
  }

  &__number{
    float: left;
    font-size: 15px;
    line-height: 19px;
    padding: 7px 0 0 0;
    width: 2%;

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 13px;
      padding: 5px 0 0 0;
      width: 4%;
      margin-right: 2%;
    }
  }

  &__img{
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;

//    display: none;

    @include breakpoint('phone-max') {
      min-width: 70px;
      height: 70px;
      margin-right: 15px;
    }

    img{
      width: 100%;
    }
  }

  &__count{
    padding: 0 0 10px;
    margin: 0 0 16px;
    list-style: none;
    float: left;
    width: 100%;

    @include breakpoint('phone-max') {
      float: none;
      width: 100%;
    }
  }

  &__header{
    width: 100%;
    @include clearfix;
    padding: 0 20px;
    margin-bottom:20px;
    cursor: pointer;

    @include breakpoint('phone-max') {
      margin-bottom:10px;
      padding: 0 10px;
    }
  }

  &__wrapp{
    overflow: hidden;

    @include breakpoint('phone-max') {
      padding: 0;
      float: none;
      width: auto;
      overflow: hidden;
      padding-bottom: 5px;
    }
  }

  &__box{
    width: 100%;
    @include clearfix;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-bottom: 1px;

    @include breakpoint('phone-max'){
      margin-top: -2px;
    }
  }

  &__block{
    float: left;
    width: 100%;

    @include breakpoint('phone-max') {
      float: none;
    }
  }

  .song__properties{
    @include breakpoint('phone-max') {
      padding-right: 0;
    }
  }

  &__date,
  &__album-small,
  &__title-small{
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    vertical-align: none;
    color: #41415F;
    letter-spacing: -0.5px;
    line-height: 19px;
    @include breakpoint('phone-max') {
      font-size: 14px;
    }
  }

  &__title-small{
    margin-right: 5px;
    color: $color-tundora;
  }

  &__album-small{
    color: #A4A6B6;
    vertical-align: none;
  }

  &__date{
    color: #A4A6B6;
    float: left;
    font-size: 12px;
    margin-top: -12px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }
}
