@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.mini-search{
  padding: 1px;
  position: relative;

  &__drop{
    position: absolute;
    left: 0;
    top: 50px;
    min-width: 100%;
    white-space: nowrap;
    background: #fff;
    border-radius: 3px;
    max-height: 600px;
    overflow-y: auto;

    @include breakpoint('phone-max') {
      max-width: 280px;
      max-height: 280px;
    }
    @include clearfix;
  }

  &__drop-wrapp{
    margin-bottom: 10px;
  }

  &__title{
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 16px;
  }

  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 600px;
    overflow: hidden;

    li{
      border-bottom: 1px solid #fff;

      &:last-child{
        border: none;
      }

      a{
        display: block;
        padding: 10px 14px 8px;
        font-size: 12px;
        line-height: 14px;
        color: $brand-black;
        letter-spacing: -0.6px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
          text-decoration: none;
          background:#4A90E2;
          color: white;
        }

        span{
          color: $color-dusty-gray;
        }
      }
    }
  }
}