@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.edit-page{
//  padding: 1px;
//  max-width: 1440px;
//  margin: 0 auto;
//  padding: 40px 0 0;

  h1{
    font-size: 17px;
    line-height: 21px;
    color: $color-dusty-gray;
    margin: 0;
    text-transform: uppercase;
    color: $color-tundora;
    font-size: 24px;
    line-height: 29px;
    @include font-base-black;
    text-transform: none;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 17px;
    }
  }

  &__title{
    font-size: 18px;
    line-height: 22px;
    color: #61D0FF;
    padding: 5px 0 0;
    @include font-base-black;
    text-transform: none;

    a{
      color: #61D0FF;

      &:hover{
        text-decoration: none;
      }
    }

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 17px;
      padding: 10px 0 0;
    }
  }

  &__information{

    background: #fff;
    border-radius: 3px;
    padding: 15px 18px 15px 18px;

    h3{
      font-size: 20px;
      line-height: 24px;
      @include font-base-semi-bold;
      margin-bottom:15px;
    }

    p{
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 22px;
    }
  }

  &__symbols{
    background: #FF6767;
    color: #fff;
    border-bottom: 3px solid #DE4255;
    font-size: 18px;
    line-height: 22px;
    @include font-base-semi-bold;
    text-align: center;
    padding: 11px 10px 7px;
  }
}