@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.add-tv-form{
  padding: 1px;

  .poster-image{
    @include clearfix;
    margin-bottom: 33px;

    p{
      float: left;
      min-width: 105px;
      margin: 0;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;

      @include breakpoint('phone-max') {
        float: none;
        margin: 0 0 5px;
      }
    }
  }

  .poster-image-wrapp{
    float: left;
    max-width: 297px;
  }

  .banner-image{
    @include clearfix;
    margin-bottom: 15px;

    p{
      float: left;
      min-width: 105px;
      margin: 0;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;

      @include breakpoint('phone-max') {
        float: none;
        margin: 0 0 5px;
      }
    }
  }

  .input__label{
    min-width: 105px;
  }

  .banner-image-wrapp{
    float: left;
    max-width: 297px;
  }

  .replace-image,
  .info-image{
    display: inline-block;
    vertical-align: top;
  }

  .info-wide{
    font-size: 8px;
    line-height: 10px;
    @include font-base-light;
    padding-top: 4px;
    padding-left: 105px;
  }

  .form-btn__container{
    padding-left: 105px;

    button{
      width: 80px;

      &:hover{
        background: #7AEFB8;
      }
    }
  }

}