@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.favorites{
  height: 100%;

  &__wrapp{
    position: relative;
    border: 1px solid #DEDEDE;
    padding: 17px 0;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 0;
      margin: 0 -5px;
      background: none;
    }
  }

  &__no-items{
    font-size: 15px;
    line-height: 17px;
//    margin-bottom: 16px;
    color: $color-flamingo;
    margin-left: 24px;
    padding: 15px 0 0;
    display: inline-block;
    vertical-align: top;

    @include breakpoint('phone-max') {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 17px;
      margin-left: 10px;
    }

  }

  h1,
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    color: $color-dusty-gray;
    margin-left: 24px;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 17px;
      margin-left: 10px;
    }
  }

  &__favorited-songs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;

    @include breakpoint('phone-max') {
      margin: 0 0 27px;
    }
  }

  &__favorited{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    @include font-base-light;

    @include breakpoint('phone-max') {
      font-size: 11px;
    }
  }

  &__view-all{

    button{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      color: $color-havelock-blue;
      padding: 0;
      height: auto;

      @include breakpoint('phone-max') {
        font-size: 11px;
      }
    }
  }

  &__tab-wrapp{
    position: relative;
    @include clearfix;
  }

  &__song-count{
    position: absolute;
    right: 24px;
    top: 0;
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  .ReactTabs__Tab{
    @media screen and (min-width: 768px) {

      width: auto;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      color: $color-dusty-gray;
      margin: 0 33px;
      padding: 0;

      &--selected{
        @include font-base-semi-bold;
      }
    }
  }

  .ReactTabs{
    padding: 0;
  }

  .ReactTabs__TabPanel{
    background: #fff;
//    padding: 10px 0;

    @include breakpoint('phone-max') {
//      padding: 10px 0;
    }
  }

  .ReactTabs__TabList{
    border-bottom: 1px solid #F3f3f3 !important;
    padding: 0 0 15px 24px;

    @include breakpoint('phone-max') {
      border-bottom: none !important;
      padding: 0;
    }
  }
}