@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.black-sidebar{
  background: #000;
  padding: 30px 8px;
  height: 700px;
  overflow-y: scroll;
  position: relative;

  &__user-wrapp{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__ava{
    margin: 0 22px 0 0;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  &__name{
    display: flex;
    flex-direction: column;

    span{
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: $color-dusty-gray;
    }

    strong{
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      @include font-base-black;
    }
  }

  &__playlist-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    span{
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: $color-dusty-gray;
    }

    strong{
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      @include font-base-black;
    }
  }

  &__playlist{

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }

  }

  &__item-wrapp{
    display: flex;
    align-items: center;
  }

  &__info{
    color: #fff;
    display: flex;
    flex-direction: column;
    @include font-base-light;
    font-size: 12px;
    line-height: 14px;
    max-width: 165px;

    p{
      margin: 0 0 4px;
    }
  }

  &__img{
    margin-right: 10px;

    img{
      width: 40px;
      height: 40px;
    }
  }

  &__days{
    font-size: 10px;
    line-height: 13px;
    color: $color-dusty-gray;
  }

  &__popup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.80);
    display: none;
  }

  &__popup-wrapp{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 267px;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    text-align: center;
    padding: 50px 11px;
  }

  &__popup-title{
    @include font-base-semi-bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    color: $color-tundora;
  }

  &__popup-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &__popup-link-wrapp{

    a{
      display: block;
      color: #fff;
      background-image: linear-gradient(-90deg, #6B6B6B 0%, #000000 100%);
      font-size: 12px;
      line-height: 15px;
      @include font-base-semi-bold;
      text-align: center;
      border-bottom: 3px solid $color-pastel-green;
      height: 43px;
      padding-top: 12px;

      &:hover{
        text-decoration: none;
      }

      i{
        color: $color-pastel-green;
        font-size: 16px;
        line-height: 17px;
      }

      span{
        display: inline-block;
        vertical-align: bottom;
        padding-left: 5px;
      }
    }
  }

//  &__wrapp{
//    position: relative;
//    padding: 17px 24px;
//    background: #fff;
//    border-radius: 4px;
//    height: 100%;
//
//    @include breakpoint('phone-max') {
//      padding: 12px 10px;
//    }
//  }
}