@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.profile-stats{
  height: 100%;
  margin-bottom: 14px;

  @include breakpoint('phone-max') {
    margin-bottom: 0;
  }

  &__wrapp{
    position: relative;
    padding: 17px 24px;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 10px 0;
    }
  }

  &__list{
    width: 100%;
    font-size: 0;

    li{
      display: inline-block;
      vertical-align: top;
      width: 16.6666%;
      text-align: center;

      @include breakpoint('phone-max') {
        width: 33.3333%;
        margin-bottom: 27px;
      }

      p{
        margin: 0;
        @include font-base-light;
        font-size: 12px;
        line-height: 14px;

        span{
          @include font-base-regular;

        }
      }
    }
  }

  &__icon{
    margin-bottom: 12px;
    min-height: 36px;
  }
}
