@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.info-banner{
  position: relative;
  width: 100%;
  background: linear-gradient(-180deg, #000000 0%, #A6A6A6 90%);

  @include breakpoint('phone-max') {
    /* padding-bottom: 34px; */
    height: auto;
  }

  // &:before{
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 60px;
  //   width: 100%;
  //   background: rgba(0,0,0,0.6);
  //   z-index: 2;

  //   @include breakpoint('phone-max') {
  //     height: 34px;
  //     background: #353435;
  //     bottom: 0;
  //   }
  // }

  &__panel {
    position: relative;
    width: 1440px;
    margin: auto;

    @include breakpoint('tablet-max') {
      width: auto;
    }
  }

  &__content{
    position: absolute;
    left: 0;
    bottom: 9px;
    z-index: 3;
    padding-left: 30px;
    width: 100%;

    @include breakpoint('tablet-max') {
      // padding-left: 217px;
      padding-left: 0;
    }

    @include breakpoint('phone-max') {
      padding-left: 10px;
      bottom: 0px;
    }
  }

  &__img{
    position: absolute;
    left: 30px;
    bottom: 25px;
    z-index: 3;
    max-width: 176px;
    border: 2px solid #fff;
    background-color: #ccc;

    @include breakpoint('tablet-max') {
      left: 15px;
    }

    @include breakpoint('phone-max') {
      left: 10px;
      bottom: 10px;
      max-width: 68px;
      max-height: 95px;
      overflow: hidden;
    }
  }

  &__images{
    width: 100%;
  }

  &__title{
    color: #fff;
    padding:0 0 10px 210px;

    @include breakpoint('tablet-max') {
      padding-left: 217px;
    }

    @include breakpoint('phone-max') {
      padding: 10px 10px 5px 81px;
    }

    h1{
      font-size: 28px;
      line-height: 26px;
      margin-bottom: 5px;
      display: block;
      letter-spacing: -0.7px;


      @include breakpoint('phone-max') {
        font-size: 18px;
        @include font-base-semi-bold;
        margin-bottom: -2px;
      }
    }

    h2{
      @include breakpoint('phone-max') {
        font-size: 15px;
        letter-spacing: -0.7px;
      }
    }

    p{
      font-size: 14px;
      line-height: 16px;

      @include breakpoint('phone-max') {
        font-size: 11px;
        line-height: 14px;
      }
    }
    p.info-banner-subtitle{
      font-size: 18px;
      color: #d6d6d6;
      margin-bottom: 12px;
      letter-spacing: -0.5px;

      @include breakpoint('phone-max') {
        font-size: 12px;
        font-family: 'montserrat';
        margin-bottom: 6px;
        letter-spacing: -0.3px;
      }
    }

    p.info-banner-paragraph{
      font-size: 14px;
      color: #d6d6d6;
      letter-spacing: -0.3px;

      @include breakpoint('phone-max') {
        font-size: 10px;
        letter-spacing: -0.5px;
      }
    }
  }

  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;

     @include breakpoint('tablet') {
      padding-left: 15px;
    }

      li{
        float: left;
        color: #fff;
        margin-right: 4%;

        &:last-child{
          margin-right: 0;
        }

        @include breakpoint('phone-max') {
          margin-right: 5.5%;

          &:last-child{
            margin-right: 0;
          }
        }

      }
  }

  &__like{
    height: 40px;
    float: left;
    padding: 5px 17px 0 0;

    @include breakpoint('phone-max') {
      padding: 2px 9px 0 0;
    }

    i{
      font-size: 35px;
      line-height: 35px;
      color: $color-flamingo;

      @include breakpoint('phone-max') {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }

  &__text-box{
    float: left;
  }

  &__top-text{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    display: block;

    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    @include breakpoint('tablet-max') {
      max-width: 190px;
    }

    @include breakpoint('phone-max') {
      font-size: 8px;
      line-height: 10px;
      max-width: 70px;
    }
  }

  &__bottom-text{
    font-size: 14px;
    line-height: 18px;
    color: #B2AEAE;

    @include breakpoint('phone-max') {
      font-size: 8px;
      line-height: 10px;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__edit{
    cursor: pointer;
    color: #4A90E2;
  }
}
