@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.trending-music{
  background: #fff;

  .main{
    padding-right: 30px;
    background: #fff;

    @include breakpoint('tablet-max') {
      padding-right: 15px;
    }

    @include breakpoint('phone-max') {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__header{
    padding: 30px 37px 30px 51px;
    z-index: 2;
    position: fixed;
//    border-bottom: 1px solid #ccc;
    background: #fff;
    width: 100%;
    top: 56px;
    left: 0;

    &:after{
      content: '';
      left: 0;
      right: 0;
      bottom: 15px;
      background: #ccc;
      height: 1px;
      width: 100%;
      position: absolute;
    }
    
    &-panel {
      max-width: 1440px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      position: relative;

      @include breakpoint('phone-max') {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @include breakpoint('tablet-max') {
      padding: 30px 15px;
    }

    @include breakpoint('phone-max') {
      padding: 20px 0 30px 25px;
      flex-direction: column;
      align-items: flex-start;
      top: 0;
      position: relative;
      margin-bottom: -35px;
    }

    @media screen and (min-width: 320px) and (max-width: 639px){
      margin-bottom: 0;
    }

    h1{
      margin: 0;
      font-size: 22px;
      line-height: 27px;
      color: $color-tundora;

      @include breakpoint('phone-max') {
        font-size: 20px;
        line-height: 24px;
      }
    }

    p{
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      margin: 0;
      color: $color-dusty-gray;

      @include breakpoint('phone-max') {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }

  &__header-left{
    @include breakpoint('phone-max') {
      margin-bottom: 15px;
    }
  }

  &__header-right{
    display: flex;
    align-items: center;

    @include breakpoint('phone-max') {
      flex-direction: column-reverse;
      padding-bottom: 30px;
      margin-bottom: -30px;
    }
  }
}