@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.secondary-nav{
    background: #000;
    width: 100%;
    height: 50px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  
    @include breakpoint('phone-max') {
      
    }
}