@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.form-password{
  position: relative;
  padding: 50px 0 0 40px;
  max-width: 630px;

  @include breakpoint('phone-max') {
    padding: 16px 0;
    max-width: 600px;
  }

  .input__label{
    text-transform: uppercase;
    @include font-base-light;
    font-size: 18px;
    line-height: 21px;
    padding-top: 14px;

    @include breakpoint('phone-max') {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .form-control{
    background: #E0E0E0;
    height: 50px;
    width: 342px;
    font-size: 26px;
    line-height: 30px;

    @include breakpoint('phone-max') {
      height: 30px;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .input__wrapper{
    max-width: 342px;
  }

  .btn{
    width: 156px;
    height: 50px;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint('phone-max') {
      height: 30px;
      width: 90px;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .alert-danger{
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }
}