[data-tooltip]{
  position: relative;
  z-index: 2;
  text-align: center;

  @media screen and (min-width: 1025px) {

    &:before{
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      margin-left: -4px;
      width: 0; height: 0;
      border-top: 7px solid $color-tundora;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      z-index: 2;
      white-space: nowrap;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }

    &:after {
      background: $color-tundora;
      border-radius: 4px;
      color: #FFF;
      content: attr(data-tooltip);
      margin-top: -30px;
      opacity: 0;
      padding: 5px 7px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      white-space: nowrap;
      @include font-base-semi-bold;
      font-size: 11px;
      line-height: 13px;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &.tooltip--left{
    &:after{
      left: 30%;

    }
  }
}