@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.content-list{

  @include clearfix;
  margin-bottom: 15px;

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .form-group{
    display: inline-block;
    vertical-align: top;
    width: 65px;
    position: relative;

    &:after {
      right: 3px;
      top: 12px;
      position: absolute;
      content: '';
      border: 3px solid transparent;
      border-top: 6px solid #000;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
    }

    .form-control{
      padding-top: 5px;
    }
  }
}