@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.content-list{
  width: 100%;
  background: $color-white;
  border-radius: 3px;
  margin-bottom: 27px;
  border: 1px solid #DEDEDE;

  &:last-child{
    margin-bottom: 0;
  }

  &__category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px 0 24px;
    height: 55px;

    @include breakpoint('phone-max') {
      padding: 0 15px;
      height: 45px;
    }
  }

  h2,
  &__title{
    font-size: 17px;
    line-height: 20px;
    color: $color-dusty-gray;
    text-transform: uppercase;

    @include breakpoint('phone-max') {
      font-size: 9px;
      line-height: 11px;
    }
  }

  &__btn-box{
    align-items: center;
    display: flex;

    .form-group{
      margin: 0;
    }

    .form-control{
      font-size: 14px;
      line-height: 18px;
      color: #9B9B9B;
      text-transform: uppercase;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    button{
      font-size: 14px;
      line-height: 18px;
      color: $color-dusty-gray;
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 0 30px;
      border: none;

      @include breakpoint('phone-max') {
        font-size: 9px;
        line-height: 11px;
        margin: 0 0 0 20px;
      }

      &.is-active{
        color: #333;
      }

      &:hover{
        color: $color-salt-box;
      }
    }

    a{
      font-size: 14px;
      line-height: 18px;
      color: $color-dusty-gray;
      text-transform: uppercase;
      margin-left: 30px;
      white-space: nowrap;

      @include breakpoint('phone-max') {
        font-size: 9px;
        line-height: 11px;
        margin-left: 20px;
      }

      &:focus,
      &:visited{
        text-decoration: none;
        color: $color-dusty-gray;
      }

      &:active{
        color: $color-dusty-gray;
        text-decoration: none;
      }

      &:hover{
        color: $color-salt-box;
        text-decoration: none;
      }
    }
  }
}