@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.grid{
  width: 100% !important;
  position: relative;

  @include breakpoint('phone-max') {
    padding: 0 !important;
  }

  &__item{
    height: 100%;
    min-height: 160px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    transition: all 200ms ease-in-out;
    overflow: hidden;

    &:hover{
      opacity: 0.85;
    }

    @include breakpoint('phone-max') {
      min-height: 130px;
    }
  }

  [class*="col"]{

    @media screen and (min-width: 1280px) {
      &:nth-child(8n+1),
      &:nth-child(8n+3),
      &:nth-child(8n+6),
      &:nth-child(8n+8) {
        background-color:#eee;
      }
    }

    @media screen and (min-width: 961px) and (max-width: 1280px) {
      &:nth-child(2n+1) {
        background-color:#eee;
      }
    }

    @media screen and (min-width: 480px) and (max-width: 960px) {

      &:nth-child(4n-6) {
        background-color:#eee;
      }

      &:nth-child(4n-5) {
        background-color:#eee;
      }
    }

    @media screen and (max-width: 479px) {
      &:nth-child(odd) {
        background-color:#eee;
      }
    }

  }

  .row{

    @include breakpoint('phone-max') {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-right: 0;
    padding-left: 0;
  }

  .col-lg-3{

    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      width: 33.3333%;
    }
  }

  .col-sm-4{

    @media screen and (min-width: 320px) and (max-width: 960px) {
      width: 50%;
    }
  }

  &__songs-count{
    position: absolute;
    left: 12px;
    bottom: 31px;
    width: 54px;
    background-color: $color-flory;
    color: #fff;
    height: 14px;
    font-size: 9px;
    border-radius: 2px;
    padding: 0 0 0 9px;

    @include breakpoint('phone-max') {
      bottom: 37px;
      font-size: 10px;
      line-height: 12px;
      width: 60px;
      height: 15px;
      padding: 2px 0 0 7px;
    }
  }

  &__like{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 28px;
    padding: 0 11px 0 16px;
    background: rgba(0,0,0,0.75);

    @include breakpoint('phone-max') {
      height: 34px;
      padding: 0 10px;
    }
  }

  &__title{
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    padding-right: 20px;

    @include breakpoint('phone-max') {
      font-size: 12px;
      line-height: 14px;
      padding-top: 2px;
    }
  }

  &__like-wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__heart{

    min-width: 51px;
    padding-top: 2px;
    display: flex;
    align-items: center;

    @include breakpoint('phone-max') {
      display: block;
    }

    i{
      color: $color-pomegranate;
      font-size: 20px;
      margin: 3px 4px 0 0;

      @include breakpoint('phone-max') {
        font-size: 12px;
        margin-top: 0;
        font-size: 21px;
      }
    }
  }

  &__like-text{
    font-size: 10px;
    line-height: 12px;
    padding-top: 2px;

    @include breakpoint('phone-max') {
      font-size: 12px;
      line-height: 25px;
    }
  }

  &__loader-wrapper {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    top: 0;
    left: 0;
    z-index: 1;

    .loader-wrapp{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:nth-child(2n-1){
        background-color: transparent;
      }
    }
  }
}
