@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";


.pagination{
  display: block !important;
  padding: 19px 56px 19px 24px !important;
  @include clearfix;
  margin: 0 !important;
  height: 55px;

  @include breakpoint('phone-max') {
    padding-left: 18px;
    padding-right: 18px;
  }

  button{
    color: $color-havelock-blue;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;

    &:hover{
      color: #5F9EE7;
    }
  }

}