@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.trailer-music{

  background: #fff;
  border-radius: 6px;
  padding: 17px 0;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #DEDEDE;
  

  @include breakpoint('phone-max') {
    padding: 13px 0;
    border-radius: 0px;
  }

  .list > li{
    margin-bottom: 10px;

    @include breakpoint('phone-max') {
      padding: 0 0 8px;
    }
  }

  .song__properties-left{
    width: 160px;
  }

  .song__properties-right{
    width: 140px;
    float: right;
    padding-top: 5px;

    .song__bottom {
      justify-content: flex-end;
    }
  }

  h2,
  &__title{
    font-size: 16px;
    line-height: 20px;
    color: #A5A7B7;
    margin: 0 0 10px 0;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-anti-flash-white;
    margin-bottom: 20px;
    text-transform: capitalize;

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 14px;
      margin-top: 8px;
      margin-bottom: 5px;
      padding: 0 20px 20px;
    }
  }

  &__content{
    @include clearfix;
    padding: 0 20px;

    @include breakpoint('phone-max') {
      margin-bottom: 10px;
      padding: 0 10px 3px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    @media screen and (min-width: 1025px) and (max-width: 1199px) {
      width: 375px;
      margin: 0 auto;
    }

    @media screen and (min-width: 769px) and (max-width: 866px) {
      width: 375px;
      margin: 0 auto;
    }

    & > li{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      max-width: 400px;
      margin-bottom: 20px;

      @media screen and (min-width: 1025px) and (max-width: 1199px) {
        width: 100%;
        padding: 0;
      }

      @media screen and (min-width: 769px) and (max-width: 866px) {
        width: 100%;
        padding: 0;
      }

      @include breakpoint('tablet-max') {
        padding: 0 3%;
      }

      @media screen and (min-width: 769px) and (max-width: 866px) {
        padding: 0;
      }

      @include breakpoint('phone-max') {
        width: 100%;
        padding: 0;
      }
    }
  }

  &__item{
    width: 100%;
    @include breakpoint('phone-max'){
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__item-title{
    font-size: 15px;
    line-height: 14px;
    margin: 0 0 10px 0;
    color: #41415F;
    letter-spacing: -0.4px;
    @include breakpoint('phone-max'){
      padding-top: 20px;
    }
  }


  &__item-video{
    width: 100%;
    height: 225px;
    background: $color-gray-nurse;
    margin-bottom: 18px;

    @include breakpoint('phone-max') {
      max-width: 100%;
      height: 155px;
    }
  }
}
