@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.contributors{

  margin: 16px 0;
  width: 100%;
  clear: both;

  @include breakpoint('tablet-max') {
    overflow: hidden;
  }

  &__container{
    background: #fff;
    border-radius: 5px;
    padding: 5px 0px 5px 18px;
    color: $color-dusty-gray;
    border: 1px solid #DEDEDE;
    @include breakpoint('phone-max')  {
      border-radius: 0px;
    }
  }

  &__title{
    font-size: 13px;
    line-height: 18px;
    color: #A4A6B7;
    margin: 0 0 7px 0;
    position: relative;
    z-index: 2;
    font-weight: bolder;
    letter-spacing: -0.3px;
    @include breakpoint('phone-max')  {
      padding-left: 15px;
    }
  }

  &__item{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #EBEBEB;
    &:last-child{
      border-bottom: 0px;
    }
  }

  &__item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }

  &__item-right{
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  &__item-left{
    display: flex;
    align-items: center;
  }

  &__name{
    color: #4A4A4A;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: $color-purple-brand;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 16px;
    margin-right: 9px;
  }

  &__top-like{
    font-size: 7px;
    line-height: 9px;
    color: #C5C5C5;
    display: flex;
    align-items: center;
    cursor: pointer;

    span{
      padding-top: 4px;
    }

    i{
      font-size: 11px;
      line-height: 11px;
      margin: 0 4px 0 0;
    }

    &--is-active{
      color: $color-flamingo;
    }
  }

  &__badge {
    span {
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      color: white;
      font-weight: 600;
    }
    margin-top: -2px;
    
    &.contributor {
      span:nth-child(1) {
        background: #84f497;
      }
      span:nth-child(2) {
        background: #44a655;
      }
    }

    &.editor {
      span:nth-child(1) {
        background: #989aff;
      }
      span:nth-child(2) {
        background: #595ac8;
      }
    }

    &.moderator {
      span:nth-child(1) {
        background: #ff98b4;
      }
      span:nth-child(2) {
        background: #e55f83;
      }
    }

    &.superstar {
      span:nth-child(1) {
        background: #c5cf00;
      }
      span:nth-child(2) {
        background: #a2aa00;
      }
    }

    &.admin {
      span:nth-child(1) {
        background: #504c4c;
      }
      span:nth-child(2) {
        background: #000000;
      }
    }
  }

  &__item-bottom{
    font-size: 10px;
    line-height: 13px;
    color: $color-dusty-gray;
    letter-spacing: -0.3px;
  }
}
