@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.thank-count{

  background: #3193D5;
  border: 1px solid #3137A4;
  color: #fff;
  width: 50px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  border-radius: 1px;
  display: none;

  @include breakpoint('phone-max') {
    font-size: 7px;
    line-height: 12px;
    width: 38px;
    height: 13px;
  }

  &--green{
    background: #8FCF4F;
    border: 1px solid #417505;
  }
}
