@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.discussion{
  margin-top: 28px;
  margin-bottom: 16px;
  border: 1px solid #DEDEDE;
  background-color: #FFFFFF;
  border-radius: 5px;

  @include breakpoint('phone-max') {
    padding: 13px 0;
    border-radius: 0px;
  }

  &__header{
    @include clearfix;
    margin-bottom: 5px;
    border-bottom: 1px solid $color-anti-flash-white;
    padding-top: 20px;
    padding-right: 20px;

    @include breakpoint('phone-max') {
      margin-bottom: 7px;
      padding-top: 10px;

      
    }
  }

  &__subtitle {
    color: #A4A6B6;
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
    padding: 0 0 5px;
    letter-spacing: -0.7px;
    @include font-base-light;
    text-align: center;
    padding-top: 20px;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 14px;
    }
  }

  &__title{
    float: left;
    font-weight: 400;
    color: #A5A7B7;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 15px;
    letter-spacing: -0.7px;

    @include breakpoint('phone-max'){
      font-size: 15px;

    }
  }

  &__post{
    float: right;
    margin-top: -7px;

    @include breakpoint('phone-max'){
      margin-top: -11px;
    }
    .btn{
      height: 35px;
      font-size: 13px;
      line-height: 19px;
      color: $color-white;
      border-radius: 5px;
      background-color: $color-purple-brand;
      padding: 0 12px;
      text-transform: none;

      &:focus {
        color: $color-white;
      }

      span {
        color: #3ef67e;
        font-size: 13px;
        font-weight: 700;
      }
    }

    @include breakpoint('phone-max') {
      margin-right: 7px;

      .btn{
        font-size: 11px;
        line-height: 14px;
      }
    }
  }

  &__list{
    margin: 0;
    padding: 0;
    background: $color-white;
    border-radius: 5px;

    @include breakpoint('phone-max') {
      padding: 2px 0px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li{
      padding: 12px 10px;
      border-bottom: 1px solid #fafafa;

      @include breakpoint('phone-max') {
        padding: 15px 5px 15px 2px;
      }
    }
  }

  &__reply-list{
    ul {
      padding-left: 16px;
      margin-bottom: 11px;
      border-left: 2px solid #ebebeb;

      @include breakpoint('phone-max') {
        padding-bottom: 20px;
      }
    }

    li {
      list-style: none;
      padding: 0;
      border-bottom: none;

      @include breakpoint('phone-max') {
        border-bottom: 1px solid #fafafa;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    list-style: none;
    padding: 11px 0 0 34px;

    @include breakpoint('phone-max') {
      padding: 15px 0 0 50px;
    }

    .reply {
      margin-bottom: 15px;

      @include breakpoint('phone-max') {
        margin-bottom: 0;
      }

      .top {
        color: #a4a6b6;
        font-size: 12px;
        font-weight: 400;

        @include breakpoint('phone-max') {
          font-size: 12px;
        }

        .user_link_cont {
          color: #a4a6b6;
          font-size: 12px;
          font-weight: 600;
          // text-decoration: underline;
          // cursor: pointer;
          border-radius: 8px;
          background-color: #FFF;
          padding: 2px 3px;

          &:hover {
            background-color: #ececec;
          }

          @include breakpoint('phone-max') {
            font-size: 12px;
          }
        }

        .points_cont, .time_cont {
          padding: 0 2px;
        }
      }

      .center{
        font-size: 13px;
        letter-spacing: -0.6px;
        color: #41415f;
      }

      .bottom {
        display: flex;

        @include breakpoint('phone-max') {
          padding-top: 5px;
        }

        .reply_voting {
          display: flex;
          padding-right: 5px;

          button {
            width: 15px;
            height: 14px;
            border: none;
            outline: none;
          }

          .up {
            button {
              background: url('../../../../icons/svg/thumb_up.svg') center center no-repeat;
              background-size: cover;

              &:hover {
                background: url('../../../../icons/svg/thumb_up_green.svg') center center no-repeat;
              }

              &.green {
                background: url('../../../../icons/svg/thumb_up_green.svg') center center no-repeat;
              }

              @include breakpoint('phone-max') {
                background-size: cover;
                width: 15px;
                height: 14px;
              }
            }
          }

          .counter {
            padding: 0 3px;

            @include breakpoint('phone-max') {
              padding: 0 5px;
            }

            span {
              text-align: center;
              color: #a4a6b6;
              font-size: 9px;
              font-weight: 600;

              &.green {
                color: #58e972;
              }

              @include breakpoint('phone-max') {
                font-size: 12px;
              }
            }
          }

          .down {
            button {
              transform: rotate(180deg);
              background: url('../../../../icons/svg/thumb_up.svg') center center no-repeat;

              @include breakpoint('phone-max') {
                background-size: cover;
                width: 15px;
                height: 14px;
              }
            }
          }
        }

        .comments_menu {
          display: inline-block;
          height: 15px;
          padding-left: 5px;
          border-left: 1px solid #f2f2f2;

          @include breakpoint('phone-max') {
            display: none;
          }

          .dotted_btn {
            width: 11px;
            height: 15px;
            border: none;
            background: url('../../../../icons/svg/comments_menu.svg') center center no-repeat;
            outline: none;
            padding: 0 10px;
            border-radius: 8px;
            background-color: #FFF;

            &:hover {
              background-color: #ececec;
            }
          }
        }
      }
    }

    .add_comment_btn {
      border: none;
      outline: none;
      height: 30px;
      border-radius: 5px;
      background-color: $color-purple-brand;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 30px;
      padding: 0 10px;

      span {
        color: #3ef67e;
        font-size: 13px;
        font-weight: 700;
      }

      @include breakpoint('phone-max') {
        margin-top: 20px;
      }
    }
  }

  &__btn-replay {
    color: $color-havelock-blue;
    padding: 0 0 0 50px !important;
    margin-top: 10px;

    &:active,
    &.active {
      margin-top: 10px !important;
    }

    &:focus {
      box-shadow: none;
    }

    @include breakpoint('phone-max') {
      padding: 0 !important;
      margin: 5px auto;
      width: 35px;
      display: block !important;
    }
  }

  &__top{
    @include clearfix;
  }

  &__left{
    float: left;
    width: 70%;
  }

  &__count,
  &__name,
  &__img{
    float: left;
  }

  &__img{
    margin-right: 16px;
    width: 34px;
    height: 34px;

    img{
      width: 100%;
    }

    @include breakpoint('phone-max') {
      margin-right: 9px;
      width: 26px;
      height: 25px;
    }
  }

  &__name-count{
    float: left;
    width: 80%;
  }

  &__name{
    color: $color-dusty-gray;
    font-size: 13px;
    line-height: 16px;
    @include font-base-light;
    padding-top: 8px;

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 12px;
      padding-top: 1px;
    }
  }

  .thank-count{
    float: left;
    margin: 8px 0 0 18px;

    @include breakpoint('phone-max') {
      margin: 0 0 0 12px;
    }

    &--green{
      background: #8FCF4F;
      border: 1px solid #417505;
    }
  }

  &__right{
    float: right;
    width: 150px;
    padding-top: 8px;
    max-width: 30%;

    @include breakpoint('phone-max') {
      width: auto;
      padding-top: 1px;
    }
  }

  &__reply{
    float: right;
    color: $color-havelock-blue;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    @include font-base-light;

    @include breakpoint('phone-max') {
      width: 100%;
      float: none;
      clear: both;
      font-size: 9px;
      line-height: 11px;
      padding-top: 2px;
    }
  }

  &__time{
    float: left;
    font-size: 13px;
    line-height: 16px;
    @include font-base-light;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      float: right;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__bottom{
    font-size: 13px;
    line-height: 16px;
    @include font-base-light;
    padding-left: 50px;

    @include breakpoint('phone-max') {
      font-size: 11px;
      line-height: 13px;
      padding-left: 0;
      padding-top: 9px;
    }
  }

  .modal .btn{
    min-width: 80px;
  }

  .comment_container {
    .episode_link {
      display: none;
      margin-bottom: 10px;
      letter-spacing: -0.6px;

      @include breakpoint('phone-max') {
        display: block;
        margin-left: 49px;
      }

      a {
        font-size: 14px;
        color: #4A90E2;
        text-decoration: none;
      }
    }
  }

  .comment {
    display: flex;

    .left_part {
      display: flex;
      flex-direction: column;
      width: 33px;
      padding-top: 3px;

      @include breakpoint('phone-max') {
        width: 49px;
      }

      .button_up {
        height: 15px;
        position: relative;
        text-align: center;

        button {
          width: 12px;
          height: 11px;
          background: url('../../../../icons/svg/comments_rating.svg') center center no-repeat;
          border: none;
          outline: none;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          &:hover {
            background: url('../../../../icons/svg/comments_rating_green.svg') center center no-repeat;
          }

          @include breakpoint('phone-max') {
            width: 16px;
            height: 16px;
            background-size: cover;
          }
        }
      }

      .counter {
        height: 25px;
        position: relative;

        @include breakpoint('phone-max') {
          height: 55px;
        }

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: #a4a6b6;
          font-size: 15px;
          font-weight: 600;
          text-align: center;

          @include breakpoint('phone-max') {
            font-size: 20px;
          }
        }

        &.green {
          span {
            color: #58e972;
          }
        }
      }

      .button_down {
        height: 15px;
        position: relative;
        text-align: center;

        button {
          width: 12px;
          height: 11px;
          background: url('../../../../icons/svg/comments_rating.svg') center center no-repeat;
          border: none;
          outline: none;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(180deg);

          &:hover {
            background: url('../../../../icons/svg/comments_rating_green.svg') center center no-repeat;
          }

          @include breakpoint('phone-max') {
            width: 16px;
            height: 16px;
            background-size: cover;
          }
        }
      }
    }

    .right_part {
      flex: 1;

      .top {
        color: #a4a6b6;
        font-size: 12px;
        font-weight: 400;

        @include breakpoint('phone-max') {
          font-size: 12px;
        }

        .user_link_cont {
          color: #a4a6b6;
          font-size: 12px;
          font-weight: 600;
          border-radius: 8px;
          background-color: #FFF;
          padding: 0;

          &:hover {
            background-color: #ececec;
          }

          @include breakpoint('phone-max') {
            font-size: 12px;
          }
        }

        .points_cont, .time_cont {
          padding: 0 2px;
        }
      }

      
      
      
      .center {
        color: #41415f;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: -0.6px;
        margin-top: 2px;
        margin-bottom: 4px;
        word-break: break-word;

        @include breakpoint('phone-max') {
          font-size: 13px;
          line-height: 21px;
          padding-right: 20px;
        }

        &.tv-show {
          display: flex;

          .left {
            //flex: 1;
            width: 75%;
            padding-right: 20px;

            @include breakpoint('phone-max') {
              padding-right: 0;
              width: 100%;
            }
          }

          .right {
            width: 25%;
            text-align: right;
            margin-right: 20px;

            @include breakpoint('phone-max') {
              display: none;
            }

            a {
              font-size: 14px;
              color: #4A90E2;
              text-decoration: none;
            }
          }
        }
      }

      .bottom {
        display: flex;

        @include breakpoint('phone-max') {
          display: none;
        }
      }

      .comments_counter {
        padding-right: 5px;

        span {
          display: inline-block;
          color: #a4a6b6;
          font-size: 12px;
          font-weight: 400;
          padding-right: 5px;
          padding-left: 20px;
          background: url('../../../../icons/svg/comments_arrow.svg') left 3px center no-repeat;
          border-radius: 8px;
          background-color: #FFF;
          cursor: pointer;

          &:hover {
            color: #41415f;
            background-color: #ececec;
          }
        }

        &.open {
          span {
            background: url('../../../../icons/svg/comments_arrow_open.svg') left 3px center no-repeat;
          }
        }
      }

      .reply_btn_cont {
        height: 15px;
        padding-right: 5px;

        .reply_btn {
          height: 15px;
          border-radius: 8px;
          background-color: #FFF;
          color: #a4a6b6;
          font-size: 10px;
          font-weight: 400;
          line-height: 15px;
          padding: 0 5px;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            color: #41415f;
            background-color: #ececec;
          }
        }
      }

      .follow_cont {
        height: 15px;
        padding: 0 5px;
        border-left: 1px solid #f2f2f2;

        @include breakpoint('phone-max') {
          display: none;
        }

        .follow_btn {
          height: 15px;
          border-radius: 8px;
          background-color: #FFF;
          color: #a4a6b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          padding: 0 5px;
          cursor: pointer;

          &:hover {
            color: #41415f;
            background-color: #ececec;
          }
        }
      }

      .comments_menu {
        display: inline-block;
        height: 15px;
        padding-left: 5px;
        border-left: 1px solid #f2f2f2;

        @include breakpoint('phone-max') {
          display: none;
        }

        .dotted_btn {
          width: 11px;
          height: 15px;
          border: none;
          background: url('../../../../icons/svg/comments_menu.svg') center center no-repeat;
          outline: none;
          padding: 0 10px;
          border-radius: 8px;
          background-color: #FFF;

          &:hover {
            background-color: #ececec;
          }
        }
      }

      .bottom_mobile {
        display: none;
        margin-top: 20px;

        @include breakpoint('phone-max') {
          display: block;
        }

        .comments_counter {
          display: inline-block;
          padding: 0 30px;
          background: url('../../../../icons/svg/comment_arrow_mob.svg') center right 15px no-repeat;
          height: 35px;
          border-radius: 5px;
          border: 2px solid $color-purple-brand;
          color: $color-purple-brand;
          line-height: 31px;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: -0.31px;

          &.open {
            background: url('../../../../icons/svg/comment_arrow_open_mob.svg') center right 15px no-repeat;
          }
        }

        .reply_btn_cont {
          height: auto;
        }

        .reply_btn {
          display: inline-block;
          height: 35px;
          border-radius: 5px;
          background-color: $color-purple-brand;
          color: #ffffff;
          font-size: 13px;
          line-height: 35px;
          font-weight: 400;
          letter-spacing: -0.31px;
          padding: 0 30px;
          text-transform: capitalize;

          &:hover {
            background-color: $color-purple-brand;
            color: #ffffff;
          }

          span {
            span {
              color: #3ef67e;
              font-size: 13px;
              font-weight: 700;
              letter-spacing: -0.31px;
            }
          }
        }
      }
    }
  }

  .post_question_form {
    padding: 27px 22px;

    &.nopadding {
      padding: 0;
    }

    .top {
      textarea {
        width: 100%;
        height: 100px;
        max-width: 100%;
        border-radius: 5px;
        border: 1px solid #ececec;
        background-color: #f9f9f9;
        outline: none;
        resize: none;
        color: #41415f;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.31px;
        padding: 8px 15px;
        margin-bottom: 8px;
      }

      .form-error {
        color: #EF4237;
      }

      input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #ececec;
        background-color: #f9f9f9;
        color: #1d1d27;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.31px;
        outline: none;
        padding: 0 15px;
        margin-bottom: 16px;

        @include breakpoint('phone-max') {
          margin-bottom: 13px;
        }
      }
    }

    .bottom {
      display: flex;

      @include breakpoint('phone-max') {
        flex-direction: column-reverse;
      }

      .left {
        .post_question_btn {
          border: none;
          outline: none;
          height: 30px;
          border-radius: 5px;
          background-color: $color-purple-brand;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 30px;
          padding: 0 12px;

          span {
            color: #3ef67e;
            font-size: 13px;
            font-weight: 700;
          }
        }
      }

      .right {
        padding-left: 20px;

        @include breakpoint('phone-max') {
          padding-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .dropdown-menu {
    li {
      border-bottom: none;
    }
  }

  .add_reply_form {
    padding: 25px 35px;

    @include breakpoint('phone-max') {
      padding: 25px 50px;
    }

    .top {
      .textarea {
        .textarea__wrapper {
          width: 100%;
          max-width: 100%;

          .form-control {
            width: 100%;
            height: 100px;
            max-width: 100%;
            border-radius: 5px;
            border: 1px solid #ececec;
            background-color: #f9f9f9;
            outline: none;
            resize: none;
            color: #41415f;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.31px;
            padding: 8px 15px;
            margin-bottom: 8px;
          }

          .error-text .form-error {
            color: #EF4237;
          }
        }
      }

      input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #ececec;
        background-color: #f9f9f9;
        color: #1d1d27;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.31px;
        outline: none;
        padding: 0 15px;
        margin-bottom: 16px;

        @include breakpoint('phone-max') {
          margin-bottom: 13px;
        }
      }
    }
    .bottom {
      display: flex;

      @include breakpoint('phone-max') {
        flex-direction: column-reverse;
      }

      .left {
        .post_question_btn {
          border: none;
          outline: none;
          height: 30px;
          border-radius: 5px;
          background-color: #6a41ec;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 30px;
          padding: 0 12px;

          span {
            color: #3ef67e;
            font-size: 13px;
            font-weight: 700;
          }
        }
      }

      .right {
        padding-left: 20px;

        @include breakpoint('phone-max') {
          padding-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .deleteQuestionCont {
    button {
      border: none;
      outline: none;
      height: 30px;
      border-radius: 5px;
      background-color: #6a41ec;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      line-height: 30px;
      padding: 0 10px;
      margin-top: 15px;
    }
  }
}
