@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

div .movie .banner, div .tv-show .banner {
  height: 450px;
  @include breakpoint('tablet-max') {
    height: 350px;
  }
  @include breakpoint('phone-max') {
    height: 155px;
  }
  &__img-wrapp {
    height: 450px;
    @include breakpoint('tablet-max') {
      height: 350px;
    }
    @include breakpoint('phone-max') {
      height: 155px;
    }
  }
}
.banner{
  height: 489px;
  position: relative;
  background: linear-gradient(-180deg, #000000 0%, #A6A6A6 90%);
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint('tablet-max') {
    height: 350px;
  }

  @include breakpoint('phone-max') {
    height: 155px;
  }

  &__img-wrapp{
    position: relative;
    overflow: hidden;
    height: 489px;

    @include breakpoint('tablet-max') {
      height: 350px;
    }

    @include breakpoint('phone-max') {
      height: 155px;
    }


    img{
      object-fit:cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    &__img-wrapp{

      img{
        height: auto;
      }
    }
  }

  &__overlay{
    background: rgba(0,0,0,0.15);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &__container{
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translateX(-50%) translateY(-59%);
    width: 100%;
    padding: 0 30px;

    @include breakpoint('tablet-max') {
      padding: 0 15px;
    }

    @include breakpoint('phone-max') {
      padding: 0 15px;
    }
  }

  &__message{
    text-align: center;
    @include font-base-semi-bold;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    margin-top: -65px;
    position: relative;

    @include breakpoint('phone-max') {
      margin-top: -22px;
      font-size: 26px;
      line-height: 30px;
    }
  }

  &__user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }

  h1,
  &__title{
    font-size: 40px;
    line-height: 50px;
    @include font-base-semi-bold;
    margin-bottom: 34px;

    @include breakpoint('tablet-max') {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 31px;
    }

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 11px;
    }
  }

  h2,
  &__text{
    font-size: 18px;
    line-height: 21px;
//    @include font-base-light;
    margin-bottom: 61px;

    @include breakpoint('tablet-max') {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 31px;
    }

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 11px;
    }
  }

  &__wrapp{
    display: flex;
    width: 430px;
    justify-content: space-between;

    .input{
      width: 268px;

      .form-control{
        height: 44px;
        font-size: 14px;
        border-radius: 0;
      }
    }

    .btn{
      width: 145px;
      height: 44px;
      border-radius: 4px;
      font-size: 14px;
      text-transform: none;
      @include font-base-semi-bold;

      &:hover{
        background: $color-flory;
        color: #fff;
      }
    }
  }

  .caption{
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    @include font-base-regular;

    .btn{
      font-size: 16px;
      line-height: 18px;
      @include font-base-regular;

      &:hover{
        color: #5F9EE7;
      }
    }
  }

  &__btn-mobile{
    width: 203px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    display: none;

    @include breakpoint('phone-max') {
      display: flex;
    }

    .btn{
      height: 24px;
      font-size: 7px;
      line-height: 9px;
      border-radius: 4px;
      text-transform: none;

      &:hover{
        color: #fff;
      }
    }
  }
}
