@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.profile{
  height: 100%;

  &__wrapp{
    position: relative;
    padding: 17px 24px;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 10px;
    }
  }

  h1,
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 42px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 19px;
    }
  }

  &__favorited-songs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;

    @include breakpoint('phone-max') {
      margin: 0;
    }
  }

  &__favorited{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    @include font-base-light;

    @include breakpoint('phone-max') {
      font-size: 11px;
    }
  }

  &__view-all{

    a,
    button{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      color: $color-havelock-blue;
      padding: 0;
      height: auto;

      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }

      @include breakpoint('phone-max') {
        font-size: 11px;
      }
    }
  }

  .song.song--profile-song{

    .song__title-check{
      width: 40%;
    }

    .song__name-like{
      width: 36%;
    }

    .song__btn-play-box{
      display: inline-block !important;
    }

    @include breakpoint('phone-max') {
      .song__download,
      .song__name-like{
        display: none;
      }

      .song__properties{
        width: 87%;
      }

      .song__middle{
        margin-top: 0;
      }

      .song__title-check{
        width: 98%;
      }
    }
  }
}
