@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

$dropdown-hover: 'dropdown-hover';

.#{$dropdown-hover} {
  position: relative;
  display: flex;
  height: 100%;

  &:focus{
    box-shadow: none !important;
    outline: none !important;
  }

  &__content{
    transition: all 200ms ease-in-out;
  }

  &-enter {
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 200ms ease-in-out;
  }

  &-enter.dropdown-hover-enter-active {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  &-leave {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  &-leave.dropdown-hover-leave-active {
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 200ms ease-in-out;
  }

  .dropdown-menu{
    padding: 0;
    margin: 0 ;
    list-style: none;
    border: none;
    box-shadow: none;
    transition: all 200ms ease-in-out;

    li{

      a{

        &:visited,
        &:focus,
        &:hover{
          background: none !important;
        }
      }
    }

    &--header-desktop{
      margin: 0;
      border-radius: 0 0 3px 3px;
      background-color: #000;
      background: #000;
    }

    &--red{
      background-color: #F24949;
      padding:  11px 0;

      li{

        span,
        a{
          color: $color-white;
          font-size: 14px;
          line-height: 18px;
          padding: 7px 22px;
          cursor: pointer;
          display: block;

          &:hover{
            color: $color-duststorm;
          }
        }
      }
    }

    &--black{
      background-color: #000;
      background: #000;
      padding:  11px 0;

      li{

        span,
        a{
          color: $color-white;
          font-size: 14px;
          line-height: 18px;
          padding: 7px 22px;
          cursor: pointer;
          display: block;

          &:hover{
            color: $color-duststorm;
          }
        }
      }
    }

    &--left{
      left: auto;
      right: 0;
      padding: 3px 0;

      @include breakpoint('phone-max') {
        left: auto;
        right: -23px;

      }
    }

    &--right-header{
      left: auto !important;
      right: -30px !important;
      padding: 3px 0;

      a{

        &:focus,
        &:active{
          color: #fff;
        }
      }

      @include breakpoint('tablet-max') {
        left: auto !important;
        right: -15px !important;

      }
    }

    &--arrow-left{

      &:after{
        position: absolute;
        left: 5px;
        top: -17px;
        content: '';
        border: 5px solid transparent;
        border-bottom: 12px solid $color-gallery;
        display: block;
        width: 0;
        height: 0;
      }
    }

    &--black-gray{
      background-color: $color-gray;
      padding: 5px 7px;

      &:after{
        border-bottom: 12px solid $color-gray;
      }

      li{

        a{
          color: $color-white;
          font-size: 10px;
          line-height: 18px;
          padding: 0;
        }
      }
    }

    &--three-dots{
      background-color: $color-gallery;
      z-index: 3;
      border-top: 13px solid transparent;
      text-align: left;
      padding: 10px 12px;
      min-width: 120px;

      a{
        color: $color-dusty-gray;
        font-size: 12px;
        line-height: 14px;
        padding: 3px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          color: $color-flamingo;

          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }
      }
    }

    &--share{
      background-color: $color-gallery;
      z-index: 3;
      border-top: 13px solid transparent;
      text-align: left;
      padding: 10px 12px;
      min-width: 88px;

      a{
        color: $color-dusty-gray;
        font-size: 10px;
        line-height: 12px;
        padding: 3px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          color: $color-flamingo;

          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }
      }
    }

    &--song-user{
      z-index: 3;
      border-top: 13px solid transparent;
      text-align: left;
      padding: 10px 12px;
      min-width: 88px;

      &:after{
        left: 12px;
      }

      a{
        color: $color-dusty-gray;
        font-size: 10px;
        line-height: 12px;
        padding: 3px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          color: $color-flamingo;

          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }
      }
    }
  }
}
