@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
$modal: 'modal';
$modal-transition-time: 200ms;
$modal-transition: ease-out !default;
$modal-transition-in: ease-in !default;
$modal-transition-out: ease-out !default;
.#{$modal} {
  position: fixed;
  top: 0;
  display: block !important;
  left: 0;
  z-index: 12;
  overflow-x: hidden;
  overflow-y: auto !important;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  filter: alpha(opacity=100);
  opacity: 1;
  transition: opacity $modal-transition-time $modal-transition;
  background: rgba(31,29,29,0.85);
  border: 1px solid #979797;


  &-enter {
    opacity: 0;
    filter: alpha(opacity=0);
    .#{$modal}-dialog {
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translateY(-15px);
      transition: all $modal-transition-time $modal-transition-in;
    }
  }
  &-enter.#{$modal}-enter-active {
    opacity: 1;
    filter: alpha(opacity=100);
    .#{$modal}-dialog {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translateY(0);
    }
  }
  &-leave {
    opacity: 1;
    filter: alpha(opacity=100);
    .#{$modal}-dialog {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translateY(0);
      transition: all $modal-transition-time $modal-transition-out;
    }
  }
  &-leave.#{$modal}-leave-active {
    opacity: 0;
    filter: alpha(opacity=0);
    .#{$modal}-dialog {
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translateY(15px);
    }
  }
  .modal-dialog {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 477px;

    &--full-width{
      max-width: 525px;
    }

    @include breakpoint('phone-max') {
      max-width: 280px;
    }
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    background: $color-gray-nurse;
  }
  .modal-header {
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 1px;
  }
  .modal-body,
  .modal-footer{
    border-radius:0 0 3px 3px;
  }

  .modal-title{
    padding: 22px 19px 1px 19px;

    @include breakpoint('phone-max') {
      padding: 10px;
    }
  }

  .modal-body{
    padding: 10px 63px 24px 19px;

    @include breakpoint('phone-max') {
      padding: 10px;
    }
  }

  .modal-content {
    box-shadow: none;
    border: 0;
    display: table-cell;
    vertical-align: middle;
    background: $color-transparent;

    @include breakpoint('phone-max') {
      padding: 20px 0;
    }
  }
  .modal-close {
    position: absolute;
    top: -15px;
    right: -5px;
    padding: 0;
    background-color: transparent;
    z-index: 1;
    font-size: 16px;
    @include font-base-light;
    text-align: center;

    &:after{
      content: '';
      background: #000;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -2px;
      left: -9px;
      z-index: -1;
      border-radius: 50%;

      @include breakpoint('phone-max') {
        left: -7px;
        width: 21px;
        height: 21px;
        top: 2px;
      }
    }
    &:hover {
      opacity: 1;
      color: $color-white;
    }
    @include breakpoint('phone-max') {
      right: -5px;
      font-size: 12px;
    }
  }
  .modal-title {
    letter-spacing: 0.4px;
    @include breakpoint('phone-max') {
      padding-right: 40px;
    }
  }


}