@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.browse-table{
  justify-content: space-between;
  padding-left: 45px;
  font-size: 0;


  @include breakpoint('phone-max') {
    padding-left: 30px;
    flex-direction: column;
  }

  &__coll{
    width: 33.3333%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 15px;

    @include breakpoint('phone-max') {
      width: 100%;
    }
  }
}