@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.like{
  color: #A4A6B6;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  margin-right: 0px;
  min-width: 35px;
  padding-top: 2px;

  .icon-font-heart{
    display: none;
  }

  &__like-text{
    padding-left: 4px;
  }

  &:hover,
  &.is-liked{

    .icon-font-heart{
      display: inline-block;
      vertical-align: middle;
    }
    .icon-font-heart-empty{
      display: none;
    }
  }

  i{
    color: $color-flory;
    font-size: 21px;
    line-height: 21px;
  }

  &--grid{
    display: flex;
    font-size: 12px;
    line-height: 14px;

    @include breakpoint('phone-max') {
      align-items: center;
    }

    i{
      font-size: 20px;
      line-height: 20px;
      margin: 3px 4px 0 0;
    }

    .like__like-text{
      font-size: 10px;
      line-height: 12px;
      padding-top: 4px;
      color: #fff;

      @include breakpoint('phone-max') {
        font-size: 12px;
        line-height: 26px;
      }
    }
  }

  &--recent{

    i{
      font-size: 17px;
      line-height: 17px;
      margin: 0 4px 0 0;
    }
  }

  &--trending{
    margin: -2px 0 0;

    .like__like-text{
      padding-top: 1px;
    }

    i{
      font-size: 20px;
      line-height: 20px;
      margin: 2px 0 0 0;
    }
  }

  &--song-mobile {
    text-align: center !important;

    i {
      color: $color-white;
      width: 22px;
      height: 16px;
    }

    .like__like-text {
      display: none;
    }
  }

  &--banner {
    .like__like-text {
      display: none;
    }
  }
}



