@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.shortlist{

  &__btn-wrapp{
    max-width: 920px;
    margin: 25px auto 0;
    padding: 0 50px;

    @include breakpoint('phone-max') {
      padding: 0;
    }

    button{
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      height: 42px;
      text-transform: uppercase;
    }
  }

  .input__label{
    min-width: 75px;
  }

  .search-form-youtube .form-group{
    max-width: 350px;
  }

  .modal-body{
    padding: 10px 0 24px 19px;

    @include breakpoint('phone-max') {
      padding: 10px 15px;
    }
  }

  .group-inline-block{
    display: inline-block;
    width: 100%;

  }

  .search-button{
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;

    @include breakpoint('phone-max') {
      text-align: right;
      margin: 0 0 15px;
      width: 100%;
    }
  }

  .form-list{
    max-width: 3350px;

    li{
      margin-bottom: 20px;
    }
  }

  .info-wrapp{
    display: flex;
    align-items: center;

    .btn{
      margin-right: 15px;
    }
  }

  .embed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 112px;
    background-color: $color-iron;
    text-align: center;
    margin-right: 25px;

    @include breakpoint('phone-max') {
      margin-right: 15px;
    }
  }

  .info-text{
    width: 180px;

    @include breakpoint('phone-max') {
      width: 135px;
    }
  }
}