@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.browse-item{
  margin-bottom: 25px;
}

.browse-letter{
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 22px;
  padding: 0 25px;
  @include font-base-black;
  color: $color-tundora;
  margin-bottom: 15px;

  &:after{
    content: '';
    position: absolute;
    left: -13px;
    top: -1px;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;

  }

  @include breakpoint('phone-max') {
    font-size: 14px;
    line-height: 17px;
    padding: 2px 10px;
  }

}