@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.theme-song{
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  clear: left;  

  @include breakpoint('phone-max') {
    margin-bottom: 9px;
    padding: 14px 16px;
    background: #fff;
    border-radius: 0px;
    border: 1px solid #DEDEDE;
  }

  &__title{
    font-size: 13px;
    line-height: 18px;
    color: #A4A6B7;
    margin: 0 0 7px 0;
    position: relative;
    z-index: 2;
    font-weight: bolder;
    letter-spacing: -0.3px;
    @include breakpoint('phone-max')  {
      padding-left: 15px;
    }
  }


  &__list{
    padding: 14px 26px 14px 16px;
    background: #fff;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    border: 1px solid #DEDEDE;


    &:hover {
      background-color: $color-wild-sand;
    }
    @include breakpoint('phone-max') {
      padding: 0;
      background: none;
      border-radius: 0;
      border: 0;
    }

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
//      padding: 13px 26px;

      @include breakpoint('phone-max') {
        padding-left: 10px;
      }
    }
  }

  &__name{

    span{
      color: $color-dusty-gray;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      display: block;
    }
  }
}
