@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.info-card{

  background: #fff;
  border-radius: 3px;
  padding: 40px 74px;
  margin: 30px auto;
  width: 94%;

  @include breakpoint('tablet-max') {
    padding: 16px 20px;
  }

  &--gray{

    .info-card__title{
      color: $color-dusty-gray;
    }
  }

  &__title{
    color: #B8E986;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;



    @include breakpoint('tablet-max') {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__content{

    p{
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
      @include font-base-light;


      @include breakpoint('tablet-max') {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}