@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.breadcrumbs{
  background: #fff;
  padding: 0 28px;
  margin: 0 0 16px;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint('phone-max') {
    padding: 0 0 0 15px;
    margin-bottom: 9px;
    border-radius: 0px;
  }

  .date-episode{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 15px;
      padding-right: 15px;
    }
  }

  &__list{
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
//    float: left;

    li{
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 13px 26px;

      @include breakpoint('phone-max') {
        padding: 18px 17px;
      }

      &:before{
        content: "/";
        position: absolute;
        left: 0;
        top: 13px;
        font-size: 14px;
        line-height: 18px;
        width: 5px;
        height: 18px;
        color: $color-dusty-gray;
        @include font-base-semi-bold;

        @include breakpoint('phone-max') {
          font-size: 12px;
          line-height: 13px;
          top: 18px;
        }
      }

      &:first-child{
        padding-left: 0;

        &:before{
          content: "";
          width: 0;
          height: 0;
        }
      }
    }

    span,
    a{
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      @include font-base-semi-bold;

      @include breakpoint('phone-max') {
        font-size: 14px;
        line-height: 13px;
      }
    }

    a{
      color: #4A90E2;
      

      &:hover{
        text-decoration: underline;
      }
    }

    span{
      color: $color-dusty-gray;
    }
  }
}
