@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.recent-activity{

  background: #fff;
  border-radius: 3px;
  padding: 17px 26px;

  @include breakpoint('phone-max') {
    padding: 16px 20px;
  }
  .like{
    min-width: 55px;
  }

  h2,
  &__title{
    text-transform: uppercase;
    color: $color-dusty-gray;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    @include font-base-regular;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      @include font-base-light;
      margin-bottom: 20px;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    flex-basis: 100%;
    color: $color-dusty-gray;
    @include font-base-light;
    margin-bottom: 11px;
    min-height: 53px;

    &:hover{
      .recent-activity__btn-box{
//        display: flex;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
      }
    }

    @include breakpoint('phone-max') {

      &:hover{
        .recent-activity__btn-box{
          display: none;
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include breakpoint('tablet-min') {
      width: 10%;
      min-width: 110px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      flex-direction: column;
      margin-right: 10px;
      min-width: 70px;
    }

    @include breakpoint('phone-max') {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 25px;
    }
  }

  &__right{
    display: flex;
    align-items: center;

    @include breakpoint('tablet-min') {
      width: 90%;
    }

    @include breakpoint('phone-max') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__minuts{
    font-size: 10px;
    line-height: 12px;
    white-space: nowrap;

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      margin-bottom: 3px;
    }
  }

  &__img{
    margin: 0 11px 0 20px;
    max-width: 34px;
    max-height: 34px;
    background-size: cover;
    border-radius: 50%;
    height: 34px;
    width: 34px;

    @include breakpoint('phone-max') {
      margin: 5px auto;
    }
  }

  &__song{
    font-size: 12px;
    line-height: 14px;
//    margin: 0 25px 0 0;

    @include breakpoint('tablet-min') {
      width: 50%;
    }

    @media screen and (min-width: 1025px) and (max-width: 1150px) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 150px;
      }
    }

    @media screen and (min-width: 1150px) and (max-width: 1280px) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 250px;
      }
    }

    @media screen and (min-width: 1280px) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 350px;
      }
    }

    @media screen and (min-width: 1400px) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 550px;
      }
    }



    a{
      color: $color-havelock-blue;
    }
  }

  &__like-box{
    display: flex;
    align-items: flex-start;

    @include breakpoint('tablet-min') {
      width: 20%;
      padding-left: 20px;
    }

    @include breakpoint('phone-max') {
      padding-top: 10px;
    }
  }

  .headphones{
    color: $color-dusty-gray;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 0 11px;
    white-space: nowrap;

    i{
      font-size: 18px;
      line-height: 18px;
      margin: -3px 4px 0 0;
    }
  }

  &__like{
    color: $color-carnation;
    font-size: 12px;
    line-height: 14px;
    margin-left: 38px;
    white-space: nowrap;
  }

  &__download{
    margin-left: 20px;
  }

  &__download-dropdown{
    &.active{
      z-index: 2;
    }
  }

  &__btn-box{
    display: none;

    @include breakpoint('tablet-min') {
      width: 30%;
    }
  }

  &__download,
  &__play-song{
    display: inline-block;
    vertical-align: middle;

    button{
      height: 24px;
      font-size: 11px;
      line-height: 14px;
      padding-top: 2px;
      padding-bottom: 0;
      width: 101px;

      &:hover{
        color: #fff;
      }
    }
  }

  &__download{
    .btn--download{
      &:after{
        top: 9px;
      }
    }
  }

  &__play-song{
    margin: 0 0 5px 20px;
  }
}