html,body{
  height: 100% !important;
  min-height: 0 !important;
  padding-bottom: 0 !important;
  overflow-x: hidden;
}

body{
  @include font-base-regular;
  -webkit-font-smoothing: antialiased;
  background-color: $color-concrete;
}

.GRVAd{
  text-align: center;
}

.modal-open #content{
  overflow-y: scroll;
}

//*, *:before, *:after {
//  -webkit-appearance: none;
//}

#content{
  height: 100% !important;
  min-height: 0 !important;

  @media screen and (min-width:0\0){
    overflow-x: hidden;
  }
}

.content{
  @include clearfix;
}
.ReactTabs{
  padding-top: 9px;
}

.ReactTabs__TabList{
  margin: 0 !important;
  border: none !important;
  font-size: 0 !important;
}

.ReactTabs__Tab{
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: $color-dusty-gray;
  border: none !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 33.3333%;
  text-align: center;

  &:focus{
    box-shadow: none !important;
  }

  &:after{
    background: none !important;
  }
}

.ReactTabs__Tab--selected{
  @include font-base-semi-bold;
  color: #000;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.list{
  padding: 0;
  margin: 0;
  list-style: none;
  @include clearfix;

  &>li{
    @include clearfix;
    border-bottom: 1px solid $color-anti-flash-white;

    &:last-child{
      border: none;
    }

    &>span{
      float: left;
      font-size: 12px;
      line-height: 14px;
      color: $color-dusty-gray;
      padding: 18px 0 0 0;
      width: 2%;

      @include breakpoint('phone-max') {
        font-size: 10px;
        line-height: 13px;
        padding: 10px 0 0 10px;
        width: 4%;
        margin-right: 2%;
      }
    }
  }
}

h2 {
  margin-top: 5px;
}