@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.recently-thanked{

  margin-bottom: 10px;

  @include breakpoint('phone-max') {
    margin-bottom: 28px;
  }

  &__title{
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }

  &__list{
    position: relative;
    padding: 23px 15px 2px;
    background: #fff;
    border-radius: 4px;

    li{
      margin-bottom: 21px;

      &>span{
        font-size: 10px;
        line-height: 12px;
        color: $color-dusty-gray;
        @include font-base-light;
        display: inline-block;
        vertical-align: top;
        width: 54px;
        text-align: center;
        margin-right: 9px;
        padding-top: 3px;
      }

      p{
        display: inline-block;
        vertical-align: top;
        margin: 0;
        @include font-base-light;
        font-size: 9px;
        line-height: 11px;
        max-width: 163px;

        span{
          @include font-base-regular;
        }
      }
    }
  }

  &__avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    display: inline-block;
    vertical-align: top;

    img{
      width: 100%;
      border-radius: 50%;
    }
  }

}