@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.edit-search-result{

  &__title{

    font-size: 17px;
    line-height: 21px;
    color: $color-dusty-gray;
    margin: 0 0 20px;
    text-transform: uppercase;

    color: $color-tundora;
    font-size: 24px;
    line-height: 29px;
    @include font-base-black;
    text-transform: none;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 17px;
    }
  }

//  Table

  &__table{
    display: table;
    width: 100%;

    @include breakpoint('phone-max') {
      display: block;
    }
  }

  &__table-row{
    display: table-row;

    @include breakpoint('phone-max') {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      position: relative;
    }

    &:hover{
      background: $color-wild-sand;

      @include breakpoint('phone-max') {
        background: none;
      }
    }

    &--th{
      margin-bottom: 10px;

      @include breakpoint('phone-max') {
        display: none;
      }

      &:hover{
        background: none;
      }

      .edit-search-result__table-cell{
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        color: $color-dusty-gray;
      }
    }
  }

  &__table-cell{
    display: table-cell;
    vertical-align: middle;
    width: 21%;
    padding: 7px 15px;
    @include font-base-light;

    &:first-child{
      width: 6%;

      @include breakpoint('phone-max') {
        display: none;
      }
    }

    &:nth-child(2){

      @include breakpoint('phone-max') {
        width: 70%;
      }
    }

    &:nth-child(5),
    &:nth-child(3),
    &:nth-child(4){
      @include breakpoint('phone-max') {
        display: none;
      }
    }

    @include breakpoint('phone-max') {
      display: block;
      width: auto;
      padding: 0 10px;
    }

    &:last-child{
      width: 5%;

      @include breakpoint('phone-max') {
        display: block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 0;
        width: 74px;
        transform: translateX(0) translateY(-50%);
        padding: 0;
      }
    }
  }

  &__name,
  &__artist{
    font-size: 14px;
    line-height: 14px;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__name{
    @include font-base-regular;
  }

  &__spotify,
  &__youtube{
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    &--un-active{
      color: $color-monza;
    }
  }

  &__delete{
    margin: -3px 0 0;
    visibility: hidden;

    @include breakpoint('tablet-max') {
      visibility: visible;
    }

    .btn{
      color: $color-monza;
      padding: 0;

      i{
        font-size: 16px;
        line-height: 16px;
        color: $color-monza;
      }
    }
  }

  //  Songs Songs Songs

  &__btn-play-box{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: 2%;

    i{
      color: $color-tundora;
      font-size: 25px;
      line-height: 25px;
    }

    .icon-font-btn-pause{
      display: none;
    }

    .btn{
      padding: 0;
    }

    .is-playing{

      .icon-font-btn-play{
        display: none;
      }
      .icon-font-btn-pause{
        display: block;
      }
    }
  }

  &__title-check{

    .edit-search-result__artist{
      display: none;

      @include breakpoint('phone-max') {
        display: block;
      }
    }
  }

  .add-shortlist{
    text-transform: uppercase;
    color: $color-havelock-blue;
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;
    font-size: 13px;
    line-height: 16px;
    @include font-base-black;
    text-transform: none;
    color: #fff;
    text-align: center;
    padding: 5px 10px !important;
    background-image: linear-gradient(-90deg, #50B882 0%, #84E251 100%);

    &:focus,
    &:active,
    &:hover{
      background-image: linear-gradient(90deg, #50B882 0%, #84E251 100%);
      color: #fff;
    }

    @include breakpoint('phone-max') {
      width: 74px;
      white-space: normal;
      font-size: 10px;
      line-height: 12px;
    }
  }
}