@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.saved-trailers{

  &__title{

    font-size: 17px;
    line-height: 21px;
    color: $color-dusty-gray;
    margin: 0 0 20px;
    text-transform: uppercase;

    c {
      font-size: 15px;
      line-height: 17px;
    }
  }

  &__wrapp{
    @include clearfix;
  }

  &__info,
  &__video-wrapp{
    float: left;
    width: 50%;
    max-width: 322px;
  }

  &__info{
    margin-left: 5%;
  }

  &__video-wrapp{
    margin-right: 5%;
  }

  &__video-title{
    font-size: 10px;
    line-height: 12px;
    @include font-base-light;
    color: $color-dusty-gray;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__video{
    background-color: $color-iron;
    width: 322px;
    height: 160px;
    margin-bottom: 8px;

    @include breakpoint('phone') {
      width: 274px;
    }
  }

  &__name{
    font-size: 14px;
    line-height: 17px;
    @include font-base-light;
    margin-bottom: 20px;
  }

  &__name-album{
    margin-bottom: 8px;

    p{
      font-size: 14px;
      line-height: 17px;
      @include font-base-light;
      margin-bottom: 4px;
    }

  }

  &__video-delete{
    text-align: right;

    .btn{
      color: $color-monza;
      font-size: 10px;
      line-height: 12px;
      @include font-base-light;
      text-transform: none;
    }
  }

  &__more{

    .btn{
      color: $color-havelock-blue;
      font-size: 10px;
      line-height: 12px;
      @include font-base-light;
      text-transform: uppercase;
    }
  }
}