@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.tv-movies{

  &__item{

    border-bottom: 1px solid #F4F4F4;
    padding: 11px 24px;

    @include breakpoint('phone-max') {
      padding: 11px;
    }

    &:hover{
      background: #F4F4F4;

      @include breakpoint('phone-max') {
        background: none;
      }
    }

    .like{

      color: #000;
      float: none;
      width: auto;
      padding: 5px 5px 5px 15px;

      @include breakpoint('tablet-max') {
        padding: 5px 5px 5px 12px;
        font-size: 12px;
        line-height: 14px;
      }

      &:hover{
        color: $color-flamingo;
      }

      .dropp-add{
        display: block;
      }

      .dropp-remove{
        display: none;
      }

      &.is-liked .dropp-remove{
        display: block;
      }

      &.is-liked .dropp-add{
        display: none;
      }


      .like__like-text,
      i{
        display: none !important;
      }
    }
  }

  &__table{
    width: 100%;
    display: table;
  }

  &__cell{
    width: 12%;
    display: table-cell;
    font-size: 14px;
    line-height: 18px;

    @include breakpoint('phone-max') {
      font-size: 12px;
      width: 17%;
    }

    &:first-child{
      width: 54%;
      padding-right: 5%;
      a{
        color: $color-havelock-blue;
        letter-spacing: -0.7px;
      }

      @include breakpoint('phone-max') {
        width: 30%;
      }
    }

    &:nth-child(3){
      text-align: right;

      @include breakpoint('phone-max') {
        font-size: 12px;
        width: 13%;
      }
    }

    &:last-child{
      font-size: 10px;
      line-height: 13px;
      color: $color-dusty-gray;
      text-align: right;
    }
  }

  &__song-count{
    font-size: 12px;
  }

  &__dropp{

    i{
      font-size: 16px;
      line-height: 22px;
      color: $brand-black;
      height: 4px;
    }
  }
}