@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.profile-user{

  display: flex;
  align-items: center;
  margin-bottom: 17px;

  &__avatar-radius{
    border-radius: 50%;
  }

  &__avatar{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__name{
    @include font-base-light;

    p{
      margin: 0;
      font-size: 16px;
      line-height: 19px;

    }

    span{
      font-size: 12px;
      line-height: 14px;
      color: $color-dusty-gray;
    }
  }

}
