@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.artist-page{

  .sidebar{
    flex: 1;
    margin-right: 0!important;
    margin-top: 88px;
    margin-left: 10px;
  }
  .sidebar{
    div{
      width: 300px;
      height: 300px;
    }
  }

  .artist-header{
    font-size: 24px;
    letter-spacing: -0.7px;
    color: #4a4a4a;
    @include breakpoint('phone-max'){
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .artist-subtitle{
    font-size: 16px;
    letter-spacing: -0.7px;
    color: $color-dusty-gray;
    @include breakpoint('phone-max'){
      font-size: 13px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .main{
    padding-right: 10px;
    display: flex;

    @include breakpoint('phone-max') {
      padding-right: 5px;
    }
  }

  .content{
    flex: 6;
    padding-right: 0;
  }

  &__wrapp{
    padding: 20px 12px;
    background: #fff;
    @include breakpoint('phone-max'){
      padding: 0;
    }
  }

  &__list-title{
    display: table;
    width: 100%;
    padding: 0 15px 10px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  &__list-cell{
    display: table-cell;
    vertical-align: top;
    color: $color-dusty-gray;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;

    &:first-child{
      width: 7%;
      min-width: 30px;
    }

    &:nth-child(2){
      width: 40%;
    }

    &:nth-child(3){
      width: 33%;
    }
  }
}
