
@mixin font-base-semi-bold() {
  font-family: 'montserratbold';
}
@mixin font-base-black() {
  font-family: 'montserratblack';
}

@mixin font-base-light() {
  font-family: 'montserratlight';
}

@mixin font-base-regular() {
  font-family: 'montserratregular';
}


//Font-size

@mixin font-size--a {
  font-size: 10px;
  line-height: 12px;
}

@mixin font-size--b {
  font-size: 11px;
  line-height: 13px;
}

@mixin font-size--c {
  font-size: 12px;
  line-height: 14px;
}

@mixin font-size--d {
  font-size: 13px;
  line-height: 15px;
}

@mixin font-size--e {
  font-size: 14px;
  line-height: 16px;
}

@mixin font-size--f {
  font-size: 15px;
  line-height: 17px;
}

@mixin font-size--g {
  font-size: 16px;
  line-height: 18px;
}

@mixin font-size--h {
  font-size: 17px;
  line-height: 19px;
}

@mixin font-size--i {
  font-size: 18px;
  line-height: 20px;
}

@mixin font-size--j {
  font-size: 19px;
  line-height: 21px;
}

@mixin font-size--k {
  font-size: 20px;
  line-height: 22px;
}

@mixin font-size--l {
  font-size: 21px;
  line-height: 23px;
}

@mixin font-size--m {
  font-size: 22px;
  line-height: 24px;
}

@mixin font-size--n {
  font-size: 23px;
  line-height: 25px;
}

@mixin font-size--o {
  font-size: 24px;
  line-height: 26px;
}

@mixin font-size--o {
  font-size: 25px;
  line-height: 27px;
}

@mixin font-size--p {
  font-size: 26px;
  line-height: 28px;
}

@mixin font-size--q {
  font-size: 27px;
  line-height: 29px;
}

@mixin font-size--r {
  font-size: 28px;
  line-height: 30px;
}

@mixin font-size--s {
  font-size: 29px;
  line-height: 31px;
}

@mixin font-size--xl {
  font-size: 36px;
  line-height: 38px;
}

