@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.modal-text-area {
  margin: 20px 0;
  border: none;
  outline: none;
  width: 100%;
}

.modal-error {
  border: 1px solid red !important;
}

.modal-error-text {
  float: right;
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

