@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.edit-song{

  &__table{
    display: table;
    width: 100%;

    @include breakpoint('phone-max') {
      display: block;
    }
  }

  &__table-row{
    display: table-row;

    @include breakpoint('phone-max') {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      position: relative;
    }

    &.is-disabled{

      .edit-song__btn-play-box{
        cursor: default;
      }
      .edit-song__btn-play-box i{
        color: #ccc;
        cursor: default;
      }
    }

    &:hover{
      background: $color-wild-sand;

      .edit-song__delete{
        visibility: visible !important;
      }

      @include breakpoint('tablet-max') {
        background: none;
      }
    }

    &--th{
      margin-bottom: 10px;

      @include breakpoint('phone-max') {
        display: none;
      }

      &:hover{
        background: none;
      }

      .edit-song__table-cell{
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        color: $color-dusty-gray;
      }
    }
  }

  &__table-cell{
    display: table-cell;
    vertical-align: top;
    width: 17%;
    padding: 7px 15px;
    @include font-base-light;

    &:first-child{
      width: 6%;

      @include breakpoint('phone-max') {
        display: none;
      }
    }

    &:nth-child(2){
      width: 40%;

      @include breakpoint('phone-max') {
        width: 80%;
      }
    }

    &:nth-child(5),
    &:nth-child(3),
    &:nth-child(4){
      @include breakpoint('phone-max') {
        display: none;
      }
    }

    @include breakpoint('phone-max') {
      display: block;
      width: auto;
      padding: 0 10px;
    }

    &:last-child{
      width: 5%;

      @include breakpoint('phone-max') {
        display: block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 0;
        width: 17px;
        height: 17px;
        transform: translateX(0) translateY(-50%);
        padding: 0;
      }
    }
  }

  &__artist{
    font-size: 14px;
    line-height: 14px;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__spotify,
  &__youtube{
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    cursor: pointer;
    &--un-active{
      color: $color-monza;
    }
  }

  &__delete{
    margin: -3px 0 0;
    visibility: hidden;

    @include breakpoint('tablet-max') {
      visibility: visible;
    }

    .btn{
      color: $color-monza;
      padding: 0;

      i{
        font-size: 16px;
        line-height: 16px;
        color: $color-monza;
      }
    }
  }

  //  Songs Songs Songs

  &__btn-play-box{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 2%;

    i{
      color: $color-tundora;
      font-size: 25px;
      line-height: 25px;
    }

    .icon-font-btn-pause{
      display: none;
    }

    .is-playing{
      .icon-font-btn-play{
        display: none;
      }
      .icon-font-btn-pause{
        display: block;
      }
    }

    .btn{
      padding: 0;
    }
  }


  &__properties{
    display: inline-block;
    vertical-align: top;
    width: 93%;
    @include clearfix;
  }

  &__top{
    height: 100%;
  }

  &__middle{
    padding: 6px 0 0;

    @include breakpoint('phone-max') {
      padding: 8px 0 0;
    }
  }

  &__check{
    position: relative;
    width: 24px;
    height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    @include breakpoint('phone-max') {
      display: none;
    }

    i{
      color: $color-tundora;
      cursor: pointer;
      font-size: 10px;

      &.icon-font-check {
        border: 1px solid #DEDEDE;
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }

      &:hover,
      &.is-active{
        color: $color-flamingo;
      }


      &.icon-font-minus {
        margin-left: 4px;
      }
    }
  }

  &__title-check{

    .edit-song__artist{
      display: none;

      @include breakpoint('phone-max') {
        display: block;
      }
    }
  }

  &__time,
  &__album,
  &__title{
    font-size: 14px;
    line-height: 17px;
    color: $color-tundora;
    display: inline-block;
    vertical-align: top;
  }

  &__title{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;


    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      @include font-base-regular;
      margin-bottom: 4px;
    }
  }

  &__add-scene,
  &__time,
  &__album{
    font-size: 11px;
    line-height: 13px;
    cursor: pointer;
  }

  &__album{

    @include breakpoint('phone-max') {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__time{
    padding-right: 11px;

    @include breakpoint('phone-max') {
      padding-right: 5px;
    }
  }

  &__add-scene{
    color: $color-monza;
    text-transform: uppercase;
  }
}