@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.search-form-youtube{

  .form-group {
    max-width: 350px;
  }

  .search-button {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;

    @include breakpoint('phone-max') {
      margin: 0 0 10px;
    }
  }

  .form-list li {
    margin-bottom: 20px;
  }

  .info-wrapp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    @include breakpoint('phone-max') {
      flex-direction: column;
    }
  }

  .info-wrapp .btn {
    margin-right: 15px;
    min-width: 10px;

  }

  .embed {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 200px;
    height: 112px;
    background-color: #D8D8D8;
    text-align: center;
    margin-right: 25px;

    @include breakpoint('phone-max') {
      margin: 15px 0;
    }
  }

  .info-text {
    width: 180px;
  }
}