@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.edit-title{

  &__title-wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;

    @include breakpoint('phone-max') {
      margin-bottom: 30px;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    z-index: 1;
    display: none;

    span{
      font-size: 14px;
      line-height: 17px;
      @include font-base-light;
      color: $color-dusty-gray;
      padding-left: 20px;
      text-transform: uppercase;

      @include breakpoint('phone-max') {
        font-size: 10px;
        line-height: 12px;
        padding-left: 0;
      }
    }

    i{
      font-size: 20px;
      line-height: 19px;
      position: relative;
      color: #fff;

      @include breakpoint('phone-max') {
        display: none;
      }

      &:after{
        content: '';
        position: absolute;
        left: 13px;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color-dusty-gray;
        z-index: -1;
      }
    }
  }
}