@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.seasons{
  background: #fff;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #DEDEDE;

  @include breakpoint('phone-max') {
    margin-bottom: 5px;
    border-radius: 0px;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 18px 20px;
    border-bottom: 1px solid #F3F3F3;
    @include breakpoint('phone-max') {

    }
  }

  &__title{
    font-size: 17px;
    line-height: 20px;
    color: #A4A6B6;
    letter-spacing: -0.7px;
    margin: 0;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 14px;
    }
  }

  &__add{
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    cursor: pointer;
    letter-spacing: -0.5px;
    padding-right: 10px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  &__list{
    // border: 1px solid $color-mercury-light;
    // border-radius: 3px;
  }

  &__item{
    border-bottom: 1px solid #F3F3F3;
    padding: 4px 0px 7px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include breakpoint('phone-max') {
      padding: 10px 0 10px 20px;
    }

    &:last-child{
      border: none;
    }

    &:hover {
      background-color: $color-wild-sand;
    }

    a{
      display: table;
      width: 100%;
      text-decoration: none !important;
      padding: 12px 0 9px 22px;

      &:hover {
        color: $color-astral;
      }

      @include breakpoint('phone-max') {
        padding: 12px 0 9px 0;
      }
    }
  }

  &__left{
    width: 75%;
    @include breakpoint('phone-max') {
      width:50%;
    }
  }

  &__right{
    width: 25%;
    display: flex;
    @include breakpoint('phone-max') {
      width:50%;
    }
  }

  &__name{
    font-size: 16px;
    line-height: 18px;
    display: table-cell;
    letter-spacing: -0.7px;
    width: 75%;
    text-align: left;
    vertical-align: middle;
    color: $brand-black;

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 12px;
      width: 40%;
    }
  }

  &__date{
    @include font-base-light;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.7px;
    color: $color-dusty-gray;
    display: table-cell;
    width: 12.5%;
    vertical-align: middle;
    padding-right: 2%;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  &__songs,
  &__episodes{
    display: table-cell;
    width: 12.5%;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.7px;
    color: $color-purple-brand;

    a{

      &:hover{
        text-decoration: none;
      }

      @include breakpoint('phone-max') {
        font-size: 8px;
        line-height: 10px;
      }
    }

    @include breakpoint('phone-max') {
      width: 15%;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__episodes{
    padding-right: 2%;
    width: 15%;
    color: #A4A6B6;

    @include breakpoint('phone-max') {
      width: 19%;
    }
  }

}
