@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song--favorite{
  position: relative;
  padding: 7px 15px;
  margin-bottom: 0;
  background: #fff;


  @include breakpoint('phone-max') {
    margin-bottom: 0;
    padding: 10px 0;
  }

  .song__btn-play-box{
    position: relative;

    img{
      width:100%;
    }
  }

  .song__middle{
    display: none;
  }

  .song__mask{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;

  }

  .song__btn-play-box{
    width: 25px;
    height: 25px;
    vertical-align: middle;

    img{
      display: none;
    }

    @include breakpoint('phone-max') {
      width: 25px;
      height: 25px;
    }
  }

  .song__btn-play-box .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .song__properties{
    width: 92%;
    vertical-align: middle;
  }

  .song__download,
  .song__name-like,
  .song__title-check{
    vertical-align: middle;
  }

  .song__heard{
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;
    padding: 3px 0 0;

    @include breakpoint('phone-max') {
      padding-bottom: 3px;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }


    p{
      margin: 0;
    }

    span{
      color: $color-dusty-gray;
    }
  }

  .song__title-check{
    width: 30%;
    vertical-align: middle;

    @include breakpoint('tablet') {
      width: 30%;
    }
  }

  .like{

    color: #000;
    float: none;
    width: auto;
    padding: 5px 5px 5px 15px;

    @include breakpoint('tablet-max') {
      padding: 5px 5px 5px 12px;
      font-size: 12px;
      line-height: 14px;
    }

    &:hover{
      color: $color-flamingo;
    }

    .dropp-add{
      display: block;
    }

    .dropp-remove{
      display: none;
    }

    &.is-liked .dropp-remove{
      display: block;
    }

    &.is-liked .dropp-add{
      display: none;
    }


    .like__like-text,
    i{
      display: none !important;
    }
  }

  .song__name-like{
    width: 45%;
  }

  .song__album{
    width: 45%;
    font-size: 14px;
    line-height: 18px;
    color: $color-tundora;
      a{
        font-size: 14px;
        letter-spacing: -0.7px;
      }
  }
  .song__from{
    float: right;
    width: 45%;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a{
      color: $color-tundora;
    }
  }

  .song__album{
    float: left;
    margin-top: 5px;
    font-size: 14px;
  }

  .song__from{
    letter-spacing: -0.7px;
    margin-top: 4px;
      a{
        color: $color-havelock-blue;

      }
  }

  .song__title{
    font-size: 14px;
    letter-spacing: -0.6px;
  }

  .song__download{
    width: 50%;
    visibility: visible;
  }

  .song__right-block{
    float: right;
    width: 25%;

    &:last-child{
      text-align: right;
    }
  }

  .song__times{
    font-size: 11px;
    line-height: 13px;
    color: $color-dusty-gray;
    margin-top: 6px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    letter-spacing: -0.6px;
  }

  .song__container-mobile{

    @include breakpoint('phone-max') {
      margin: 0;
    }
  }
}