@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song-delete{

  &__question{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  &__wrapp-btn{
    text-align: center;

    .btn{
      min-width: 80px;
      margin-right: 20px;

      &:last-child{
        margin: 0;
      }
    }
  }
}