@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";


.song{

  &.is-disabled{

    .song__btn-play-box{
      cursor: default;

    }
    .song__btn-play-box i{
      color: lavender;
      cursor: default;
      opacity: 0.4;
    }
  }

  &__separator{
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: relative;
    z-index: 2;
    margin: 5px 0;

  }

  &--artist{

    .song__btn-play-box i{

      @include breakpoint('phone-max') {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .song__links-box{
      @include breakpoint('phone-max') {
        padding-top: 5px;
      }
    }

    .song__title-check{
      width: 43%;
    }
    .song__name-like{
      width: 33%;
    }

    @include breakpoint('tablet') {

      .song__title-check{
        width: 40%;
      }
      .song__name-like{
        width: 36%;
      }
    }

    .song__title{
      font-size: 18px;
      line-height: 22px;

      @include breakpoint('tablet') {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .song__download{
      text-align: center;

      @media screen and (min-width: 1025px) and (max-width: 1135px) {
        text-align: left;
        padding-left: 20px;
      }

      @media screen and (min-width: 768px) and (max-width: 868px) {
        text-align: left;
        padding-left: 20px;
      }
    }
  }

  &__from{
    float: left;
    width: 80%;

    p{
      font-size: 18px;
      line-height: 22px;

      @include breakpoint('tablet') {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &__info-tv{
    color: $color-dusty-gray;
    font-size: 12px;
    line-height: 15px;
  }

  &__link-spotify{
    cursor: pointer;
    text-align: right;
    display: block;

    &>div{
      display: inline-block;
    }

    a{
      color: $color-dusty-gray;
      cursor: pointer;

      &:active,
      &:visited,
      &:focus,
      &:hover{
        text-decoration: none;
        cursor: pointer;
      }

      i{
        margin-right: 3px;
        color: $color-pastel-green;
        font-size: 13px;
        line-height: 14px;
      }
    }
  }

  .three-dots{
    color: $color-dusty-gray;
    display: inline-block;
    vertical-align: bottom;
    height: 7px;
    position: relative;
    width: 21px;
    cursor: pointer;

    i{
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 12px;
      line-height: 10px;
      height: 3px;
      width: 21px;
    }
  }

  .share{
    color: $color-dusty-gray;
    cursor: pointer;

    i{
      font-size: 12px;
      line-height: 12px;
      margin-right: 5px;
    }

    &__text{
      font-size: 10px;
      line-height: 12px;
    }

  }

  @include clearfix;
  padding: 11px 15px;

  @include breakpoint('phone-max') {
    padding: 13px 0;
  }

  &:hover{
    @include breakpoint('phone-max') {
      background: none;
    }

    .song__download{
      visibility: visible;
    }

    .song__properties-right {
      display: inline-block;
      opacity: 1;
    }

    .song__container-desktop {
      .song__btn-play-box {
        &:after {
          display: block;
        }

        .icon-font-btn-play {
          display: inline-block;
        }
      }
    }
  }

  &__btn-play-box-soundtrack{
    display: inline-block;
    vertical-align: top;
    width: 5%;
    margin-right: 2%;
    min-width: 30px;
    @include breakpoint('phone-max'){
      padding-left: 5px;
    }

    i{
      display: inline-block;
      color: #41415F;
      font-size: 25px;
      line-height: 25px;

      @include breakpoint('phone-max') {
        font-size: 25px;
        line-height: 25px;
      }
    }
    .icon-font-btn-pause{
      display: none;
    }

  }

  &__btn-play-box-trailer{
    display: flex;
    vertical-align: top;
    width: 5%;
    margin-right: 2%;
    min-width: 30px;

    i{
      display: inline-block;
      color: #41415F;
      font-size: 25px;
      line-height: 25px;

      @include breakpoint('phone-max') {
        font-size: 25px;
        line-height: 25px;
      }
    }
    .icon-font-btn-pause{
      display: none;
    }

  }

  &__btn-play-box{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-right: 0%;
    min-width: 30px;
    transition: .3s;
    overflow: hidden;

    i{
      display: inline-block;
      color: #41415F;
      font-size: 25px;
      line-height: 25px;

      @include breakpoint('phone-max') {
        font-size: 25px;
        line-height: 25px;
        color: #4a4a4a;
      }
    }

    .icon-font-btn-pause{
      display: none;

    }

    .btn{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      z-index: 2;
    }
  }

  &.is-playing{

    .icon-font-btn-play{
      display: none !important;
    }
    .icon-font-btn-pause{
      display: block;
    }
  }

  &__properties{
    display: inline-block;
    vertical-align: top;
    width: 95%;
    @include clearfix;
    @media screen and (min-width: 768px) and (max-width: 900px) {
      display: flex;
      justify-content: space-between;
      & .song__properties-left {
        flex-grow: 1;
      }
      & .song__properties-right {
        width: 150px;
      }
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      display: flex;
      justify-content: space-between;
      & .song__properties-left {
        flex-grow: 1;
      }
      & .song__properties-right {
        width: 150px;
      }
    }
  }

  &__properties-left{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
  }

  &__properties-right{
    //display: none;
    display: inline-block;
    opacity: 0.6;
    vertical-align: top;
    width: 40%;
    text-align: right;
    min-width: 163px;
    transition: .3s;

    @include breakpoint('phone-max')  {
      min-width: 0px;
    }
  }

  &__soundtrack-properties-left{
    display: inline-block;
    vertical-align: middle;
    width: 63%;
    @include breakpoint('phone-max')  {
      width: 100%
    }
  }

  &__soundtrack-properties-right{
    display: inline-block;
    vertical-align: top;
    width: 37%;
    text-align: right;
    min-width: 163px;
  }

  &__top{
    height: inherit;
    margin-bottom: 3px;
  }

  &__middle{
    padding-bottom: 8px;

    .song__album{
      display: none;
    }
  }

  &__check{
    position: relative;
    width: 24px;
    height: 14px;
//    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    span{

      &:first-child{
        margin-right: 4px;
      }
    }


    i{
      cursor: pointer;
      font-size: 10px;
      position: relative;

      &.icon-font-check {
        color: #85F89E;
        font-size: 11px;
        line-height: 12px;
      }

      &.icon-font-plus {
        color: #85F89E;

        &:hover,
        &.is-active{
          color: $color-mantis;
        }
      }

      &.icon-font-minus {
//        margin-left: 4px;
        color: #FFB2A8;

        &:hover,
        &.is-active{
          color: $color-flamingo;
        }
      }
    }
  }

  &__title{
    font-size: 14px;
    line-height: 17px;
    color: $color-tundora;
    display: inline-block;
    vertical-align: top;
    @include font-base-regular;
  }

  &__title{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    letter-spacing: -0.3px;
    font-size: 16px;
    color: #41415F;
    margin-top: 5px;
    @include breakpoint('phone-max')  {
      width: 100%;
      overflow: scroll;
    }
  }

  &__title-soundtrack{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: #41415F;
  }

  &__download,
  .like{
    text-align: right;
  }

  &__title-check{
    width: 100%;
  }

  &__name-like{
    width: 43%;
  }

  &__download{
    width: 24%;
    visibility: hidden;

    .icon-font-three-dots{
      font-size: 16px;
      line-height: 22px;
      color: $brand-black;
      height: 4px;
    }
  }

  &__download,
  &__name-like,
  &__title-check{
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  &__name-like{
    @include clearfix;
  }


  &__album{
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    font-size: 15px;
    line-height: 16px;
    color: #41415F;

    a{
      font-size: 15px;
      line-height: 16px;
      color: #41415F;
      letter-spacing: -0.3px;
      text-decoration:underline;
      text-decoration-color: $color-purple-brand;
      transition: 0.4s;

      &:hover{
        text-decoration: none;
        color: $color-dusty-gray;
        background-color: $color-purple-brand;
        color: #fff;
        transition: 0.4s;
      }
    }

    &--soundtrack-artist{
      a{
        font-size: 14px;
        line-height: 14px;
        color: #41415F;
        letter-spacing: -0.3px;
        text-decoration:underline;
        text-decoration-color: $color-purple-brand;

        &:hover{
          text-decoration: none;
          color: $color-dusty-gray;
          background-color:$color-purple-brand;
          color: #fff;
          transition: 0.4s;
        }
      }
    }
  }

  .like{
    text-align: left;
    padding-right: 10px;
    border-right: 1px solid #ebebeb;

    @include breakpoint('phone-max') {
      min-width: 35px;
      margin-right: 3px;
      border-right: 0px;
    }

    i{
      color: #a4a6b6;
      font-size: 12px;
      line-height: 14px;
      @include breakpoint('phone-max'){
        font-size: 16px;
      }
    }

    .icon-font-heart{
      color: $color-purple-brand;
    }
  }

  .like__like-text{
    color: $color-dusty-gray;
    font-size: 14px;
    line-height: 12px;
    @include breakpoint('phone-max'){
      font-size: 14px;
    }
  }

  &__info,
  &__time{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 15px;
    //@include font-base-light;
    color: #A5A7B7;
    font-weight: 500;
  }

  &__time{
    margin-right: 12px;

    @include breakpoint('phone-max') {
      color: $color-dusty;
      margin-right: 2px;
    }
  }

  &__info{

    @include breakpoint('phone-max') {
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 95%;
    }
  }

  &__description{
    vertical-align: top;
    padding: 0 0 0 0;
    width: 93%;
    color: #A5A7B7;
    font-weight: 500;
    letter-spacing: -0.5px;

    @include breakpoint('phone-max') {
      width: 100%;
      padding: 0 0 5px;
    }

  }

  &__container-mobile.is-mobile-open{

    .song__info{

      @include breakpoint('phone-max') {
        white-space: normal;
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;

    .like,
    .three-dots,
    .share,
    .song-user,
    .headphones{
      display: flex;
      align-self: center;
      align-items: center;
    }

    .song__download{
      display: none;
    }

    .headphones{
      font-size: 12px;
      line-height: 12px;
      padding-left: 10px;
      padding-right: 10px;
      border-right: 1px solid #ebebeb;
      margin: 0;

      i{
        font-size: 10px;
        line-height: 14px;
        margin: 0 6px 0 0;
      }
    }

    .song-user{
      margin-right: 10px;
      padding-right: 10px;
      padding-left: 10px;
      color: $color-dusty-gray;
      font-size: 12px;
      border-right: 1px solid #ebebeb;
      cursor: pointer;

      i {
        color: #58e972;
        margin-right: 5px;
      }

      &[data-tooltip]::after{
        left: 35%;
      }

      &.is-active[data-tooltip]::after{
        color: $color-dusty-gray;
        left: 35%;
      }
    }

    .share{
      margin-right: 30px;
    }
  }

  &__swipe-block >{
    height: 20px;
    position: relative;
    padding-top: 10px;

    i{
      transform: rotate(90deg);
      font-size: 20px;
      height: 20px;
      color: #F2F2F2;
    }
  }

  &__mobile-swipe-content{

    position: absolute;
    right: -12px;
    top: -12px;
    width: 280px;
    height: 52px;
    background: none;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      float: right;
      width: 40px;
      height: 100%;

      &:last-child{
        width: 94px;
      }
    }
  }

  .mobile-song-dropdown{

    &-enter {
      transform: translate3d(100%, 0px, 0px);
      transition: all 200ms ease-in-out;
    }

    &-enter.mobile-song-dropdown-enter-active {
      transform: translate3d(0px, 0px, 0px);
    }

    &-leave {
      transform: translate3d(0px, 0px, 0px);
    }

    &-leave.mobile-song-dropdown-leave-active {
      transform: translate3d(100%, 0px, 0px);
      transition: all 200ms ease-in-out;
    }
  }

  &--official-soundtrack{
    width: 97%;
    float: left;

    @include breakpoint('phone-max') {
      width: 94%;
    }

    .song__check{
      display: none;
    }

    .song-user{
      display: none;
    }
  }

  &--trailer-music{

    margin: 0;
    padding: 0;

    &__btn-play-box  {
    display: inline-block;
    vertical-align: top;
    width: 5%;
    margin-right: 2%;
    min-width: 30px;
    }

    &:hover {
      background-color: transparent;
      transition: 0.4s;
    }

    .song__links{
      margin: 0;
    }

    .song__links-wrapp{

      @include breakpoint('phone-max') {
        margin: 0;
      }
    }



    .song__container-desktop{
      padding-bottom: 5px;
      display: flex;
    }

    .song__title {
      font-size: 14px;
    }

    .song__link-spotify{
      margin-right: 0;

      @include breakpoint('phone-max') {
        padding-left: 0;
      }

      span{
        font-size: 10px;
        line-height: 12px;
        color: $color-dusty-gray;
        display: inline-block;
        vertical-align: middle;

        @include breakpoint('phone-max') {
          display: none;
        }
      }
    }

    .song__album {
      @include font-base-light;
      font-size: 11px;
    }

    .song__properties{
      width: 89%;
    }

    .song__download{

    }
    .song__name-like{
      float: right;
      width: auto;
    }
    .song__title-check{
      width: 100%;
      max-width: 230px;
    }

    .song__info,
    .song__time,
    .song__check{
      display: none;
    }

    .share__text{
      font-size: 10px;
      line-height: 13px;
    }

    .song__top{

      @include clearfix;

      .song__download,
      .song__album{
        display: none;
      }
    }

    .song__middle{
      margin-top: 0;
      padding-bottom: 5px;

      .song__album{
        display: block;
        float: none;
      }
    }

    .song__bottom{
      padding-bottom: 5px;

      .share{
        margin: 0 15px 0 0;
      }

      .song-user{
        display: none;
      }

      .song__download{
        display: block !important;
        visibility: visible !important;
        width: auto;

        .btn{
          background: none;
          color: $color-dusty-gray;
          margin: 0;
          padding: 0 !important;

          &:focus,
          &:visited,
          &:hover{
            color: $color-flamingo !important;
          }

          &:after{
            background: none;
            border: none;
          }
        }

      }
    }
  }

  .song-edit{

    vertical-align: top;

    .form-group{
      max-width: 395px;
    }

    .btn{
      min-width: 80px;
    }

    .group-inline-block{
      display: inline-block;
      width: 100%;
      max-width: 395px;
    }

    .search-id{
      font-size: 10px;
      line-height: 12px;
      color: $color-havelock-blue;
      display: inline-block;
      margin: 10px 0 0 6px;
      vertical-align: top;

      @include breakpoint('phone-max') {
        margin: 0 0 5px;
        text-align: right;
        display: block;
        width: 100%;
      }
    }

    .search-id-text{
      cursor: pointer;
    }
  }

  &--profile-song{

    .song__heard{
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;

      .gray {
        color: $color-dusty-gray;
      }
    }
  }

  &__add-scene {
    color: $color-purple-brand;
    cursor: pointer;
    padding: 0px;
    display: block;
    font-size: 12px;
    letter-spacing: -0.3px;

    @include breakpoint('phone-max') {
      padding: 0 0 4px;
    }
    &:hover{
      text-decoration: underline;
    }
  }

  &__description{
    display: inline-block;
    vertical-align: middle;
  }

  &__links{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;

    &.player-too{
      margin:0 10px 0 0;

      @media screen and (min-width: 768px) and (max-width: 900px) {
        margin: -12px 10px 0 0;

        a{
          display: block;
        }
      }

      @media screen and (min-width: 320px) and (max-width: 460px) {
        margin:0 30px 0 0;

        a{
          display: block;
        }
        .song__itunes{
          margin:0 0 5px;
        }
      }
    }

    a{
      display: inline-block;
      vertical-align: middle;
      position: relative;

      span{
        display: none;
      }

      img{
        width: 100%;
      }
    }
  }



  &__links-wrapp{
    margin: 0;
    margin-bottom: 12px !important;
    display: flex;
    flex-wrap: wrap;
    & a {
      margin-bottom: 10px;
    }
  }

  &__youtube{
    width: 65px;
    height: 24px;
    margin-right: 6px;
  }

  &__spotify{
    width: 65px;
    height: 24px;
    margin-right: 6px;
  }

  &__itunes{
    width: 65px;
    height: 24px;
    margin-right: 6px;
  }

  &__amazon{
    width: 65px;
    height: 24px;
    margin-right: 6px;
    @include breakpoint('phone-max') {
      margin-right: 0px;
    }
  }

  &__itunes,
  &__amazon,
  &__spotify,
  &__youtube{

    @include breakpoint('phone-max') {
      width: 65px;
      height: 24px;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 27px;
      background: rgba(255,255,255,0.8);
      display: none;
    }

    &.is-disabled{
      cursor: default;

      &:after{
        display: block;
      }
    }
  }

  &__container-desktop {
    display: flex;
    justify-content: space-between;
    @include breakpoint('phone-max'){
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
