@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song{

  &--popular{


    

    &:hover{
      background: none;
    }

    .song__properties,
    .song__btn-play-box{
      vertical-align: middle;
    }

    .song__title-check{
      width: 40%;
    }
    .song__name-like{
      width: 40%;

    }
    .song__like-headphones{
      width: 20%;
      display: inline-block;
      vertical-align: middle;

    }

    .song__like-headphones{

      .headphones,
      .like{
        display: inline-block;
        vertical-align: middle;
      }

      .headphones{
        font-size: 12px !important;
        line-height: 12px;
      }

      .headphones__text {
        padding-top: 2px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .song__top{
      margin-bottom: 6px;
    }

    .tv-episode-link{
      margin: 0;
      color :#A4A6B6;
      font-size: 12px;
      font-family: 'montserrat';
      letter-spacing: -0.7px;

    }
  }
}