@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song{

  &__mobile{

    .song__btn-play-box{
      position: relative;

      img{
        width:64px;
      }
    }

    &.release_date{
      display: inline-block;
      line-height: 22px;
      font-size: 14px;
      float: right;
      color: #9B9B9B;
    }

    .song__mask{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.7);
    }

    .song__btn-play-box{

      @include breakpoint('phone-max') {
        width: 40px;
        height: 40px;
        @include clearfix;
      }
    }

    .song__btn-play-box .btn{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .song__properties{
      width: 86%;
      vertical-align: middle;
    }

    .song__download,
    .song__name-like,
    .song__title-check{
      vertical-align: middle;
    }

    .song__heard{
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      padding: 6px 0 0;

      p{
        margin: 0;
      }

      span{
        color: $color-dusty-gray;
      }
    }

    .song__title-check{
      @include breakpoint('tablet') {
        width: 38%;
      }
    }
  }

  .song__container-mobile{

    &--main{
      .song__mobile-img{
        display: block;
      }

      .song__mask{
        background: transparent;
      }

      .song__btn-play-box i{
        color: #41415F;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  .song__mobile-img{
    float: left;
    margin: 0 16px 0 14px;

    @include breakpoint('phone-max') {
      width: 40px;
      height: 40px;
    }

    img{
      width: 100%;
    }
  }

  &__mobile-title{
    padding: 2px 0 4px;

    @include breakpoint('phone-max') {
      width: 99%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
      min-width: 145px;
    }
  }

  &__mobile-info{
    overflow: hidden;
  }

  &__mobile-left{
    max-width: 100%;
    float: none;
    position: relative;
    padding-right: 42px;
    overflow: hidden;

    @include breakpoint('phone-max') {
      padding-right: 13px;
    }
  }

  &__mobile-bottom{
    display: inline-block;
    max-width: 100%;
  }

  &__mobile-right{
    width: 100%;
    display: none;
    background-image: linear-gradient(90deg, #5A5858 0%, #000000 100%);
    align-items: center;
    padding-top: 25px;

    a:hover{
      text-decoration: none;
    }
  }

  .like--song-mobile i{
    color: $color-carnation;
  }

  .song__mobile-spotify-link {

    a{

      &:hover{
        text-decoration: none;
      }

    }

    i{
      color: $color-turquoise-blue;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .song__mobile-image{
    max-width: 110px;

    a{
      display: block;

      img{
        width: 100%;
      }
    }
  }

  &__mobile-dropp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
  }

  &__mobile-icons{
    display: flex;
    align-items: center;
  }

  &__mobile-edit-text{
    margin-right: 10px;
    @include font-base-semi-bold;
    color: $color-nobel;
    font-size: 12px;
    line-height: 14px;
  }

  &__mobile{
    @include clearfix;
  }

  &__mobile-left{
    float: left;
    max-width: 230px;

    @include breakpoint('phone-max') {
      max-width: 100%;
      width: 100%;
    }
  }

  &__mobile-right{
    float: right;
    padding-top: 5px;
  }

  &__mobile-title{
    font-size: 16px;
    line-height: 14px;
    letter-spacing: -0.3px;
  }

  &__mobile-album{
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
    margin-top: 3px;
    letter-spacing: -0.5px;
    text-decoration-color: $color-purple-brand;

    @include breakpoint('phone-max') {
      color: #41415f;
    }
  }

  &__mobile-time{
    font-size: 9px;
    line-height: 13px;
    @include font-base-light;
  }

  &__mobile-dropdown-trigger{

    i{
      transform: rotate(90deg);
      font-size: 20px;
      height: 20px;
      color: #F2F2F2;
    }
  }

  &__mobile-download,
  &__mobile-like,
  &__mobile-share,
  &__mobile-edit,
  &__mobile-spotify{
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 9px;
    @include font-base-light;
    letter-spacing: 0.7px;

  }

  &__mobile-spotify{
    background: #53BA5D;
    font-size: 16px;
    line-height: 16px;
  }

  &__mobile-edit{
    background: #9D9E9F;
  }

  &__mobile-share{
    background: #868686;
  }

  &__mobile-like{
    background: #535353;
    font-size: 16px;
    line-height: 16px;
  }


  &__mobile-download{
    background: #353536;
    border-radius: 3px 0 0 3px;
  }

  &__mobile-info-wrapp{
    @include clearfix;
  }

  &__mobile-info-left{
    float: left;
    width: 100%;
  }

  &__mobile-info-bottom{
    float: left;
    width: 100%;
    margin-left: 0px;

    .headphones,
    .like{
      display: inline-block;
      vertical-align: middle;
    }

    .like{
      min-width: 35px;
      margin-right: 10px;
    }

    .headphones {
      border-right: 1px solid #ebebeb;
      padding-right: 10px;
      margin-right: 10px;
    }

    .headphones {

      i{
        font-size: 12px;
        line-height: 12px;
      }

      &__text{
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__links-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-left: 15px;
    @include breakpoint('phone-max') {
      padding-left: 70px;
    }
  }

  &__links-box.artist{
    @include breakpoint('phone-max') {
      padding-left: 55px;
    }
  }
  .song__links-wrapp{
    float: left;
  }
  &__from.artist{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    width: 100%;
    padding-right: 25px;
    margin-bottom: 15px;
  }
  &__artist.line{
    height: 1px;
    margin: 25px;
    margin-left: 70px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
  }

  .song__link-spotify{

    @include breakpoint('phone-max') {
      padding: 0;

      span{
        display: none;
      }

      i{
        font-size: 16px;
        line-height: 16px;
        color: $color-dusty-gray;
      }
    }
  }

  .three-dots{

    @include breakpoint('phone-max') {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .song__container-mobile--main{
    @include breakpoint('phone-max') {
      padding-bottom: 5px;
    }
  }

  .song__links{
    @include breakpoint('phone-max') {
      margin: 0;
      display: block;
    }
  }

  &__links-right{
    display: flex;
    flex-direction: row;
  }
}
