@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song--artist{

  height: 100%;
  margin: 15px 0 5px 5px;
  padding: 0;

  @include breakpoint('phone-max'){
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  &__wrapp{
    position: relative;
    padding: 17px 24px;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 10px;
    }
  }

  .song__btn-play-box{
    width: 25px;
    height: 25px;
    vertical-align: middle;

    img{
      display: none;
    }

    @include breakpoint('phone-max') {
      width: 25px;
      height: 25px;
    }
  }

  .song__title{
    font-size: 14px;
    letter-spacing: -0.6px;
  }

  .song__info{
    padding-right: 10px;
  }

  .song__from p{
    margin: 0;
    font-size: 14px;
    letter-spacing: -0.6px;
    color: #4a90e2;
  }

  &__title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 17px;
    }
  }

  &__favorited-songs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;

    @include breakpoint('phone-max') {
      margin: 0 0 27px;
    }
  }

  &__favorited{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    @include font-base-light;

    @include breakpoint('phone-max') {
      font-size: 11px;
    }
  }

  &__view-all{

    button{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      color: $color-havelock-blue;
      padding: 0;
      height: auto;

      @include breakpoint('phone-max') {
        font-size: 11px;
      }
    }
  }
}