@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.song{
  

  &--soundtrack{
    padding: 12px;

    &:hover{
      background: none;
    }

    

    @include breakpoint('phone-max') {
      padding: 0;
    }

    .song__album a,
    .song__album,
    .song__title{

      @include breakpoint('phone-max') {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .song__title{
      @include breakpoint('phone-max') {
        padding-bottom: 5px;
      }
    }

    .song__link-spotify{
      padding-top: 0;
    }

    .song__like-headphones{
      text-align: center;

      @include breakpoint('phone-max') {
        text-align: right;
      }
    }

    .song__title-check{
      @include breakpoint('phone-max') {
        float: left;
        width: 50%;
      }
    }

    .song__properties-right{
      min-width: 135px;

      @include breakpoint('phone-max') {
        float: right;
        width: 20%;
        min-width: 0px;
      }
    }

    .song__properties,
    .song__btn-play-box{
      vertical-align: middle;
    }

    .song__properties{
      width: 92%;
      padding-top: 2px;

      @include breakpoint('phone-max') {
        //padding-top: 0;
        //vertical-align: top;
      }
    }

    .song__btn-play-box{
      @include breakpoint('phone-max') {
        //display: none;
      }
    }

    .song__title-check,
    .song__name-like{
      width: 50%;
      display: inline-block;
      vertical-align: middle;

    }

    .song__like-headphones{
      width: 33.3333%;
      display: inline-block;
      vertical-align: middle;
    }

    .song__title-check{
      @include breakpoint('phone-max') {
        width: 80%;
      }
    }

    .song__name-like,
    .song__like-headphones{

      @include breakpoint('phone-max') {
        width: 100%;
      }
    }

    .song__properties,
    .song__properties-left{
      @include breakpoint('phone-max') {
        width: 88%;
      }
    }

    .song__properties-left{
      @include breakpoint('phone-max') {
        padding: 10px 0;
      }
    }

    .song__like-headphones{

      @include breakpoint('phone-max') {
        padding-top: 3px;
      }

      .headphones,
      .like{
        display: inline-block;
        vertical-align: middle;
      }

      .headphones{
        font-size: 12px;
        line-height: 12px;
      }

      .headphones__text {
        padding-top: 2px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .song__links{

      a{
        margin: 0 25px 0 0;

        @media screen and (min-width: 1025px) and (max-width: 1190px) {
          margin: 0 16px 0 0;
        }

        @include breakpoint('phone-max') {
          margin: 0 10px 0 0;
        }
      }
    }

    .tv-episode-link{
      margin: 0;
    }

    .song__links--official{
      margin: 0;

      @include breakpoint('phone-max') {
        display: inline-block;
      }

      a{

        span{
          display: inline-block;
        }

        img{
          display: none;
        }
      }
    }

    .song__amazon,
    .song__itunes{
      height: auto;
      width: auto;
      text-transform: uppercase;
    }

    .song__link-spotify{
      display: inline-block;
      vertical-align: middle;

      span{
        display: none;
      }
    }
  }
}