@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.settings{
  padding: 25px 0;
  margin: 0 auto;
  height: 100%;
  width: 92%;
  max-width: 1440px;

  @include breakpoint('phone-max') {
    width: 98%;
    padding: 12px 0;
  }

  &__wrapp{
    position: relative;
    padding: 17px 24px;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 10px;
    }
  }

  &__title{
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__avatar-wrapp{
    border-radius: 50%;
    width: 112px;
    height: 112px;
    overflow: hidden;
    margin: 0 0 0 14px;

    @include breakpoint('phone-max') {
      width: 60px;
      height: 60px;
      margin: 0;

    }
  }

  &__avatar{
    width: 112px;
    height: 112px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    @include breakpoint('phone-max') {
      width: 60px;
      height: 60px;
      margin: 0;

    }
  }

  &__list{
    padding: 0;
    margin: 0;
    list-style: none;

    &>li{
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;

      @include breakpoint('phone-max') {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
      }

      .form-group{
        margin-bottom: 0;
        margin-top: -6px;

        @include breakpoint('phone-max') {
          margin: 0;
        }
      }

      .form-control{
        font-size: 18px;
        line-height: 22px;
        color: $color-dusty-gray;

        @include breakpoint('tablet-max') {
          font-size: 14px;
          line-height: 18px;
          padding: 7px;
        }
      }

      .input__wrapper {
        width: 100%;
//        max-width: 200px;
        position: relative;
        margin: 0 15px 0 0;

        @include breakpoint('tablet') {
          margin: 0 10px 0 0;
        }
      }

      span,
      a,
      p{
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 0 14px;

        @include breakpoint('phone-max') {
          font-size: 14px;
          line-height: 18px;
          margin: 0;
        }
      }

      p{
        margin: 0;
        width: 226px;


        @include breakpoint('phone-max') {
          width: 100%;
          margin: 0 0 5px;
        }
      }

      span{
        color: $color-dusty-gray;
      }

      a{

      }
    }
  }

  .source-select{
    margin: 2px 0 0 14px;

    @include breakpoint('phone-max') {
      margin: 0;
    }
  }

  &__file-input{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;

    &>div{
      width: 100% !important;
      height: 100% !important;
    }

    &>.error-text{
      width: auto !important;
      height: auto !important;
    }
  }

  .btn{
    width: 167px;
    height: 44px;
    font-size: 18px;
    line-height: 22px;
  }
  .source-select__left {
    display: none;
  }

  .input-file span{
    display: none;
  }
}