@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.tv-episode-link{

  display: inline-block;
  vertical-align: middle;
  @include font-base-light;
  font-size: 10px;
  line-height: 12px;
  color: $color-dusty-gray;
  margin-left: 3%;

  &--discussion{
    font-size: 13px;
    line-height: 16px;
    margin-left: 3%;
    padding-top: 8px;

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 12px;
      padding-top: 0;
      margin-top: -2px;
    }
  }
}