@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.form-textarea-autosize {

  -webkit-appearance: none;

  textarea {
    overflow: hidden !important;
    -webkit-appearance: none;
  }
}
