@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.song-list {
  background: #fff;
  border-radius: 6px;
  padding: 17px 0;
  margin-bottom: 16px;
  margin-top: 16px;
  border: 1px solid #DEDEDE;

  @include breakpoint('phone-max') {
    padding: 13px 0;
    border-radius: 0px;
  }

  .song-list__title.popular {
    margin-bottom: 8px;
    padding: 5px 24px 15px;
    border-bottom: 1px solid $color-anti-flash-white;
    letter-spacing: -0.7px;

    @include breakpoint('phone-max') {
      margin-bottom: 0;
      padding: 7px 15px 15px 15px;

    }
  }

  .btn-add-song {
    background-color: $color-purple-brand;
    height: 35px;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    margin-top: -5px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  .green-highlight {
    color: #3EF67E;
    font-weight: 600;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    @include clearfix;

    & > li {
      padding: 0;

      &:empty {
        display: none;
      }

      @include breakpoint('phone-max') {
        padding: 0;
      }

      & > span {
        float: left;
        font-size: 15px;
        line-height: 19px;
        padding: 7px 0 0 0;
        width: 2%;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 8px;
    border-bottom: 1px solid #F3F3F3;

    @include breakpoint('phone-max') {
      margin-bottom: 6px;
      padding: 0 12px 16px;

      flex-direction: row;
    }
  }

  &__btn-box {
    padding-right: 10px;

    @include breakpoint('phone-max') {
      padding: 0 0 18px;
    }
  }

  &__header-box-right {
    display: flex;
    align-items: center;

    @include breakpoint('phone-max') {
      flex-direction: column;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    color: #A4A6B6;
    text-transform: capitalize;
    margin: 0;
    padding: 5px 0 10px;
    letter-spacing: -0.7px;

    @include breakpoint('phone-max') {
      font-size: 15px;
      padding: 0px;
      padding-top: 5px;
    }

    &__sort-box {
      display: flex;
      align-items: flex-start;
      position: relative;
      padding-top: 0;
      color: #41415F;
      font-size: 13px;
      padding-right: 20px;

      @include breakpoint('phone-max') {
        padding-right: 5px;
      }
    }

    &__sort-title {
      font-size: 12px;
      line-height: 15px;
      color: $color-dusty-gray;
      text-transform: uppercase;
      margin-right: 16px;

      @include breakpoint('phone-max') {
        font-size: 8px;
        line-height: 11px;
        padding-top: 2px;
      }
    }

    &__ordered {
      color: #000;
      font-size: 14x;
      line-height: 13px;
      position: relative;
      padding-right: 16px;
      //    padding-bottom: 15px;
      padding-top: 1px;
      cursor: pointer;
      white-space: nowrap;

      @include breakpoint('phone-max') {
        font-size: 12px;
        line-height: 13px;
        //padding-top: 0;
        vertical-align: -webkit-baseline-middle;
      }

      &:after {
        position: absolute;
        right: 2px;
        top: 4px;
        content: '';
        border: 3px solid transparent;
        border-top: 6px solid #000;
        display: block;
        width: 0;
        height: 0;

        @include breakpoint('phone-max') {
          top: 4px;
        }
      }
    }

    &__expand {
      font-size: 17px;
      line-height: 20px;
      color: $color-dusty-gray;
      text-align: center;
      text-transform: uppercase;
      padding-top: 17px;
      cursor: pointer;

      @include breakpoint('phone-max') {
        font-size: 10px;
        line-height: 13px;
        padding-top: 6px;
      }
    }

    .discussion__subtitle {
      margin-left: 0;
      padding: 10px;
    }
  }

  &__sort-box {
    margin-right: 25px;
    padding-bottom: 5px;

    @include breakpoint ('phone-max') {
      margin-right: 5px;
      padding-bottom: 0px;
      padding-top: 5px;
    }
    .dropdown {
      .song-list__ordered {
        color: #41415f;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        padding-right: 25px;
        background: url('../../../../icons/svg/arrow-down.svg') right center no-repeat;
        background-size: 8px;
        letter-spacing: -0.3px;

        @include breakpoint ('phone-max') {
          font-size: 12px;
        }
      }

      &.active {
        .song-list__ordered {
          background: url('../../../../icons/svg/arrow-up.svg') right center no-repeat;
          background-size: 8px;
        }
      }
    }
  }
}