@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.header {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 30px;
  position: relative;
  z-index: 4;
  flex: 0 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  @include breakpoint('tablet-max') {
    padding: 0 15px;
  }

  @include breakpoint('phone-max') {
    height: 44px;
    padding: 0 23px;
  }

  &__panel {
    width: 1440px;
    margin: auto;
    display: flex;
  }

  &__container {
    max-width: 1545px;
    width: 100% !important;
    @include clearfix;
  }

  &__left{
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: flex-start;
    flex-basis: 80%;

    @include breakpoint('phone-max') {
      padding: 0;
      height: 44px;
      width: 100%;
      flex-basis: 100%;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding: 0 15px;
      }
    }
  }

  &__logo{
    @include font-base-black;
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
    color: $color-white;
    cursor: pointer;
    position: relative;
    z-index: 3;
    white-space: nowrap;

    img{
      display: inline-block;
      height: 26px;

      @media screen and (min-width: 1200px) {
        margin-right: 20px;
        margin-top: 5px;
        margin-left: 10px;
        min-width: 110px;

      }
    }

    a{
      color: $color-white;
      display: block;

      i{
        color: $color-white;
        display: none;
      }

      &:active,
      &:visited{

        &:hover{
          text-decoration: none;
          color: $color-white;
        }
      }
      &:focus,
      &:active,
      &:visited,
      &:hover{
        text-decoration: none ;
        color: $color-white;
      }
    }

    i{
      display: none;
    }

    @include breakpoint('phone-max') {
      margin: 2px 0 0 0 !important;
      position: absolute;
      min-width: 0 !important;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      i{
        display: flex;
        font-size: 41px;
      }

      img{
        display: block;
        min-width: 0px;
        //width: 100%;
      }
    }

    @include breakpoint('tablet-max') {
      margin: 2px 15px 0 20px;
      min-width: 150px;

      i{
        display: block;
        font-size: 36px;
        margin-top: 14px;
      }

      i,
      span{
        display: none;
      }
    }

    
  }

  &__right{
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: flex-end;
    @include clearfix;
    min-width: 266px;
    flex-basis: 20%;
//    width: 20%;

    @include breakpoint('tablet') {
      min-width: 250px;
    }
  }

  &__menu{
    display: flex;
    height: 100%;

    @include breakpoint('tablet') {
      min-width: 0;
    }
  }

  &__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 236px;

    >li{
      margin-right: 28px;
      height: 100%;

      @include breakpoint('tablet-max') {
        margin-right: 10px;
      }

      a{
        color: $color-white;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 5px;
        white-space: nowrap;

        &:hover{
          text-decoration: none;
          color: $color-duststorm;
        }

        &:focus{
          text-decoration: none;
        }
      }
    }
  }

  &__li-lg{
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
  }

  &__li-md{
    @media screen and (min-width: 1025px){
      display: none;
    }
  }

  &__search{
    margin-right: 34px;
    width: 100%;
    position: relative;

    @media screen and (min-width: 1200px) {
      min-width: 223px;
    }

    .form-group,
    form{
      width: 100%;
    }

    @include breakpoint('tablet-max') {
      margin-right: 15px;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 150px;
      }

      @media screen and (min-width:0\0) {
        max-width: 150px;
        min-width: 150px;
      }
    }

    @include breakpoint('phone-max') {

      &.is-mobile-open-search{
        z-index: 4;
      }
      min-width: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 2;
      max-width: 100%;
      display: flex;
      align-items: center;
    }

    max-width: 248px;
    min-width: 150px;
  }

  &__search-wrapp{

    .form-group{
      margin-bottom: 0;
    }

    @include breakpoint('phone-max') {
      width: 100%;
      padding: 0 30px 0 10px;
    }

  }

  &__search-icon{
    display: none;

    @include breakpoint('phone-max') {
      display: block;
      position: relative;
      cursor: pointer;


      i{
        font-size: 17px;
        color: #fff;
      }
    }
  }

  &__input-search{
    height: 36px !important;
    background: transparent !important;
    border: none !important;
    padding: 0 !important;

    .form-control{
      height: 36px !important;
      font-size: 12px !important;
      border-radius: 0;
    }

    .input__wrapper{
      max-width: 100%;
    }

    &:visited,
    &:active,
    &:hover,
    &:focus{
      box-shadow: none !important;
      box-shadow: inset 0 !important;
//      border: 1px solid transparent !important;
    }

    @include breakpoint('phone-max') {
      display: none !important;

      &.is-mobile-open{
        display: block !important;
      }
    }
  }

  .dropup, .dropdown{
    height: 100%;
  }

  &__user{
    height: 100%;
  }

  &__user-info{
    height: 100%;
  }

  &__btn-login{

    button{
//      border: 1px solid #EC7C5E;
      height: 36px;
      font-size: 14px;
      width: auto;
      text-transform: none;
      border-radius: 2px;
      margin-right: 20px;
      @include font-base-semi-bold;

      &:last-child{
        margin: 0;
        background-image: linear-gradient(-90deg, $color-flory 0%, $color-flory 100%) !important;

        &:hover{
          background-image: linear-gradient(90deg, $color-flory 0%, $color-flory 100%) !important;
        }
      }

      &:focus,
      &:active,
      &:hover{
        color: #fff;
//        background: #F38F74;

      }
    }
  }

  .more-links{
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-self: flex-start;
    letter-spacing: 3px;
    color: #fff;
    cursor: default;

    &:hover{
      color: $color-duststorm;
    }
  }

  &__mobile{
    display: none;
    @include clearfix;
//    width: 100%;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;

    .navbar-toggle{
      margin-right: -10px !important;
      border: none;
      margin-bottom: 0px;
      margin-top: 6px;
      background-color: transparent !important;

      &:hover{
        background-color: transparent !important;
      }

      .icon-bar{
        background-color: $color-white !important;
        width: 18px;
      }
    }

    @include breakpoint('phone-max') {
      display: block;
    }
  }

  &__box{
    display: flex;
    align-items: center;
    flex-basis: 100%;
    max-width: 429px;

    @media screen and (min-width: 1200px) {
      max-width: 468px;
    }

    @include breakpoint('tablet-max') {
      // max-width: 315px;
    }

    @include breakpoint('phone-max') {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      flex-basis: 100%;
      justify-content: space-between;
      max-width: 100%;
      height: 44px;
    }
  }

  .dropdown__trigger{
    height: 100%;
    cursor: pointer;
    color: #fff;

  }

  .navbar-right{
    margin: 0;
//    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar-toggle .icon-bar + .icon-bar{
    margin-top: 4px !important;
  }

}
