// ==========================================================================
// Variables: Colors
// ==========================================================================

//branding
$color-purple-brand: #FF5585 !default;
$brand-black: #41415F !default;

// white
$color-white: #FFFFFF !default;
$color-transparent: transparent !default;

// black
$color-black: #000000 !default;
$color-charade: #292D34 !default;
$color-outer-space: #2c3138 !default;
$color-tuna: #333740 !default;
$color-mine-shaft: #242424 !default;
$color-tundora: #4A4A4A !default;
$color-salt-box: #626063 !default;


// grey
$color-grey: #bebebe!default;
$color-gray: #7F7F7F !default;
$color-gray-nurse: #E8E8E8!default;
$color-mountain-mist: #979797!default;
$color-iron: #D8D8D8!default;
$color-gainsboro: #DFDFDF!default;
$color-anti-flash-white: #F3F3F3!default;
$color-light-grayish: #e1e1e0!default;
$color-mercury: #e5e5e5!default;
$color-silver-chalice: #aaaaaa!default;
$color-mercury-light: #E6E6E6 !default;
$color-nobel: #B3B3B3 !default;
$color-dusty: #999999 !default;
$color-dark-grey: #808080 !default;
$color-dove-gray: #666666 !default;
$color-tundora: #4D4D4D !default;
$color-silver: #CCCCCC !default;
$color-gallery: #EBEBEB !default;
$color-pale-slate: #C0BEC0 !default;
$color-concrete: #F2F2F2 !default;
$color-dusty-gray: #9B9B9B !default;
$color-gallery: #EAEAEA !default;
$color-wild-sand: #F4F4F4 !default;

// green
$color-mantis: #72cf60!default;
$color-puerto-rico: #46BEA0 !default;
$color-vista: #90D8C6 !default;
$color-turquoise-blue: #69ECAF !default;
$color-pastel-green: #6CECA0 !default;

// blue
$color-chambray: #3B5998!default;
$color-dodger-blue: #2895F1!default;
$color-selago: #f5fafe!default;
$color-matisse: #1F69A7!default;
$color-solitude: #E3F2FF!default;
$color-aqua-blue: #A0DCDC !default;
$color-havelock-blue: #4A90E2 !default;
$color-astral: #337AB7 !default;
// red
$color-red: #f00000!default;
$color-monza: #D0021B!default;
$color-sunglo: #d96969!default;
$color-coquelicot: #FF3500!default;
$color-Valencia: #d34836!default;
$color-rock: #BE460A !default;
$color-burnt-sienna: #EC7C5E !default;
$color-flamingo: #EF4237 !default;
$color-azalea: #F7CACA !default;
$color-terracotta: #E36255!default;
$color-thunderbird: #D71C1C!default;
$color-flory: #FF5585!default;
$color-pomegranate: #EE4036!default;
$color-duststorm: #E5C7C7!default;
$color-carnation: #F36060!default;


// yellow
$color-di-serria: #e39959;
$color-kournikova: #FFDC6E !default;
$color-ripe-lemon: #F8E71C !default;