@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.alert-notification{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 56px;
  z-index: 4;

  @include breakpoint('phone-max') {
    top: 44px;
  }

  &__wrapp{
    background: rgba(74,73,74,0.90);
    height: 91px;
    margin-bottom: 15px;
    display: table;
    width: 100%;
    text-align: center;
    padding: 10px;

    @include breakpoint('phone-max') {
      height: 140px;
    }
    //&.notification-enter{
    //  opacity: .1;
    //  &.notification-enter-active{
    //    opacity: 1;
    //  }
    //}
    &.notification-leave{
      transition: all 1000ms ease;
      opacity: 1;
      filter: blur(0px);
      &.notification-leave-active{
        opacity: 0;
        filter: blur(10px);
      }
    }

  }

  &__content{
    display: table-cell;
    vertical-align: middle;

    img{
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__text{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 27px;

    @include breakpoint('phone-max') {
      padding: 10px;
    }

    span{
      color: #fff;
      font-size: 16px;
      line-height: 19px;
    }

    p{
      margin: 0;
      @include font-base-light;
      font-size: 11px;
      line-height: 13px;
      color: $color-dusty-gray;
    }
  }
}