@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.movie {
  .wedge-space {

    @include breakpoint('tablet-max') {
      display: none;
    }
  }

  .add-song-div {
    overflow: auto;

    .btn-add-song {
      background-color: $color-purple-brand;
      height: 35px;
      color: white;
      text-transform: capitalize;
      border-radius: 5px;
      font-size: 13px;
      font-weight: 500;
      float: right;
      margin-top: 17px;

      @include breakpoint('phone-max') {
        display: none;
      }
    }
  }
}
