.InputRange-track {
  background: $color-dusty;
//  border-radius: $InputRange-track-height;
  display: block;
  height: 10px;
  position: relative;
  transition: $inputRange-track-transition;

  .InputRange.is-disabled & {
    background: $InputRange-track--is-disabled-background;
  }
}

.InputRange-track--container {
  left: 0;
  margin-top: -0.5 * $InputRange-track-height;
  position: absolute;
  right: 0;
  top: 50%;
}

.InputRange-track--active {
  background: #ffa0a2;
}
