$InputRange-fontFamily: 'Helvetica Neue', san-serif !default;
$InputRange-primaryColor: #3f51b5 !default;
$InputRange-neutralColor: #aaaaaa !default;
$InputRange-neutralLightColor: #eeeeee !default;
$InputRange-disabledColor: #cccccc !default;

// InputRange-slider
$InputRange-slider-background: $InputRange-primaryColor !default;
$InputRange-slider-border: 1px solid $InputRange-primaryColor !default;
$InputRange-slider-height: 2px !default;
$InputRange-slider-width: 1rem !default;
$InputRange-slider-transition: transform 0.3s linear, box-shadow 0.3s linear !default;
$InputRange-sliderContainer-transition: left 0.3s linear !default;
$InputRange-slider--active-transform: scale(1.3) !default;
$InputRange-slider--is-disabled-background: $InputRange-disabledColor !default;
$InputRange-slider--is-disabled-border: 1px solid $InputRange-disabledColor !default;

// InputRange-label
$InputRange-label-color: $InputRange-neutralColor !default;

// InputRange-track
$InputRange-track-background: $InputRange-neutralLightColor !default;
$InputRange-track-height: 0.15rem !default;
$inputRange-track-transition: left 0.3s linear, width 0.3s linear !default;
$InputRange-track--active-background: $InputRange-primaryColor !default;
$InputRange-track--is-disabled-background: $InputRange-neutralLightColor !default;
