.InputRange-slider {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 10px;
  margin-left: $InputRange-slider-width / -2;
  margin-top: 0;
  outline: none;
  position: absolute;
  top: -10px;
  transition: $InputRange-slider-transition;
  width: 10px;
//  display: none;

  &:active {
    transform: $InputRange-slider--active-transform;
  }

  &:focus {
    box-shadow: 0 0 0 5px transparentize($InputRange-slider-background, 0.8);
  }

  .InputRange.is-disabled & {
    background: $InputRange-slider--is-disabled-background;
    border: $InputRange-slider--is-disabled-border;
    box-shadow: none;
    transform: none;
  }
}

.InputRange-sliderContainer {
  transition: $InputRange-sliderContainer-transition;
}
