@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.intro{
  background: #fff;
  padding:15px 20px;
  font-size:15px;
  line-height:20px;
  margin-top:16px;
  margin-bottom:16px;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  color: #8B8B8B;
  letter-spacing: -0.3px;

  @include breakpoint('phone-max') {
    font-size: 13px;
    line-height: 20px;
    border-radius: 0px;
  }
}
