@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.footer {
  //@include font-base-light;
  flex: 0 0 auto;
  background: $color-flamingo;
//  background-image: linear-gradient(-180deg, #EB4B97 0%, #EF4136 100%);
  background: #000;
  width: 100%;
  height: 300px;
  padding: 27px 30px;
  @include clearfix;

  @include breakpoint('tablet') {
    position: relative;
  }

  @include breakpoint('tablet-min') {
    position: relative;
  }

  @include breakpoint('tablet-max') {
    padding: 30px 15px;
  }

  @include breakpoint('phone-max') {
    height: auto;
    padding: 17px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  &__left{
    float: left;

    @include breakpoint('phone-max') {
      float: none;
//      width: 100%;
      clear: both;
      margin-bottom: 30px;
    }
  }

  &__right{
    text-align: right;

    @include breakpoint('phone-max') {
      float: none;
//      width: 100%;
      clear: both;
      text-align: left;
      @include clearfix;
      display: flex;
      min-width: 255px;
    }

    .footer__col{
      padding-right: 10%;

      @include breakpoint('phone-max') {
        padding-right: 3%;
        display: block;
      }

      &:last-child{
        padding-right: 0;
      }
    }
  }

  &__row{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 0;
    font-size: 0;
    width: 415px;

    @include breakpoint('phone-max') {
      float: left;
      padding-right: 12%;
      padding-right: 0;
      width: auto;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;

    @include breakpoint('phone-max') {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
    @include font-base-semi-bold;

    @include breakpoint('phone-max') {
      margin-bottom: 13px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li{
      margin-bottom: 12px;

      & > .btn{
        width: auto;
        height: auto;
        font-size: 14px;
        line-height: 17px;
        @include font-base-light;
        text-transform: none;
        padding: 0;
        margin-bottom: 12px;
        color: #FBB4FF;

        &:hover{
          background: none;
          border-bottom-color: #FBB4FF;
          color: #FBB4FF;
        }
      }

      a{
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration-color: $color-flory;
      }
    }
  }

  &__text{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  .add-tv_show{
    margin-bottom: 20px;
    width: 100%;

    @include breakpoint('phone-max') {
      margin-bottom: 15px;
    }
  }

  &__appImage{
    margin-top: 15px;
    img{
      width: 120px;
    }
  }

  &__calculate{
    clear: both;
    text-align: center;

    @include breakpoint('tablet-min') {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
    }

    @include breakpoint('tablet') {
      position: absolute;
      left: 0;
      bottom: 30px;
      width: 100%;
    }

    @include breakpoint('phone-max') {
      margin-top: 20px;
    }

    span{
      font-size: 14px;
      line-height: 16px;
      color: $color-dusty-gray;
      display: inline-block;
      vertical-align: middle;

      @include breakpoint('phone-max') {
        margin-bottom: 10px;
      }
    }

    em{
      background: $color-dusty-gray;
      width: 4px;
      height: 4px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 4px 0 2px;

      @include breakpoint('phone-max') {
        margin: 0 4px 5px 2px;
      }
    }
  }

  &__add-movie{

//    margin-right: 7.7%;
//    min-width: 151px;
//
//    @include breakpoint('tablet') {
//      min-width: 115px;
//    }


    button{
      font-size: 14px;
      line-height: 18px;
      height: 33px;
      width: 151px;
      text-transform: none;

      &:hover{
        background: #CC3A3A;
        color: #fff;
      }

      &:visited,
      &:active,
      &:focus{
        color: #fff;
      }

      @include breakpoint('tablet-max') {
        width: 115px;
      }
    }
  }

  &__add-movie{

    @media screen and (min-width: 1025px) and (max-width: 1100px) {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-width: 115px;
      }
    }

    button{

      @media screen and (min-width: 1025px) and (max-width: 1100px) {

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          width: 115px;
        }
      }
    }
  }


}

