@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.source-select{
  margin-bottom: 15px;
  position: relative;
  z-index: 3;



  &__content{
    @include clearfix;
    color: $color-dusty-gray;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;

    @include breakpoint('phone-max') {
      padding: 18px 15px 0;
      background: #fff;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__left{
    float: left;
  }

  &__right{
    float: right;
  }

  &__trigger{

    position: relative;
    padding-right: 16px;
    padding-bottom: 15px;
    cursor: pointer;

    &:after{
      position: absolute;
      right: 2px;
      top: 7px;
      content: '';
      border: 3px solid transparent;
      border-top: 6px solid $color-dusty-gray;
      display: block;
      width: 0;
      height: 0;

      @include breakpoint('phone-max') {
        top: 4px;
      }
    }
  }
}