@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

$form-error: 'form-error';

.#{$form-error} {
  color: $color-flamingo;
  margin-top: 4px;
  text-align: left;
  font-size: 9px;
  line-height: 11px;
  @include font-base-light;

  &.help-block{
    margin-bottom: 0;
  }
}