@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.user-card{
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 110px;
  max-width: 82px;
  overflow: hidden;
  padding: 11px 0;

  @media screen and (min-width: 1199px){
    max-width: 170px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
  }

  @include breakpoint('tablet') {
    min-width: 56px;
    max-width: 114px;
  }

  .user-photo{
    min-width: 34px;
    height: 34px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

  span{
    white-space: nowrap;
    color: #fff;

    @include breakpoint('tablet') {
      display: block;
      width: 100%;
      overflow: hidden;
    }

//    &:hover{
//      color: $color-duststorm;
//    }
  }

  img{
    margin-right: 15px;
  }
}