@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.about-us{

  background: #fff;

  h3,
  h5,
  h4{

    @include font-base-black;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 15px;

    @include breakpoint('phone-max') {
      font-size: 20px;
      line-height: 25px;
    }
  }

  p{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  &__list{
    padding: 40px 0 0;

    @include breakpoint('phone-max') {
      padding: 30px 15px 0;
    }

    li{
      margin: 0 0 70px;

      @include breakpoint('phone-max') {
        margin: 0 0 40px;
      }

    }
  }

  &__wrapp-form{
    max-width: 674px;

    @include breakpoint('phone-max') {
      padding: 0 15px;
    }

    img{
      width: 100%;
    }

  }
}