@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

$dropdown: 'dropdown';

.#{$dropdown} {
  position: relative;
  display: inline-block;
  vertical-align: top;


  &-enter {
//    opacity: 0.01;
//    filter: alpha(opacity=0.01);
    top: 150%;
  }

  &-enter.dropdown-enter-active {
//    opacity: 1;
//    filter: alpha(opacity=100);
    top: 100%;
  }

  &-leave {
//    opacity: 1;
//    filter: alpha(opacity=100);
    top: 100%;
  }

  &-leave.dropdown-leave-active {
//    opacity: 0.01;
//    filter: alpha(opacity=0.01);
    top: 150%;
  }

  &__content {
//    transition: all 200ms ease-in-out;
  }

  .dropdown-menu{
    padding: 0;
    margin: 0 !important;
    list-style: none;
    border: none;
    box-shadow: none;

    li{

      a{

        &:hover{
          background: none;
        }
      }
    }

    &--header-desktop{
      margin: 2px 0 0;
      background-color: #000;
      background: #000;
    }

    &--top{
      top: auto;
      bottom: 100%;
    }

    &--red{
      background-color: #F24949;
      padding:  11px 0;

      li{

        span,
        a{
          color: $color-white;
          font-size: 14px;
          line-height: 18px;
          padding: 7px 22px;
          cursor: pointer;
          display: block;

          &:hover{
            color: $color-duststorm;
          }
        }
      }
    }

    &--black{
      background-color: #000;
      background: #000;
      padding:  11px 0;

      li{

        span,
        a{
          color: $color-white;
          font-size: 14px;
          line-height: 18px;
          padding: 7px 22px;
          cursor: pointer;
          display: block;

          &:hover{
            color: $color-duststorm;
          }
        }
      }
    }

    &--header-mobile{
      background-color: #F24949;
      background-color: #000;
      border-radius: 0 0 3px 3px;
      text-align: right;
      min-width: 141px;
      padding: 3px 0 12px;
      margin: 0;
      width: 100vw;

      @include breakpoint('tablet-min') {
        display: none !important;
      }

      li{
        hr{
          width: 100%;
          margin: 7px 0 7px auto;
        }
      }

      span,
      a{
        padding: 10px 22px !important;
        font-size: 12px !important;
        line-height: 14px !important;
        @include font-base-light;
      }

    }

    &--left{
      left: auto;
      right: 0;
      padding: 3px 0;

      @include breakpoint('phone-max') {
        left: auto;
        right: -23px;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          right: -38px;
        }
      }
    }

    &--center{
      left: 50%;
      transform: translate(-50%);
    }

    &--right-header{
      left: auto !important;
      right: -30px !important;
      padding: 3px 0;

      a{

        &:focus,
        &:active{
          color: #fff;
        }
      }

      @include breakpoint('tablet-max') {
        left: auto !important;
        right: -15px !important;

      }
    }

    &--right{
      left: auto !important;
      right: 0 !important;
    }

    &--black-gray{
      background-color: $color-gray;
      padding: 5px 7px;

      li{

        a{
          color: $color-white;
          font-size: 10px;
          line-height: 18px;
          padding: 0;
        }
      }
    }

    &--arrow-right{
      color: #fff;
      text-align: right;
      padding: 10px 16px;
      min-width: 120px;
      top: 30px;

      li{
        cursor: pointer;
      }

      span,
      a{
        color: $color-white;
        font-size: 12px;
        line-height: 16px;
        padding: 7px 0;
        cursor: pointer;
        display: block;
        text-align: right;

        &:hover{
          color: $color-duststorm;
        }
      }

      &:after{
        position: absolute;
        right: 25px;
        top: -17px;
        content: '';
        border: 5px solid transparent;
        border-bottom: 12px solid $color-gray;
        display: block;
        width: 0;
        height: 0;
      }
    }

    &--download-player,
    &--download{
      background-color: $color-gallery;
      z-index: 3;
      border-top: 9px solid transparent;

      a{
        color: $color-tundora;
        font-size: 11px;
        line-height: 13px;
        padding: 7px 0 7px 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          i,
          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }

        i{
          color: $color-gray;
          font-size: 20px;
          line-height: 20px;
          margin-right: 12px;
        }
      }
    }

    &--download-player{
      background-color: $color-gallery;
      z-index: 3;
      border-bottom: 9px solid transparent;
      border-top: 0;
    }

    &--spotify{
      background-color: $color-gallery;
      z-index: 3;
//      border-top: 9px solid transparent;
      width: 110px;
      min-width: 110px;

      li{
        position: relative;

        .second{
          display: none;
          position: absolute;
          right: -110px;
          top: 0;
          width: 110px;
          margin: 0;
          padding: 0;
          list-style: none;
          background-color: $color-gallery;
          border-radius: 3px;

          li{

            a{

              &:hover{
                text-decoration: none;
              }
            }
          }
        }

        &.is-active{

          &:after{
            position: absolute;
            right: 5px;
            top: 10px;
            border: 3px solid transparent;
            border-left: 7px solid #000;
            display: block;
            width: 0;
            height: 0;
          }

          .second{
            display: block;
          }
        }

        &:hover{
          .second{
            display: block;
          }
        }
      }

      a{
        color: $color-tundora;
        font-size: 9px;
        line-height: 12px;
        padding: 7px 0 7px 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          em,
          i,
          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }

        i{
          color: $color-gray;
          font-size: 9px;
          line-height: 9px;
          margin-right: 5px;
          font-style: normal;
        }

//        в ем положить плюсики для спотифи
        em{
          font-size: 12px;
          line-height: 12px;
          margin-right: 5px;
          font-style: normal;
          width: 7px;
        }
//        в ем положить плюсики для спотифи
      }
    }

    &--more{
      background-color: $color-gallery;
      z-index: 3;
      width: 115px;
      min-width: 115px;
      box-shadow: 0 2px 3px $color-tundora;
      border-radius: 0;

      @include breakpoint('tablet') {
        width: 90px;
        min-width: 90px;
      }

      li{
        position: relative;

        &:hover{

          .second{
            display: block;
          }
        }

        .second{
          display: none;
          position: absolute;
          right: -111px;
          top: 0;
          width: 110px;
          margin: 0;
          padding: 0;
          border-left: 2px solid transparent;
          list-style: none;
          background-color: $color-gallery;
          border-radius: 0;
          box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);

          @include breakpoint('tablet') {
            width: 90px;
            min-width: 90px;
            right: -91px;
          }

          li{

            a{
              padding: 5px 0 5px 6px;

              @include breakpoint('tablet') {
                padding: 5px 0 5px 3px;
              }

              &:hover{
                text-decoration: none;
              }
            }
          }
        }

        &.is-active{

          &:after{
            position: absolute;
            right: 5px;
            top: 8px;
            border: 3px solid transparent;
            border-left: 7px solid #000;
            display: block;
            width: 0;
            height: 0;
          }
        }

        &:hover{
          .second{
            display: block;
          }
        }
      }

      strong{
        color: $color-tundora;
        font-size: 8px;
        line-height: 10px;
        margin-right: 5px;
        font-style: normal;
        text-transform: uppercase;
        padding-left: 11px;
        display: block;
        padding: 5px 5px 5px 11px;

        @include breakpoint('tablet') {
          padding: 5px 0 5px 4px;
        }
      }

      a{
        color: $color-tundora;
        font-size: 9px;
        line-height: 12px;
        padding: 5px 0 5px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;
        margin: 0;

        @include breakpoint('tablet') {
          padding: 5px 0 5px 6px;
        }

        &:hover{
          em,
          i,
          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }

        i{
          color: $color-gray;
          font-size: 9px;
          line-height: 9px;
          margin-right: 5px;
          font-style: normal;
        }

//        в ем положить плюсики для спотифи
        em{
          font-size: 12px;
          line-height: 12px;
          margin-right: 5px;
          font-style: normal;
          width: 7px;
        }
//        в ем положить плюсики для спотифи
      }
    }

    &--favorites{
      background-color: $color-gallery;
      z-index: 3;
      width: 158px;
      min-width: 158px;
      border-radius: 0;
      padding: 7px 0;
      left: -15px;

      @include breakpoint('phone-max') {
        left: auto;
        right: 0;
      }

      @include breakpoint('tablet') {
        width: 152px;
        min-width: 152px;
      }

      li{
        position: relative;

        &:hover{

          .second{
            display: block;
          }
        }

        .second{
          display: none;
          position: absolute;
          right: -111px;
          top: 0;
          width: 110px;
          margin: 0;
          padding: 0;
          border-left: 2px solid transparent;
          list-style: none;
          background-color: $color-gallery;
          border-radius: 0;
          box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);

          @include breakpoint('tablet') {
            width: 90px;
            min-width: 90px;
            right: -91px;
          }

          li{

            a{
              padding: 5px 0 5px 6px;

              @include breakpoint('tablet') {
                padding: 5px 0 5px 3px;
              }

              &:hover{
                text-decoration: none;
              }
            }
          }
        }

        &.is-active{

          &:after{
            position: absolute;
            right: 5px;
            top: 8px;
            border: 3px solid transparent;
            border-left: 7px solid #000;
            display: block;
            width: 0;
            height: 0;
          }

          //          .second{
          //            display: block;
          //          }
        }

        &:hover{
          .second{
            display: block;
          }
        }
      }

      strong{
        color: $color-tundora;
        font-size: 8px;
        line-height: 10px;
        margin-right: 5px;
        font-style: normal;
        text-transform: uppercase;
        padding-left: 11px;
        display: block;
        padding: 5px 5px 5px 11px;

        @include breakpoint('tablet') {
          padding: 5px 0 5px 4px;
        }
      }

      a{
        color: $color-tundora;
        font-size: 11px;
        line-height: 14px;
        padding: 7px 5px 7px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0;

        @include breakpoint('tablet') {
          padding: 5px 0 5px 12px;
        }

        &:hover{
          color: $color-flamingo;
          text-decoration: none;
        }

        &:hover{
          em,
          i,
          span{
            color: $color-flamingo;
            text-decoration: none;
          }
        }

        span{
          color: $color-tundora;
        }

        i{
          color: $color-gray;
          font-size: 9px;
          line-height: 9px;
          margin-right: 5px;
          font-style: normal;
        }

        //        в ем положить плюсики для спотифи
        em{
          font-size: 12px;
          line-height: 12px;
          margin-right: 5px;
          font-style: normal;
          width: 7px;
        }
        //        в ем положить плюсики для спотифи
      }
    }

    &--arrow-center{
      min-width: 101px;

      &:after{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
        content: '';
        border: 4px solid transparent;
        border-bottom: 10px solid $color-gallery;
        display: block;
        width: 0;
        height: 0;
      }
    }

    &--arrow-bottom{
      min-width: 101px;

      &:after{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        content: '';
        border: 4px solid transparent;
        border-top: 10px solid $color-gallery;
        display: block;
        width: 0;
        height: 0;
      }
    }

    &--arrow-left{

      &:after{
        position: absolute;
        left: 15px;
        top: -17px;
        content: '';
        border: 5px solid transparent;
        border-bottom: 12px solid $color-gray;
        display: block;
        width: 0;
        height: 0;
      }
    }

    &--three-dots{
      background-color: $color-gallery;
      z-index: 3;
      border-top: 13px solid transparent;
      text-align: left;
      padding: 10px 12px;
      min-width: 120px;

      a{
        color: $color-dusty-gray;
        font-size: 12px;
        line-height: 14px;
        padding: 3px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          color: $color-flamingo;

          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }
      }

      &:after {
        border-bottom: 12px solid $color-gallery;
        left: 5px;
      }
    }

    &--share{
      background-color: $color-gallery;
      z-index: 3;
      border-top: 13px solid transparent;
      text-align: left;
      padding: 10px 12px;
      min-width: 88px;

      a{
        color: $color-dusty-gray;
        font-size: 10px;
        line-height: 12px;
        padding: 3px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include font-base-light;

        &:hover{
          color: $color-flamingo;

          span{
            color: $color-flamingo;
          }
        }

        span{
          color: $color-tundora;
        }
      }

      &:after {
        border-bottom: 12px solid $color-gallery;
      }
    }

  }
}
