@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.item-page-navigation {
  overflow: hidden;

  &__next,
  &__prev{
    height:80px;
    width:50%;

    @include breakpoint('phone-max') {
      float: none;
      width:100%;
      height:auto;
      padding:20px 0;
    }

    span{
      font-size:18px;
      line-height:20px;
      color: #9B9B9B;
      display: block;
      text-transform: uppercase;

      @include breakpoint('phone-max') {
        font-size:15px;
        line-height:18px;
      }
    }

    a{
      font-size:18px;
      line-height:20px;
      color: #fff;

      &:focus, &:visited {
        color: #fff;
      }

      @include breakpoint('phone-max') {
        font-size:15px;
        line-height:18px;
      }
    }
  }

  &__text-prev{
    padding-left:25px;

    @include breakpoint('phone-max') {
      padding: 0 0 10px;
    }
  }

  &__text-next{
    padding-right:25px;

    @include breakpoint('phone-max') {
      padding: 0 0 10px;
    }
  }

  &__prev{
    float: left;
    background: #383838;
  }

  &__next{
    float: right;
    background: #474747;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    padding:0 20px;

    @include breakpoint('phone-max') {
      padding:0 15px;
      justify-content: center;
      flex-direction: column;

      &--mobile{
        flex-direction: column-reverse;
      }
    }
  }
}