@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.grid-music{

  padding: 40px 0 0;

  @include breakpoint('phone-max') {
    padding: 0 0 0 0;
  }

  @media screen and (min-width: 320px) and (max-width: 639px){
    padding: 0;
  }

  &__list{
    font-size: 0;
  }

  &__li{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    font-size: 10px;
    line-height: 12px;

    @media screen and (min-width: 960px) and (max-width: 1024px){
      width: 25%;
    }

    @media screen and (min-width: 640px) and (max-width: 959px){
      width: 33.3333%;
    }

    @media screen and (min-width: 320px) and (max-width: 639px){
      width: 50%;
    }

    &--title5,
    &--title4,
    &--title3,
    &--title2{
      width: 100%;
      background: $color-tundora;
      margin-top: 37px;
      padding: 7px 0 6px;

      &:first-child{
        margin: 0;
      }
    }

    &--title4,
    &--title3,
    &--title2{

      @media screen and (min-width: 1025px){
        display: none;
      }
    }

    &--title5,
    &--title3,
    &--title2{

      @media screen and (min-width: 960px) and (max-width: 1024px){
        display: none;
      }
    }

    &--title5,
    &--title4,
    &--title2{

      @media screen and (min-width: 640px) and (max-width: 959px){
        display: none;
      }
    }

    &--title5,
    &--title4,
    &--title3{

      @media screen and (min-width: 320px) and (max-width: 639px){
        display: none;
      }
    }
  }

  &__info{
    text-align: center;
    color: $color-dusty-gray;
  }

  &__item{

  }

  &__information{

  }

  &__wrapp{
//    background-image: linear-gradient(-90deg, #291BAA 0%, #452F71 100%);
    background: #979797;
    color: #fff;
    height: 100%;
    min-height: 155px;
    padding: 0 11px 4px 17px;
    position: relative;
    background-size: cover;

    @include breakpoint('tablet') {
      min-height: 130px;
    }

    @include breakpoint('phone-max') {
      min-height: 92px;
    }
  }

  &__play{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;

    i{
      color: #fff;
      font-size: 35px;
      line-height: 35px;
    }

    .icon-font-btn-pause{
      display: none;
    }

    &.is-active .icon-font-btn-pause{
      display: block;
    }

    &.is-active .icon-font-btn-play{
      display: none;
    }

    @include breakpoint('phone-max') {
      top: 40%;
      width: 30px;
      height: 30px;
      transform: translateX(-50%) translateY(-40%);

      i{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  &__properties{
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    padding: 0 11px 0 17px;
  }

  &__name{
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    @include font-base-semi-bold;
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;

    &:hover{
      text-decoration: none;
      color: #fff;
    }

    @include breakpoint('phone-max') {
      margin-bottom: -4px;
    }
  }

  &__spotify{
    float: right;
    color: #fff;
    padding-top: 2px;

    a:hover{
      text-decoration: none;

      i{
        color: $color-turquoise-blue;
      }
    }

    @include breakpoint('phone-max') {
      color: $color-dusty-gray;
      padding-top: 0;
    }
  }

  &__bottom{
    @include clearfix;

    i{
      color: #fff;
      font-size: 10px;
      line-height: 10px;
    }

    .headphones,
    .like{
      color: #fff;
      display: inline-block;
      vertical-align: middle;
    }

    .like__like-text,
    .headphones__text{
      font-size: 8px;
      line-height: 8px;
    }

    .headphones{
      margin-right: 12px;
    }

    @include breakpoint('phone-max') {

      .grid-music__spotify,
      .like{
        display: none;
      }
    }

    &--mobile{
      display: none;

      @include breakpoint('phone-max') {
        display: block;
        padding: 8px 0 0 14px;

        .like,
        i{
          color: $color-dusty-gray;
          font-size: 17px;
          line-height: 17px;
        }

        .like{
          min-width: 25px;
          padding-top: 2px;
        }

        .like,
        .grid-music__spotify{
          display: inline-block;
          vertical-align: middle;
          float: none;
        }
        .like__like-text,
        .headphones{
          display: none;
        }
      }
    }
  }

  &__itunes-amazon{
    padding-left: 18px;

    a{
      display: inline-block;
      vertical-align: top;

      img{
        width: 100%;
      }
    }

    @include breakpoint('phone-max') {
      padding-left: 14px;
    }
  }

  &__itunes{
    width: 65px;
    height: 24px;
  }

  &__amazon{
    width: 69px;
    height: 24px;
    margin-left: 3px;
  }

  &__singer,
  &__album{
    font-size: 13px;
    line-height: 17px;
    @include font-base-semi-bold;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint('phone-max') {
      font-size: 11px;
      line-height: 14px;
    }
  }

  &__information{
    padding: 9px 0 7px 20px;

    @include breakpoint('phone-max') {
      padding-left: 14px;
    }
  }

  &__album{
    color: $color-tundora;
    padding-bottom: 4px;
  }

  &__singer{
    color: $color-dusty-gray;
  }



}