@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";
@import "../../stylesheets/components/components";

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.tvshow-browse-route .wrapper,
  &.movies-browse-route .wrapper{
    padding: 0;
  }

  &.tvshow-browse-route .header,
  &.movies-browse-route .header{
    position: relative;
  }

  .main{
    position: relative;
    margin: 0 auto;
    @include clearfix();
    padding: 27px 330px 27px 30px;
    max-width: 1440px;

    @include breakpoint('tablet-max') {
      padding: 27px 15px;
    }

    @include breakpoint('phone-max') {
      padding: 9px 0px;
      margin: 0 -1px 0 -1px;
//      flex-direction: column-reverse;
    }
  }

  .adsbygoogle{
    margin:0 auto 15px;
  }

  .wrapper{
    flex: 1 0 auto;
    padding: 56px 0 0;

    @include breakpoint('phone-max') {
      padding: 44px 0 0;
    }
  }

  .content{
    float: left;
    width: 100%;
    padding-right: 22px;

    @include breakpoint('tablet-max') {
      padding: 0;
    }

    &__wrapp{
      position: relative;
      padding: 17px 24px;
      background: #fff;
      border-radius: 4px;

      @include breakpoint('phone-max') {
        padding: 17px 10px;
      }
    }
  }

  .sidebar{
    width: 300px;
    float: right;
    margin-right: -300px;

    @include breakpoint('tablet-max') {
      display: none;
    }

    &--top{

      @include breakpoint('tablet-max') {
        display: block;
        float: none;
        margin: 0 auto 20px;
      }

      @include breakpoint('phone-max') {
        margin: 0 auto 10px;
      }
    }
  }

  .coll{
    background: #ffff00;
    margin-bottom: 70px;

  }

  .no-matches{
    color: $color-flamingo;
    font-size:24px;
    line-height:28px;
    padding-left:30px;

    @include breakpoint('phone-max') {
      padding-left:12px;
    }
  }

  .content-header{
    width: 100%;
    height: 315px;
//    background-image: linear-gradient(-180deg, #5158BB 0%, #EB4B98 90%);
    background: linear-gradient(-180deg, #000000 0%, #A6A6A6 90%);
    align-items: flex-end;

    @include breakpoint('tablet-max') {
      height: 230px;
    }

    @include breakpoint('phone-max') {
      height: 142px;
    }
  }

  .content-header{
    display: table;
    padding:50px 0 0;
    width:100%;
  }

  .content-header{
//    background-image: linear-gradient(-180deg, #F24949 0%, #EB4B98 90%);
    background: linear-gradient(-180deg, #000000 0%, #A6A6A6 90%);

    @include breakpoint('tablet-max') {
      display: block;
    }
  }

  .content-header-wrapper{
    padding: 0 0 30px;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    @include breakpoint('tablet') {
      padding: 0 0 30px;
    }

    @include breakpoint('phone-max') {
      padding: 0 0 1px;
    }
  }

  .content-header-wrapper{
    display: table-cell;
    vertical-align: bottom;

    @include breakpoint('tablet-max') {
      display: block;
    }
  }

  .content-header-title{
    color: #fff;
    font-size: 46px;
    line-height: 55px;
    @include font-base-black;
    margin-bottom: 52px;
    padding-left:30px;

    @include breakpoint('phone-max') {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 18px;
      padding: 0 0 0 25px;
    }
  }

  .content-header-tabs::-webkit-scrollbar,
  .content-header-tabs::-webkit-scrollbar-button{
    width: 0;
    height: 0;
  }

  .content-header-tabs{
    width: 100%;
    max-width: 836px;

    @include breakpoint('phone-max') {
      overflow: auto;
      white-space: nowrap;
    }

    ul{
      @include clearfix;
      width: 100%;
      padding-left: 30px;

      &::-webkit-scrollbar {
        width: 7px;
        z-index: 12;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        width: 7px;
        z-index: 12;
      }
      &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 7px;
        width: 3px;
        z-index: 12;
      }
      &::-ms-scrollbar {
        width: 7px;
        z-index: 12;
      }
      &::-ms-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        width: 7px;
        z-index: 12;
      }
      &::-ms-scrollbar-thumb {
        background-clip: content-box;
        background-color: transparent;
        border: transparent;
        border-radius: 7px;
        width: 3px;
        z-index: 12;
      }

      @include breakpoint('phone-max') {
        padding-left: 17px;
        overflow: auto;
        white-space: nowrap;
      }

        li{
          float: left;
          width: 25%;

          @include breakpoint('phone-max') {
            display: inline-block;
            float: none;
            width: auto;
            margin-right: 10px;
          }

            span,
            a{
              position: relative;
              display: inline-block;
              vertical-align: top;
              font-size: 18px;
              line-height: 21px;
              padding: 0 15px;
              @include font-base-black;
              color: $color-tundora;
              cursor: pointer;
              white-space: nowrap;

              @include breakpoint('phone-max') {
                font-size: 14px;
                line-height: 17px;
                padding: 10px;
              }

              &.is-active,
              &:hover{
                color: #fff;
                text-decoration: none;

                &:after{
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: -14px;
                  width: 100%;
                  height: 5px;
                  background: #fff;

                  @include breakpoint('phone-max') {
                    bottom: 4px;
                    height: 4px;
                  }
                }
              }

              &:hover{
                @include breakpoint('phone-max') {
                  color: $color-tundora;

                  &:after{

                    @include breakpoint('phone-max') {
                      background: transparent;
                    }
                  }
                }
              }
            }
        }
    }
  }

  .content-header-box{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }

  .browse-tv-shows{
    font-size: 18px;
    line-height: 21px;
    padding: 0 15px 30px;
    @include font-base-black;
    color: $color-tundora;
    min-width: 192px;
    float: right;

    &:hover{
      text-decoration: none;
      color: #fff;
    }

    @include breakpoint('tablet-max') {
      display: none;
    }

    @include breakpoint('phone-max') {
      font-size: 14px;
      line-height: 17px;
      padding: 10px;
    }
  }

  .browse-all-wrapp{
    border-left: 6px solid #000;

    @include breakpoint('phone-max') {
      margin: 0 10px;
    }

  }

  .browse-all{
    display: table;
    width:100%;

    .sticky-inner-wrapper,
    .sticky-outer-wrapper.active,
    .sticky-outer-wrapper{
      width:100% !important;
      z-index:2;
    }

    .sticky-outer-wrapper.active{

      .browse-tv-shows,
      .browse-navigation__list ul li span{
        color: #a09999;
      }

      .sticky-inner-wrapper{
//        background-image: linear-gradient(180deg, #F24949 0%, #EB4B98 90%);
        background: linear-gradient(180deg, #000000 0%, #A6A6A6 90%);
        padding:15px 30px;

        @include breakpoint('phone-max') {
          padding: 5px 0 0;
        }
      }

    }

    @include breakpoint('tablet-max') {
      display: block;
    }
  }

  .page-loader {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;

    .loader-wrapp{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:nth-child(2n-1){
        background-color: transparent;
      }
    }
  }



}
