@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.songs-trending{
  padding-bottom: 24px;
  width: 100%;

  @include breakpoint('phone-max') {

    padding: 24px 0 0;

    &:last-child{
      margin-bottom:20px;
    }
  }

  &:last-child {
    padding-bottom: 0px;
  }

  &__content{
    background: #fff;
    border-radius: 3px;
    padding: 15px 5px 15px 18px;
    border: 1px solid #DEDEDE;
    height: 427px;
    //overflow-y: scroll;

    @include breakpoint('phone-max') {
      //height: auto;
      //overflow-y: auto;
    }

    .scroll-vertical{
      height:100%;
      right:2px;
      position: absolute;
      top:0;
      background: #efefef;
      border-radius: 4px;
    }

    .scrollbar{
      width:3px;
      height:15px;
      background: #d0cccc;
      border-radius: 4px;
    }
  }

  &__list{
    padding: 0 15px 0 0;
    margin: 0;
    list-style: none;

    @include breakpoint('phone-max') {
      background: #fff;
      padding: 15px 18px 15px 18px;
    }

    li{
      cursor: pointer;
      padding: 5px 0;

      &:hover{

        .songs-trending__title,
        .songs-trending__album{
          color: #4A4A4A;
        }
      }
    }
  }

  &__item{
    @include clearfix;
//    margin-bottom: 9px;
    color: $color-dusty-gray;

    &.is-playing{
      color: $color-black;
    }
  }


  &__title,
  &__album{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.7px;

    &:hover{

    }
  }

  &__link{
    font-size: 11px;
    letter-spacing: -0.5px;
    line-height: 12px;
    color: $color-dusty-gray;
    padding-top: 4px;

    a{
      color: $color-havelock-blue;
    }
  }

  &__item-left{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 78%;
  }

  &__item-right{
    float: right;
  }

  &__like{
    color: $color-carnation;
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;
    margin: -2px 0 0;

    .icon-font-heart{
      display: none;
    }

    &.is-liked{

      .icon-font-heart{
        display: inline-block;
        vertical-align: middle;
      }
      .icon-font-heart-empty{
        display: none;
      }
    }

    i{
      color: $color-carnation;
      font-size: 21px;
      line-height: 21px;
    }
  }

  &__like-text{
    margin: 0 0 0 7px;
  }

  &__header{
    @include clearfix;
    font-size: 14px;
    line-height: 18px;
    color: $color-dusty-gray;
    text-transform: uppercase;
    margin-bottom: 7px;
    position: relative;
    z-index: 2;

    @include breakpoint('phone-max') {
      padding: 3px 15px 15px;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }
  }

  &__header-title{
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }

  &__header-week{
    float: right;
    font-size: 14px;
    line-height: 18px;

    @include breakpoint('phone-max') {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__trigger{

    position: relative;
    padding-right: 16px;
//    padding-bottom: 15px;
    cursor: pointer;

    &:after{
      position: absolute;
      right: 2px;
      top: 7px;
      content: '';
      border: 3px solid transparent;
      border-top: 6px solid $color-gray;
      display: block;
      width: 0;
      height: 0;

      @include breakpoint('phone-max') {
        top: 4px;
      }
    }
  }
}

