@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.recently-titles{
  position: relative;
  padding: 15px 0 0;

  &__img{

    img{
      width: 100%;
      max-height: 264px;

      @include breakpoint('phone-max') {
        max-height: 100%;
      }
    }
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    @include breakpoint('phone-max') {
      margin: 0 0 27px;
    }
  }

  &__title{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: $color-dusty-gray;
    @include font-base-light;

    @include breakpoint('phone-max') {
      font-size: 11px;
    }
  }

  &__view-all{

    a,
    button{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      color: $color-havelock-blue;
      padding: 0;
      height: auto;

      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }

      @include breakpoint('phone-max') {
        font-size: 11px;
      }
    }
  }

  &__list{
    font-size: 0;
    margin: 0 -15px;

    @include breakpoint('phone-max') {
      margin: 0 -11px;
    }

    li{
      width: 20%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 0 15px;
      margin-bottom: 31px;

      @include breakpoint('phone-max') {
        padding: 0 11px;
        width: 50%;
        margin-bottom: 24px;
      }


      span{
        font-size: 13px;
        line-height: 16px;
        @include font-base-light;

        @include breakpoint('phone-max') {
          font-size: 10px;
          line-height: 12px;
          display: block;
          padding-top: 4px;
        }
      }
    }
  }

  &__img{
    position: relative;
    padding-bottom: 4px;

    i{
      font-size: 25px;
      color: $color-flamingo;
      position: absolute;
      right: -10px;
      bottom: -10px;

      @include breakpoint('phone-max') {
        font-size: 20px;
        right: -8px;
        bottom: -8px;
      }
    }
  }
}
