@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.ReactModalPortal {
    position: absolute;
    z-index: 9;

    .ModalPlayer {
        outline: none;
        max-width: 640px;
        margin: 1.75rem auto;

        @include breakpoint('phone-max') {
            width: 90%;
            .modal-dialog > div {
                width: auto !important;
            }
        }
    }
}
