@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.player{

  @include clearfix;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;

  @include breakpoint('tablet-max') {
    padding: 0;
    bottom: 90px;
    display: none;
  }

  @include breakpoint('phone-max') {
    padding: 0;
    bottom: 50px;
  }

  &__time{
    display: inline-block;
    vertical-align: middle;
    color: $color-dusty;
    font-size: 14px;
    line-height: 16px;
    width: 45px;
    margin: 22px 15px 0 0;

    @include breakpoint('phone-max') {
      display: none;
    }

    &--start{
      float: left;
    }

    &--end{
      float: right;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  .dropdown{
    float: right;
    z-index: 5;
    margin: 0 20px 0 0;

    &.active{

      [data-tooltip]:before,
      [data-tooltip]:after{
        display: none;
      }
    }
  }

  .song__link-spotify{
    float: left;
    margin: 19px 6% 0 10px;

    i{
      font-size: 22px;
      line-height: 22px;
      color: $color-dusty;

      &.active,
      &:hover{
        color: $color-pastel-green;
      }

    }

    @include breakpoint('phone-max') {
      float: right;
      margin: 11px 10px 0 10px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {

      position: absolute;
      right:12px;
      top:54px;
      margin:0;
    }
  }

  .react-player{
    background: #fff;
    position: absolute;
    right: 30px;
    top: -168px;
    height: 172px !important;
    width: 300px !important;

    @include breakpoint('tablet-max') {
      right: 15px;
    }
    @include breakpoint('phone-max') {
      right: 0px;
      width: 100% !important;
      max-width: 640px;
      height: 155px !important;
      top: -151px;
    }
  }

  &__all{
    background: #F4F4F4;
    position: relative;
    width: 100%;
    @include clearfix;
    padding: 8px 30px 10px;
    min-height: 68px;

    @include breakpoint('tablet-max') {
      padding: 8px 15px 10px;
    }

    @include breakpoint('phone-max') {
      padding: 18px 0px 17px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {

      padding: 18px 15px 8px 5px;
    }
  }

  &__controls{
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 127px;
    z-index: 2;

    @include breakpoint('phone-max') {
      left: auto;
      right: 10px;
      top: 29px;
      transform: translateX(0);
      max-width: 112px;
    }

    .btn{
      padding: 0;

      i{
        color: $color-tundora;
        font-size: 16px;
      }
    }

    .btn-prev{
      float: left;

      &.is-disabled{

        i{
          color: $color-nobel;
        }
      }

      @include breakpoint('phone-max') {
        display: none;
      }
    }

    .btn-next{
      float: right;

      &.is-disabled{

        i{
          color: $color-nobel;
        }
      }

      @include breakpoint('phone-max') {
//        margin-right: 6px;
        display: none;
      }
    }

    .btn-play{
//      margin: 0 0 0 36px;
//      float: left;
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      @include breakpoint('phone-max') {
//        margin: 0 0 0 30px;
      }
    }
  }

  &__options{

    float: right;
    padding: 18px 0 0 0;
    width: 30%;
    @include clearfix;

    @include breakpoint('tablet-max') {
      width: 30%;
      padding-left: 0;

    }

    @include breakpoint('phone-max') {
      width: auto;
      padding: 6px 0 0 0;
      min-width: 210px;
      margin: 0 10px 0 0;

    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      min-width: 110px;
      padding: 0;
      margin: -5px 0 0;
    }


    .btn{
      color: #000;
      padding: 0;
      font-size: 12px;
      line-height: 14px;
      @include font-base-light;
      color: $color-dusty-gray;
      text-transform: none;
    }

    .btn-download{
      float: left;
//      margin: 0 20px 0 0;

      i{
        font-size: 20px;
        line-height: 22px;
      }

      @include breakpoint('phone-max') {
        display: none;
      }
    }

    .btn-close-player,
    .btn-video{
      float: right;

      @include breakpoint('phone-max') {
        padding-top: 4px !important;

      }

      @media screen and (min-width: 320px) and (max-width: 460px) {
        position: absolute;
        right: 15px;
        top: 13px;
      }

      i{
        font-size: 22px;
        line-height: 24px;
      }
    }

    .btn-video{
      margin: 0 20px 0 0;

      @include breakpoint('phone-max') {
        display: none;
      }
    }
  }

  &__info{
    float: left;

    @media screen and (min-width: 768px) {
      width: 210px;
    }

    @media screen and (min-width: 1025px) {
      width: 240px;
      padding-right: 20px;
    }

    @include breakpoint('phone-max') {
      position: relative;
      z-index: 2;
      padding-left: 45px;
    }

    img{
      float: left;
      margin: 10px 18px 0 0;
      max-width: 40px;
      max-height: 40px;
      overflow: hidden;

      @include breakpoint('phone-max') {
        margin-right: 6px;
        display: none;
      }
    }
  }

  &__text{
    @include font-base-light;
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
    color: $color-dusty-gray;
    width: auto;

    @include breakpoint('phone-max') {
      font-size: 9px;
      line-height: 11px;
      padding-top: 5px;
    }

    .btn-download{
      @include font-base-regular;
      padding: 0;
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: $color-dusty-gray;
      margin-top: 5px;

      @include breakpoint('phone-max') {
        display: none !important;
      }
    }

  }

  &__album{
    padding: 4px 0 5px;

    @include breakpoint('phone-max') {
      padding: 1px 0;
      @include font-base-semi-bold;
    }
  }

  &__title,
  &__album{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 62%;
    @include font-base-semi-bold;


    @media screen and (min-width: 320px) and (max-width: 900px) {
      max-width: 120px;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 5px;
      font-size: 11px;
      line-height: 13px;
    }

  }

  &__title{
    color: $color-tundora;
  }

  .like{
    float: left;
    margin: 20px 0 0;

    @media screen and (min-width: 1400px) {
      margin-left: 9%;
    }

    &.is-liked i,
    i:hover {
      color: $color-flamingo;
    }

    i {
      color: $color-dusty;
    }

    @include breakpoint('phone-max') {
      display: none;
      margin: 8px 0 0;
    }

    .like__like-text{
      display: none;
    }
  }

  &__timeline{
    color: #000;
    max-width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;

    @include breakpoint('phone-max') {
      height: 4px;
    }
  }

  &__center{
    color: #000;
    overflow: hidden;
    height: 50px;
    max-width: 140px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 1025px) {
      position: absolute;
      left: 50%;
      top: 7px;
      transform: translate(-50%);
      width: 100%;
    }

    @include breakpoint('phone-max') {
      position: absolute;
      left: 20px;
      top: 0;
      width: 35px;
      max-width: 100%;
      padding: 0;
      height: 57px;
    }
  }

  &__times{
    position: absolute;
    left: 50%;
    top: -23px;
    transform: translateX(-50%);
    max-width: 590px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    z-index: 2;

    @include breakpoint('phone-max') {
      display: none;
    }
  }

  &__time-start{
    float: left;
  }

  &__time-end{
    float: right;
  }

  &__range{
    -webkit-appearance: none;
    margin: 0;
    width: 100%;

    @include breakpoint('phone-max') {
      margin: 0;
      height: 1px;
    }

    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 10px;
//      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: $color-dusty;
      border-radius: 0;
      border: 0px solid #000101;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 5px;
      width: 5px;
      border-radius: 7px;
      background: #65001c;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -2px;

      @include breakpoint('phone-max') {
        display: none;
      }
    }
    &:focus::-webkit-slider-runnable-track {
      background: #ac51b5;
    }
    &::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: $color-flamingo;
      border-radius: 25px;
      border: 0px solid #000101;
    }
    &::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 5px;
      width: 5px;
      border-radius: 7px;
      background: #65001c;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -2px;

      @include breakpoint('phone-max') {
        display: none;
        height: 0;
        width: 0;
        background: none;
      }
    }
    &::-ms-track {
      width: 100%;
      height: 12.8px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 39px 0;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: #ac51b5;
      border: 0px solid #000101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    &::-ms-fill-upper {
      background: #ac51b5;
      border: 0px solid #000101;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    &::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      height: 20px;
      width: 39px;
      border-radius: 7px;
      background: #65001c;
      cursor: pointer;

      @include breakpoint('phone-max') {
        display: none;
      }
    }
    &:focus::-ms-fill-lower {
      background: #ac51b5;
    }
    &:focus::-ms-fill-upper {
      background: #ac51b5;
    }
  }

  .youtube-link{
    display: none;

    @include breakpoint('phone-max') {
      height: 50px;
      width: 100%;
      background: $color-flamingo;
      color: #fff;
      display: block;

      a{
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 13px 0 0;

        span{
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          padding-left: 10px;
        }

        i{
          font-size: 26px;
          line-height: 26px;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }

  }

  .youtube-link__container{

    @include breakpoint('phone-max') {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}
