@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.movie-sidebar{

  position: relative;
//  padding: 17px 24px;
  background: #fff;
  border-radius: 4px;

  @include breakpoint('phone-max') {
//    padding: 12px 10px;
  }

  &__list{

    li{
      position: relative;
      &:first-child {
        & > a {
          border-radius: 4px 4px 0 0;
        }
      }

      &:last-child {
        & > a {
          border-radius: 0 0 4px 4px;
        }
      }

      & > a{
        display: block;
        text-align: center;
        @include font-base-light;
        font-size: 18px;
        line-height: 21px;
        padding: 15px;
        color: $color-tundora;

        &:hover, &.is-active{
          background-color: $color-turquoise-blue;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}