@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.spotify-list{

  h3{

    font-size: 14px;
    line-height: 18px;
    color: #9B9B9B;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    position: relative;
    z-index: 2;
  }
}