@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.trailers{

  &__btn-wrapp{
    max-width: 920px;
    margin: 25px auto 0;
    padding: 0 50px;

    @include breakpoint('phone-max') {
      padding: 0;
    }

    button{
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      height: 42px;
      text-transform: uppercase;
    }
  }

  .input__label{
    min-width: 75px;
  }

  .search-form-youtube .form-group{
    max-width: 350px;
  }

  .modal-body{
    padding: 10px 0 24px 19px;
  }

  .group-inline-block{
    display: inline-block;
    width: 100%;

  }

  .search-button{
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;

    @include breakpoint('phone-max') {
      text-align: right;
      margin: 0 0 15px;
      width: 100%;
    }
  }

  .form-list{
    max-width:100%;

    li{
      margin-bottom: 20px;
    }
  }

  .info-wrapp{
    //display: flex;


    .btn{
      margin-right: 15px;

      @include breakpoint('phone') {
        margin-right: 5px;
      }
    }
    .btn,
    .embed,
    .info-text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .embed{
    //display: flex;
    //align-items: center;
    //justify-content: center;
    width: 322px;
    height: 160px;
    background-color: $color-iron;
    text-align: center;
    margin-right: 25px;

    @include breakpoint('phone-max') {
      margin-right: 0;
      margin-bottom: 15px;
      width: 396px;
      height: 232px;
    }

    @include breakpoint ('phone') {
      width: 244px;
      height: 182px;
    }

  }

  .info-text{
    width: 180px;
    font-size: 12px;
    line-height: 14px;

    @include breakpoint('phone-max') {
      display: block;
      width: 100%;
    }
  }
}