@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.stats{
  position: relative;
  margin: 0 0 32px;
  @include clearfix;
  clear:both;
  padding-left: 232px;
  display: none;

  @media screen and (min-width: 1025px) and (max-width: 1110px) {
    padding-left: 200px;
  }

  @include breakpoint('phone-max') {
    margin: 10px 0 7px;
//    padding-left: 19px;
    max-width: 100%;
    padding: 0;
  }

  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    @include clearfix;

    @include breakpoint('phone-max') {
      display: flex;
      justify-content: space-between;
    }

      li{
        float: left;
        margin-right: 5%;
        @include clearfix;

        &:last-child{
          margin-right: 0;
        }

        @media screen and (min-width: 1025px) and (max-width: 1110px) {
          margin-right: 3%;
        }

        @include breakpoint('phone-max') {
          margin-right: 2.5%;
        }
      }
  }

  &__number{
    @include clearfix;
    float: left;
    padding-top: 4px;

    @include breakpoint('phone-max') {
      padding-top: 3px;
    }

    span{
      float: left;
      letter-spacing: 1px;
      color: $color-dusty-gray;
      float: left;
      font-size: 13px;
      line-height: 16px;
      @include font-base-black;

      @include breakpoint('phone-max') {
        font-size: 10px;
        line-height: 13px;
      }

      &:last-child{
        padding-left: 1px;
      }
    }
  }

  &__title{
    color: #fff;
    margin-right: 10px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    background: $color-grey;
    padding: 2px 5px;
    border-radius: 2px;

    @include breakpoint('phone-max') {
      margin-right: 5px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__percent{
    color: $color-dusty-gray;
    float: left;
    font-size: 13px;
    line-height: 16px;
    @include font-base-black;
    padding-top: 4px;

    @include breakpoint('phone-max') {
      font-size: 10px;
      line-height: 12px;
      padding-top: 3px;
    }
  }
}
