@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.thanked{
  position: relative;

  &__img{

    img{
      width: 100%;
    }
  }

  &__text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    text-align: center;

    p{
      margin-bottom: 10px;
    }
  }
}