@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.fb-like{
  text-align: center;
  margin: 0;
  padding: 10px 0 0;

  @include breakpoint('phone-max') {
    display: none;
  }
}
