@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.browse-navigation{
  float: left;
  width:84%;
  padding-left:30px;

  @include breakpoint('tablet-max') {
    padding-left:0;
    float: none;
    width: 100%;
  }

  &__list::-webkit-scrollbar,
  &__list::-webkit-scrollbar-button{
    width: 0;
    height: 0;
  }

  &__list{
    width: 100%;
    max-width: 1440px;

    @include breakpoint('phone-max') {
      overflow: auto;
      white-space: nowrap;
    }

    ul{
      @include clearfix;
      width: 100%;
      font-size: 0;
      margin:0 0 -20px;

      &::-webkit-scrollbar {
        width: 7px;
        z-index: 12;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        width: 7px;
        z-index: 12;
      }
      &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 7px;
        width: 3px;
        z-index: 12;
      }
      &::-ms-scrollbar {
        width: 7px;
        z-index: 12;
      }
      &::-ms-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        width: 7px;
        z-index: 12;
      }
      &::-ms-scrollbar-thumb {
        background-clip: content-box;
        background-color: transparent;
        border: transparent;
        border-radius: 7px;
        width: 3px;
        z-index: 12;
      }

      @include breakpoint('tablet-max') {
        overflow-x: auto;
        white-space: nowrap;
        margin: 0;
        padding-left: 17px;
      }

      li{
        display: inline-block;
        vertical-align: top;
        margin:0 0 20px;

        @include breakpoint('phone-max') {
          display: inline-block;
          float: none;
          width: auto;
          margin: 0 10px 9px 0;
        }

        span,
        a{
          position: relative;
          display: inline-block;
          vertical-align: top;
          font-size: 18px;
          line-height: 21px;
          padding: 0 15px;
          @include font-base-black;
          color: $color-tundora;
          cursor: pointer;

          @include breakpoint('phone-max') {
            font-size: 14px;
            line-height: 17px;
            padding: 10px;
          }

          &.is-active,
          &:hover{
            color: #fff;
            text-decoration: none;

            &:after{
              content: '';
              position: absolute;
              left: 0;
              bottom: -14px;
              width: 100%;
              height: 5px;
              background: #fff;

              @include breakpoint('phone-max') {
                bottom: 4px;
                height: 4px;
              }
            }
          }

          &:hover{
            @include breakpoint('phone-max') {
              color: $color-tundora;

              &:after{

                @include breakpoint('phone-max') {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}