@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.live-songs{

  &__text{
    font-size: 17px;
    line-height: 20px;
    @include font-base-light;
    text-align: center;
    padding: 30px 0 20px;

    @include breakpoint('phone-max') {
      display: none;
    }
  }
}