@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.briefintro{

  margin: 20px 0;
  width: 100%;
  clear: both;

  &__container{
    padding: 0px 0px;
    color: #4A4A4A;
    font-size: 15px;
    @include breakpoint('phone-max')  {
      padding-left: 15px;
    }
  }

  &__title{
    font-size: 13px;
    line-height: 18px;
    color: #A4A6B7;
    margin: 0 0 7px 0;
    position: relative;
    z-index: 2;
    font-weight: bolder;
    letter-spacing: -0.3px;
    @include breakpoint('phone-max')  {
      padding-left: 15px;
    }
  }
}
