@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.externallink{
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    color: $color-dusty-gray;
    border: 1px solid #DEDEDE;
    font-size: 11px;
    margin-right: 5px;
    cursor: pointer;
    @include breakpoint('phone-max')  {
      border-radius: 0px;
    }
}
