@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.soundtrack-result {

  &__title {

    font-size: 17px;
    line-height: 21px;
    color: $color-dusty-gray;
    margin: 0 0 20px;
    text-transform: uppercase;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 17px;
    }
  }

  //  Table

  &__table {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include breakpoint('phone-max') {
      display: block;
    }
  }

  &__table-row-wrapper {
    &:hover {
      .soundtrack-result__table-row {
        background: $color-wild-sand;

        @include breakpoint('phone-max') {
          background: none;
        }
      }
    }
  }

  &__table-row {
    //    display: table-row;
    display: flex;

    @include breakpoint('phone-max') {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      position: relative;
    }

    &:hover {
      background: $color-wild-sand;

      @include breakpoint('phone-max') {
        background: none;
      }
    }

    &--th {
      margin-bottom: 10px;

      @include breakpoint('phone-max') {
        display: none;
      }

      &:hover {
        background: none;
      }

      .soundtrack-result__table-cell {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 12px;
        color: $color-dusty-gray;
      }
    }
  }

  &__table-cell {
    //    display: table-cell;
    vertical-align: middle;
    width: 22%;
    padding: 7px 15px;
    @include font-base-light;

    &--dropp {
      width: 100%;
    }

    &--first {
      width: 34%;

      @include breakpoint('phone-max') {
        display: none;
      }
    }

    &:nth-child(5),
    &:nth-child(3),
    &:nth-child(4) {
      @include breakpoint('phone-max') {
        display: none;
      }
    }

    @include breakpoint('phone-max') {
      display: block;
      width: auto;
      padding: 0 10px;
    }

    &--last {
      width: 5%;

      @include breakpoint('phone-max') {
        display: block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: 0;
        width: 74px;
        transform: translateX(0) translateY(-50%);
        padding: 0;
      }
    }
  }

  &__table-cell-custom {

  }

  &__name,
  &__artist {
    font-size: 14px;
    line-height: 14px;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__youtube {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  //  Songs Songs Songs

  &__title-check {

    .soundtrack-result__artist {
      display: none;

      @include breakpoint('phone-max') {
        display: block;
      }
    }
  }

  .add-shortlist {
    text-transform: uppercase;
    color: $color-havelock-blue;
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;

    @include breakpoint('phone-max') {
      width: 74px;
      white-space: normal;
      font-size: 10px;
      line-height: 12px;
    }
  }

  //  Dropdown

  &__dropp-row {
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;

    display: table-row;
    width: 100%;
  }

  &__dropp-cell {
    display: table-cell;
    width: 100%;
  }

  &__dropp-table {
    display: table;
    width: 45%;
    margin: 15px 0 0 6%;

    @include breakpoint('tablet-max') {
      width: 55%;
    }

    @include breakpoint('phone-max') {
      display: block;
    }
  }

  &__dropp-table-row {
    display: table-row;
  }

  &__dropp-table-cell {
    display: table-cell;
    padding: 0 5px 5px;
    width: 50%;
  }
}
