@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

$form-control: 'form-control';

.#{$form-control} {

  height: 29px;

  &:not(:first-child):not(:last-child) {
    .input-group & {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
  }

  -webkit-appearance: none;

  .input-group & {
    height: auto;
  }

  &:focus{
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.input{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include breakpoint('phone-max') {
    flex-direction: column;
  }

  &__wrapper{
    width: 100%;
    max-width: 300px;
    position: relative;
  }

  &__label{
    min-width: 95px;
    font-size: 12px;
    line-height: 14px;
    color: $color-tundora;
    margin: 0;
    padding-top: 8px;
    @include font-base-light;
    font-weight: normal;

    @include breakpoint('phone-max') {
      padding-top: 0;
      padding-bottom: 5px;
    }
  }

  &__caption{
    font-size: 9px;
    line-height: 10px;
    @include font-base-light;
    padding-top: 5px;
    white-space: initial;
  }
}