@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

$form-control-text: 'form-control-text';

.#{$form-control-text} {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  white-space: pre-line;
  word-break: break-word;

  -webkit-appearance: none;

  &__label {
    display: block !important;
    font-size: 12px;
    letter-spacing: 0.4px;
  }

  &__rating {
    display: inline-block;
    padding-bottom: 0;

    .rsr-container .rsr-root {
      width: 100px;
    }
  }

  .rsr-container ~ button {
    margin-left: 10px;
  }
}
