@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.search-result{
  margin: 0 auto;
  height: 100%;
  width: 92%;
  padding: 25px 0;

  @include breakpoint('phone-max') {
    width: 98%;
    padding: 12px 0;
  }

  &__wrapp{
    position: relative;
    padding: 17px 24px;
    background: #fff;
    border-radius: 4px;
    height: 100%;

    @include breakpoint('phone-max') {
      padding: 12px 10px;
    }
  }

  &__title{
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__row{
    width: 100%;
    @include clearfix;
  }

  &__col{
    width: 25%;
    float: left;
    padding-right: 3%;

    &:last-child{
      padding: 0;
    }

    @include breakpoint('phone-max') {
      width: 100%;
      padding: 0 0 13px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

        li{
          @include breakpoint('phone-max') {
            padding: 0 0 15px;
          }

          span,
          a{
            @include font-base-light;
            font-size: 14px;
            line-height: 17px;

            @include breakpoint('phone-max') {
              margin-bottom: 9px;
              font-size: 13px;
              line-height: 16px;
            }
          }
          span{
            padding-left: 4px;
          }
        }
    }
  }

  &__category{
    @include font-base-light;
    font-size: 17px;
    line-height: 20px;
    border-bottom: 1px solid #eee;
    padding: 0 0 3px;
    margin-bottom: 19px;
    display: inline-block;
    vertical-align: top;
    color: $color-dusty-gray;

    @include breakpoint('phone-max') {
      margin-bottom: 9px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__message{
    @include font-base-light;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 50px 0 30px;

    @include breakpoint('phone-max') {
      font-size: 15px;
      line-height: 18px;
    }
  }
}