@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.btn {
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  height: 29px;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  color: $color-white;
  box-shadow: none;

  &:focus{
    color: $color-white;
    box-shadow: none !important;
    outline: none !important;
  }

  &--primary{
    background: $color-havelock-blue;

    &:hover{
      color: #fff !important;
      background: #5D9BE4;
    }
  }

  &--thank{
    &.btn {
      border: 1px solid #fff;
      background-color: transparent;
      text-transform: none;
      height: 16px;
      padding: 1px !important;
      width: 74px;
      @include font-base-light;
      font-size: 10px !important;
      line-height: 12px !important;
      text-align: center;
      position: relative;

      &:hover{
        color: $color-white;
      }

      &.is-active {
        color: $color-flamingo;
        border-color: $color-flamingo;
        i{
          color: $color-flamingo;
        }

        &:hover {
          color: $color-flamingo;
        }
      }

      i{
        color: #fff;
        font-size: 10px;
        position: absolute;
        left: 5px;
        top: 2px;
      }

    }

  }

  &--info{

  }

  &--warning{

  }

  &--danger{
    background: rgba(0,0,0, 0.3);
    border: solid 1px $color-flory;

    &:hover{
      color: #fff;
      background: $color-flory;
    }

    &:visited,
    &:focus{
      color: #fff;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &--danger2{
    background: $color-flamingo;

    &:hover{
      color: #fff;
      background: $color-flory;
    }
  }

  &--download{
    background: $color-flamingo;
    position: relative;
    padding-left: 5px !important;
    height: 24px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
    width: 101px;
    text-transform: none;
    letter-spacing: 1px;

    &:active,
    &:visited,
    &:focus{
      color: #fff !important;
      box-shadow: inset 0;
    }
    &:hover{
      color: #fff !important;
      background: #ED564C;
    }

    &:after{

      content: '';
      position: absolute;
      top: 9px;
      right: 8px;
      border: 3px solid transparent;
      border-top: 7px solid #fff;
      display: block;
      width: 0;
      height: 0;
    }
  }

  &--spotify{
    background: $color-pastel-green;
    position: relative;
    padding-left: 5px !important;
    height: 24px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
    width: 101px;
    text-transform: none;
    letter-spacing: 1px;

    i{
      color: #2A7F4D;
      margin-right: 4px;
    }

    &:active,
    &:visited,
    &:focus{
      color: #fff !important;
      box-shadow: inset 0;
    }
    &:hover{
      color: #fff !important;
      background: $color-pastel-green;
    }

    &:after{

      content: '';
      position: absolute;
      top: 9px;
      right: 8px;
      border: 3px solid transparent;
      border-top: 7px solid #fff;
      display: block;
      width: 0;
      height: 0;
    }
  }

  &--more{
    font-size: 12px;
    line-height: 14px;
    background-image: linear-gradient(-90deg, #F24949 0%, #EB4B98 100%) !important;
    text-transform: none;
    @include font-base-semi-bold;
    width: 115px;
    height: 33px;
    border-radius: 0;

    @include breakpoint('tablet') {
      width: 90px;
    }

    &:active,
    &:visited,
    &:focus{
      color: #fff !important;
    }

    &:hover{
      color: #fff !important;
    }
  }

  &--danger3{
    background: $color-thunderbird;

    &:hover{
      color: #fff;
      background: #F38F74;
    }

    &:focus{
      color: $color-white;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  &--inverse{

  }

  &--link{
    background: none;
  }

  &--success{
    background: $color-turquoise-blue;
    min-width: 80px;

    &:hover{
      color: #fff !important;
      background: #7AEFB8;
    }

    &:focus{
      color: #fff;
    }

    &:active,
    &:visited,
    &:focus{
      color: #fff !important;
    }
  }

  &--transparent{
    background: $color-transparent;
  }

  &--clear{
    background: none;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0;
    height: auto;
    color: $color-pale-slate;

    &:active{
      border: none;
      background-image: none !important;
      box-shadow: none !important;
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }

    &:active:focus{
      outline: none !important;
      box-shadow: none;
      box-shadow: inset 0;
    }
  }

  &--plus{
    position: relative;
    color: #fff;
    width: 25px;
    height: 25px;
    z-index: 1;
    font-size: 22px !important;
    line-height: 23px !important;

    &:after{
      content: '';
      background-color: #53BA5D;
      position: absolute;
      left: 2px;
      top: 3px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &--left{
    float: left;
  }

  &--right{
    float: right;
  }

  &--mini{

  }

  &--small{

  }

  &--large{

  }


}
