@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.date-selects{
  @include clearfix;
  margin-bottom: 15px;

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  p{
    float: left;
    min-width: 95px;
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;

    @include breakpoint('phone-max') {
      float: none;
      margin: 0 0 5px;
    }
  }

  .form-group{
    display: inline-block;
    vertical-align: top;
    width: 94px;
  }

  .select-wrapp {
    float: left;
    max-width: 297px;

    select {
      display: inline-block;
      vertical-align: top;
    }

    .form-group {
      position: relative;
      margin-right: 8px;

      &:first-child {
        width: 59px;
      }

      &:nth-child(3) {
        margin-right: 0;
        width: 64px;
      }

      &:after {
        right: 8px;
        top: 13px;
        position: absolute;
        content: '';
        border: 3px solid transparent;
        border-top: 6px solid #000;
        display: block;
        width: 0;
        height: 0;
        pointer-events: none;
      }
    }
    p{
      display: block;
      width: 100%;
      clear: both;
      font-size: 8px;
      line-height: 10px;
      @include font-base-light;
      margin: -10px 0 0;
    }
  }
}