@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.edit-search{
  max-width: 846px;
  width: 100%;
  margin:0 0 25px;

  &__form-search{
    padding-left: 30px;

    @include breakpoint('phone-max') {
      padding-left: 10px;
    }
  }

  &__wrapp{
    @include clearfix;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    position: relative;

    button{
      font-size: 14px;
      line-height: 17px;
      font-size: 17px;
      line-height: 20px;
      @include font-base-light;
      @include font-base-semi-bold;
      color: $color-tundora;
      color: #fff;
      text-transform: uppercase;
      text-transform: none;
      padding: 0;
//      margin-left: 24px;
      background-image: linear-gradient(-90deg, #B850A4 0%, #9952AA 100%);
      width: 103px;
      height: 54px;

      &:focus,
      &:active,
      &:hover{
        color: #fff !important;
        background-image: linear-gradient(90deg, #B850A4 0%, #9952AA 100%) !important;
      }

      @include breakpoint('phone-max') {
        font-size: 10px;
        line-height: 12px;
        font-size: 12px;
        line-height: 14px;
//        margin-left: 11px;
      }
    }

    .form-group{
      max-width: 733px;
      width: 100%;
      margin: 0;
    }

    .big-search{
      max-width: 733px;
      width: 100%;

      .input__wrapper{
        max-width: 100%;

        .form-control{
          height: 56px;
          background: #EEEFEE;
          font-size: 14px;
          line-height: 17px;
          color: $color-tundora;
          padding: 0 26px;
          border-radius: 0;
          outline: none !important;
          box-shadow: none !important;
          border: none !important;

          &:hover,
          &:visited,
          &:active,
          &:focus{
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
          }
        }
      }
    }
  }

  &__caption{
    font-size: 12px;
    line-height: 14px;
    @include font-base-light;
    color: $color-dusty-gray;
    margin-bottom: 35px;
    clear: both;
    width: 100%;
    max-width: 733px;
    display: none;

    @include breakpoint('phone-max') {
      margin-bottom: 15px;
    }
  }

  &__info{
    font-size: 18px;
    line-height: 21px;
    @include font-base-light;
    margin: 0 0 48px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('phone-max') {
      font-size: 16px;
      line-height: 19px;
      @include font-base-light;
      margin: 15px 0 28px;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
    }

    span{
      color: $color-tundora;
      font-size: 24px;
      line-height: 29px;
      @include font-base-black;
      text-transform: none;

      @include breakpoint('phone-max') {
        font-size: 15px;
        line-height: 17px;
        display: inline-block;
        padding-bottom: 10px;
      }
    }

    a{
      font-size: 17px;
      line-height: 20px;
      @include font-base-semi-bold;
      color: $color-tundora;
      color: #fff;
      background-image: linear-gradient(-90deg, #B850A4 0%, #9952AA 100%);
      min-width: 161px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus,
      &:hover{
        text-decoration: none;
        color: #fff;
        outline: none;
        background-image: linear-gradient(90deg, #B850A4 0%, #9952AA 100%);
      }

      @include breakpoint('phone-max') {
        font-size: 12px;
        line-height: 14px;
        min-width: 120px;
        height: 46px;
      }
    }
  }
}