
@font-face {
  font-family: 'montserratthin';
  src: url('../../fonts/font-moserat/montserrat-thin-webfont.eot');
  src: url('../../fonts/font-moserat/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/font-moserat/montserrat-thin-webfont.woff2') format('woff2'),
      url('../../fonts/font-moserat/montserrat-thin-webfont.woff') format('woff'),
      url('../../fonts/font-moserat/montserrat-thin-webfont.ttf') format('truetype'),
      url('../../fonts/font-moserat/montserrat-thin-webfont.svg#montserratthin') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratregular';
  src: url('../../fonts/font-moserat/montserrat-regular-webfont.eot');
  src: url('../../fonts/font-moserat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font-moserat/montserrat-regular-webfont.woff2') format('woff2'),
  url('../../fonts/font-moserat/montserrat-regular-webfont.woff') format('woff'),
  url('../../fonts/font-moserat/montserrat-regular-webfont.ttf') format('truetype'),
  url('../../fonts/font-moserat/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratlight';
  src: url('../../fonts/font-moserat/montserrat-light-webfont.eot');
  src: url('../../fonts/font-moserat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/font-moserat/montserrat-light-webfont.woff2') format('woff2'),
      url('../../fonts/font-moserat/montserrat-light-webfont.woff') format('woff'),
      url('../../fonts/font-moserat/montserrat-light-webfont.ttf') format('truetype'),
      url('../../fonts/font-moserat/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratbold';
  src: url('../../fonts/font-moserat/montserrat-bold-webfont.eot');
  src: url('../../fonts/font-moserat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font-moserat/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../fonts/font-moserat/montserrat-bold-webfont.woff') format('woff'),
  url('../../fonts/font-moserat/montserrat-bold-webfont.ttf') format('truetype'),
  url('../../fonts/font-moserat/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratblack';
  src: url('../../fonts/font-moserat/montserrat-black-webfont.eot');
  src: url('../../fonts/font-moserat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font-moserat/montserrat-black-webfont.woff2') format('woff2'),
  url('../../fonts/font-moserat/montserrat-black-webfont.woff') format('woff'),
  url('../../fonts/font-moserat/montserrat-black-webfont.ttf') format('truetype'),
  url('../../fonts/font-moserat/montserrat-black-webfont.svg#montserratblack') format('svg');
  font-weight: normal;
  font-style: normal;

}