@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.headphones{

  color: $color-dusty-gray;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;

  &__text{
    padding-top: 2px;
  }

  i{
    font-size: 12px;
    line-height: 14px;
    margin: 2px 6px 0 10px;
  }
}