@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.sec-nav {
    z-index: 3;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 4px #CCCCCC;
    overflow: auto;
    scroll-behavior: smooth;

    @include breakpoint('tablet-max') {
        display: none;
    }

    .sec-nav-cnt {
        padding: 12px 27px !important;
        display: flex;
        margin: auto;

        & > div {
            font-size: 18px;
            color: #41415F;
        }
        & > div:first-child {
            border-right: 1px solid #DEDEDE;
            padding-right: 44px;
            white-space: nowrap;
            letter-spacing: -0.4px;
        }
        & > div:last-child {
            margin-left: auto;
            white-space: nowrap;
        }

        ul {
            display: flex;
            padding-right: 40px;

            a {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #A4A6B6;
                margin-left: 37px;
                letter-spacing: -0.3px;
                white-space: nowrap;
                cursor: pointer;

                img {
                    margin-right: 10px;
                    height: 16px;
                }
                img:nth-child(1) {
                    display: inline;
                }
                img:nth-child(2) {
                    display: none;
                }

                &.active {
                    img:nth-child(1) {
                        display: none;
                    }
                    img:nth-child(2) {
                        display: inline;
                    }
                    color: $color-purple-brand;
                }
            }
        }
    }
}